<h3>
    Referencias
</h3>


<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">

                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input #edtNombre [value]="contactoSelec?.nombres" type="text" class="form-control">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input [value]="contactoSelec?.primerApellido" #edtApellidoP type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input [value]="contactoSelec?.segundoApellido" #edtApellidoM type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputState">Parentesco</label>
                        <select [value]="contactoSelec?.idTipoRelacionContacto" #selecParentesco id="inputState"
                            class="form-control">
                            <option [value]="-1" selected>--Selecciona Parentesco--</option>
                            <option *ngFor="let relacion of listTipoRelaciones"
                                [value]="relacion.id_tipo_relacion_contacto">
                                {{relacion.tipo_relacion_contacto}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Teléfono Fijo</label>
                        <input #edtTelefonoFijo class="form-control phone" type="number" maxlength="10"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Teléfono Celular</label>
                        <input #edtTelefonoCel class="form-control phone" type="number" maxlength="10"
                            oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>
                </div>

                <div class="form-row">
                 
                    <div class="col-md-4 offset-10" style="margin-top: 2%">
                        <div class="form-row">
                            <div class="form-group col-md-1.5">
                                <button (click)="limpiarForm()" type="button"
                                    class="btn btn-outline-danger btn-sm">Limpiar</button>
                            </div>
                            <div class="form-group col-md-1.5">
                                <button #btnGuardar (click)="onSaveClick()" type="button"
                                    class="btn btn-outline-success btn-sm">{{strBotonGuardar}}</button>
                            </div>
                        </div>


                    </div>
                </div>
                <div class=" form-group col-md 6">

                    <h5>Referencias</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color: blue"  scope="col">Nombre</th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let referencia of listContactos">

                                <td>{{referencia.contacto.nombres }} {{referencia.contacto.primerApellido}}
                                    {{referencia.contacto.segundoApellido}}
                                </td>
                                <td>
                                    <i (click)="onClickDomicilioReferencia(referencia)" class="material-icons manita"
                                        data-toggle="tooltip" data-placement="top"
                                        title="Agregar Domicilio de la referencia" style="color: blue">add_location</i>

                                    <i (click)="editarContacto(referencia)" class="manita material-icons"
                                        style="color: green">edit</i> &nbsp;
                                    <i (click)="onClickEliminarContacto(referencia.contacto)"
                                        class="material-icons manita" style="color: red"> delete</i>

                                </td>


                            </tr>

                        </tbody>
                    </table>
                </div>

            </form>
        </div>
    </div>
</div>


<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInputSave" (dataGuardar)="onSaveConfirm($event)">
</app-modal-guardar>
<app-modal-domicilio-ref [openModal]="openModalDomicilioRef" [dataInput]="dataInputModalDomicilio"
    (dataDomicilioRef)="resposeDataDomiclioRef($event)">
</app-modal-domicilio-ref>