<div *ngIf="!isFull" class="text-center">
    <div class="spinner-border text-success" role="status" [ngStyle]="{'width':sizeSpinner,'height':sizeSpinner}">
        <span class="sr-only">Loading...</span>
    </div>

</div>

<!--====FULL SCREEN PRELOADER===-->

<div *ngIf="isFull" class="black-screen">
    <div>
        <div class="text-center" style="padding-top: 20%;">
            <div class="spinner-grow text-primary " style="width: 5rem; height: 5rem;" role="status ">
                <span class="sr-only ">Loading...</span>

            </div>
            <br>
            <h3 class="text-center card-title">Cargando datos...</h3>

        </div>
    </div>
</div>

<!--===========================-->