<h3>
  Contactos
</h3>


<div class="row">
<<<<<<< HEAD
  <div class="col-sm-6">
=======
  <div class="col-sm-4">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ingresos Familiares</h5>
        <form>

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Apellido Paterno</label>
              <input type="text" class="form-control" placeholder="Apellido Paterno">
            </div>
            <div class="form-group col-md-6">
              <label>Apellido Materno</label>
              <input type="text" class="form-control" placeholder="Apellido Materno">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label> Ingreso Mensual</label>
              <input type="text" class="form-control" placeholder="0.0">
            </div>
            <div class="form-group col-md-6">
              <label for="inputState">Parentesco</label>
              <select id="inputState" class="form-control">
                <option selected>--Selecciona Parentesco--</option>
                <option *ngFor="let relacion of listTipoRelaciones" [value]="relacion.id_tipo_relacion_contacto">
                  {{relacion.tipo_relacion_contacto}}</option>
              </select>
            </div>

          </div>
<<<<<<< HEAD
          <div class="form-row ">
            <div class="form-group col-md-4 offset-md-8">
              <div class="form-group  text-center" style="margin-top: 0%">
                <i class="material-icons " style="font-size: 28px !important; color: blue;cursor: pointer;">
                  add_circle
                </i>
                <br>
                <label for="exampleFormControlFile1">Agregar Empleo</label>
              </div>
            </div>
          </div>
=======
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
          <div class="col-md-10 offset-5">
            <div class="form-row">
              <button type="button" class="btn  btn-outline-danger custom-control-inline"
                data-dismiss="modal">Limpiar</button>
              <button type="button" class="btn  btn-outline-success ">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<<<<<<< HEAD
  <div class="col-sm-6">
=======
  <div class="col-sm-4">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Referencias</h5>
        <form>

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Apellido Paterno</label>
              <input type="text" class="form-control" placeholder="Apellido Paterno">
            </div>
            <div class="form-group col-md-6">
              <label>Apellido Materno</label>
              <input type="text" class="form-control" placeholder="Apellido Materno">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Teléfono Fijo</label>
              <input type="tel" class="form-control" placeholder="Teléfono Fijo">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Teléfono Celular</label>
              <input type="tel" class="form-control" placeholder="Teléfono Celular">
            </div>
          </div>
          <div class="form-row">

            <div class="form-group col-md-12">
              <label for="inputState">Parentesco</label>
              <select id="inputState" class="form-control">
                <option selected>--Slecciona Parentesco--</option>
                <option *ngFor="let relacion of listTipoRelaciones" [value]="relacion.id_tipo_relacion_contacto">
                  {{relacion.tipo_relacion_contacto}}</option>
              </select>
            </div>

          </div>
          <div class="col-md-10 offset-5">
            <div class="form-row">
              <button type="button" class="btn  btn-outline-danger custom-control-inline"
                data-dismiss="modal">Limpiar</button>
              <button type="button" class="btn  btn-outline-success ">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<<<<<<< HEAD

=======
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contactos Empleo</h5>
        <form>

          <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>Apellido Paterno</label>
              <input type="text" class="form-control" placeholder="Apellido Paterno">
            </div>
            <div class="form-group col-md-6">
              <label>Apellido Materno</label>
              <input type="text" class="form-control" placeholder="Apellido Materno">
            </div>
          </div>
          <div class="form-group ">
            <label>Teléfono</label>
            <input type="tel" class="form-control" placeholder="Teléfono">
          </div>
          <div class="col-md-10 offset-5">
            <div class="form-row">
              <button type="button" class="btn  btn-outline-danger custom-control-inline"
                data-dismiss="modal">Limpiar</button>
              <button type="button" class="btn  btn-outline-success ">Guardar</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
</div>