<div *ngIf="mostrarModificar" class="pantallaCompleta">
  <div class="bloqueado">
    <div *ngIf="mostrarConfirmar" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <label class="flow-text">¿Desea guardar nuevo nombre?</label>
            <div class="container">
              <div class="row">
                <div
                  (click)="mostrarConfirmar = false"
                  class="waves-effect waves-light  btn botonNo links"
                >
                  <h6>Cancelar</h6>
                </div>
                <div
                  (click)="modificar(nombre.value)"
                  class="waves-effect waves-light  btn botonSi links"
                >
                  <h6>Guardar</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">Modificar Nombre</label>
        <div class="container">
          <hr />
          <div class="row">
            <form
              [formGroup]="formularioMod"
              class="col s12"
              (ngSubmit)="alertConfirmarMod()"
              novalidate="novalidate"
            >
              <div class="row">
                <div class="input-field col s12">
                  <input
                    #nombre
                    formControlName="nombreModArea"
                    id="textarea1"
                    class="validate center"
                    type="text"
                    
                  />

                  <label class="active" for="textarea1">Nombre del Área</label>
                  <div class="red-text" 
                    *ngIf="formularioMod.get('nombreModArea').errors?.required">
                    El nombre es necesario
                  </div>
                  <div class="red-text" 
                    *ngIf="formularioMod.get('nombreModArea').errors?.minlength">
                    El nombre debe tener mas de 3 carcateres
                  </div>
                </div>
              </div>
              <div class="container form-group">
                <button
                  (click)="mostrarModificar = false"
                  class="btn  botonNo links"
                >
                  <h6>Cancelar</h6>
                </button>
                <button type="submit" class=" btn  botonSi links">
                  <h6>Guardar</h6>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">¿Desea Eliminar?</label>

        <div class="container">
          <div class="row">
            <div
              (click)="mostrarEliminar = !mostrarEliminar"
              class="waves-effect waves-light  btn botonNo links"
            >
              <h6>Cancelar</h6>
            </div>
            <div
              (click)="eliminar()"
              class="waves-effect waves-light  btn botonSi links"
            >
              <h6>Eliminar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class=" btn">
    <div class="right">
      <i (click)="alertModificar()" class="material-icons iconos links">edit</i>
      <i
        (click)="mostrarEliminar = !mostrarEliminar"
        class="material-icons iconos links"
        >delete</i
      >
      <i
        (click)="mostrarAuditorias()"
        *ngIf="!desplegar()"
        class="material-icons iconos links "
        >expand_more</i
      >
      <i
        (click)="mostrarAuditorias()"
        *ngIf="desplegar()"
        class="material-icons iconos links"
        >expand_less</i
      >
    </div>
    <div class="left">
      <h6>{{ area.nombreArea }}</h6>
    </div>
  </div>
  <div *ngIf="desplegar()" class="cajaBordeAzul">
    <div class="textocaja">
      <h6 class="texto">Auditorias:</h6>
    </div>

    <div class="container" *ngFor="let auditoria of listAuditoriasArea">
      <app-loading *ngIf="loadingData" [sizeLoading]="'small'"> </app-loading>

      <a class="btn">{{ auditoria.nombreAuditoria }}</a>
    </div>
  </div>
</div>
