<div class="centroPantalla">
  <div class="cajaBordeGris">
    
    <i style="padding-right: 10px" class="right green-text material-icons cPointer" (click)="getAduitoriasSubAdministrador()">
      refresh
    </i>

    <label class="flow-text">Auditorías</label>
    <hr />
    <div class="container">


      <div>
        <div class="input-field">
          <i class="material-icons prefix">search</i>

          <input #searchInput type="text" class="validate" id="buscar" (keyup)="searchAuditorias(searchInput.value)" />
          <label for="buscar">Buscar</label>
        </div>
      </div>
    </div>

    <div class="container cajalista">

      <app-loading *ngIf="lodingAuditoiriasCreadas"></app-loading>
      <!-- aqui van los elementos -->
      <app-asig-item *ngFor="let auditoria of listAuditoriasSearch" [auditoria]="auditoria"
        (actualizarListaAuditorias)="getAduitoriasSubAdministrador()">
      </app-asig-item>

    </div>
  </div>
</div>

