.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
.centroPantallaMnus{

  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 45%;
  max-height: 90%;
  width: 70%;
  margin: -15% 0 0 -25%;
}

.cajaBordeGris{

  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  min-width: 300px;

}
.btn{
  background: #5c6bc0;
  margin-top: 5px;
  max-height: 35px;
  height: auto;
  width: 100%;
  margin: 2px;

}
.cajaBordeGris{
  background: #e8eaf6 ;
}
.bloqueado{
  z-index: 1;
  display: absolute;
  position:fixed;
  top:0px;
  left:0px;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}

.botonSi{
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-top: auto;
  max-height: auto;
  height: auto;
  width: auto;
  margin: auto;
  width: 50%
}
.botonNo{
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  background: red;
  margin-top: auto;
  max-height: auto;
  height: auto;
  width: auto;
  margin: auto;

  width: 50%;
}



.enLinea{
  display: inline-block;
}


.inputs{
  padding: 0px;
  margin-top: 3px;
  margin-bottom: 0px;
  max-height: 25px;
  margin-left: 2px;
  padding-top: 0px;
}
.inputRango{
  max-height: 20px;
  text-align: center;
  color:  #c5cae9;

}
.etiqueta{
  padding-top: 5px;
  margin-top: 0px;
  max-height: 20px;
  text-transform: capitalize;
  line-height: 0px;
}

.rangos{
  padding: 0px;
  width:30%;
}

.mensaje{
  width:40%;
}
.iconos{
  width: 20%;
  min-width:110px;
}
.botonR{
  min-width:195px;
}
.icono{
  margin-left: 10px;
}
.inputs2{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
}
.etiqueta2{
  padding-top: -20px;
  margin-top: 0 px;
  max-height: auto;
  text-transform: capitalize;
  line-height: 36px;
}


.rangos2{
  padding: 0px;
  width:30%;
}

.mensaje2{
  width:60%;
}

.input-field input[type=number]:empty+ label {
  margin-top: 13px;
  color: #c5cae9;
}

/* label focus color */
  .input-field input[type=number]:focus + label {
    margin-top: 13px;
    color:  #c5cae9;
  }
  /* label underline focus color */
  .input-field input[type=number]:focus {
    border-bottom: 1px solid  #c5cae9;
    box-shadow: 0 1px 0 0  #c5cae9;
  }
  /* valid color */
  .input-field input[type=number].valid {

    border-bottom: 1px solid  #c5cae9;
    box-shadow: 0 1px 0 0 # #c5cae9;
  }
  .input-field input[type=number].valid + label{
    color:  #c5cae9;
    margin-top: 13px;

  }
  .input-field input[type=number].invalid + label{
    color:  #c5cae9;
    margin-top: 0px;

  }



  .input-field2 input[type=number]:empty+ label {
    margin-top: -30px;
    color: #000;
  }
  /* label focus color */
    .input-field2 input[type=number]:focus + label {
      margin-top: 0px;
      color:  #000;
    }
    /* label underline focus color */
    .input-field2 input[type=number]:focus {
      border-bottom: 1px solid  #000;
      box-shadow: 0 1px 0 0  #000;
    }
    /* valid color */
    .input-field2 input[type=number].valid {

      border-bottom: 1px solid  #000;
      box-shadow: 0 1px 0 0 # #000;
    }
    .input-field2 input[type=number].valid + label{
      color:  #000;
      margin-top: 0px;

    }
    .input-field2 input[type=number].invalid + label{
      color:  #000;
      margin-top: 0px;

    }




      .input-field input[type=text]:empty+ label {
        margin-top: -25px;
        color: #000;
      }
    /* label focus color */
      .input-field input[type=text]:focus + label {
        margin-top: 0px;
        color:  #000;
      }
      /* label underline focus color */
      .input-field input[type=text]:focus {
        border-bottom: 1px solid  #000;
        box-shadow: 0 1px 0 0  #000;
      }
      /* valid color */
      .input-field input[type=text].valid {

        border-bottom: 1px solid  #000;
        box-shadow: 0 1px 0 0 # #000;
      }
      .input-field input[type=text].valid + label{
        color:  #000;
        margin-top: 0px;

      }
      .input-field input[type=text].invalid + label{
        color:  #000;
        margin-top: 0px;

      }
