<app-email [rango]="rango" *ngIf="mostrarCorreos"></app-email>
<div *ngIf="mostrarModificar" class="pantallaCompleta">
  <div class="bloqueado">
    <div *ngIf="mostrarConfirmar" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <label class="flow-text">¿Desea guardar los cambios?</label>

            <div class="container">
              <div class="row">
                <div
                  (click)="mostrarConfirmar = false"
                  class="waves-effect waves-light  btn botonNo links"
                >
                  <h6>Cancelar</h6>
                </div>
                <div
                  (click)="setActualizarRango()"
                  class="waves-effect waves-light  btn botonSi links"
                >
                  <h6>Guardar</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">Modificar rango</label>

        <div class="container">
          <hr />
        </div>

        <div class="">
          <form
            class=""
            [formGroup]="formModRango"
            (ngSubmit)="alertConfirmar()"
          >
            <div class="enLinea">
              <div class=" enLinea inputs2">
                <div class=" input-field input-field2 ">
                  <input
                    #modMin
                    formControlName="minValue"
                    class=" validate "
                    type="number"
                    id="min"
                    min="0"
                    max="100"
                  />
                  <label class="etiqueta2" for="min">min</label>
                </div>
              </div>
              <div class="enLinea inputs2">
                <div class="input-field input-field2 ">
                  <input
                    #modMax
                    formControlName="maxValue"
                    class=" validate "
                    type="number"
                    id="maxsend"
                    min="0"
                    max="100"
                  />
                  <label class="etiqueta2" for="maxsend">max</label>
                </div>
              </div>
            </div>
            <div class=" mensaje2 enLinea inputs2">
              <div class="input-field">
                <input
                  #modMensaje
                  formControlName="mensaje"
                  class=" validate "
                  type="text"
                  id="mensaje"
                />
                <label class="" for="mensaje">Mensaje</label>
              </div>
            </div>
            <div class="container">
              <button (click)="mostrarModificar = false" class="btn  botonNo">
                <h6>Cancelar</h6>
              </button>
              <button
                type="submit"
                class="btn  botonSi"
              >
                <h6>Guardar</h6>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">¿Desea Eliminar?</label>

        <div class="container">
          <div class="row">
            <div
              (click)="mostrarEliminar = !mostrarEliminar"
              class="waves-effect waves-light  btn botonNo links"
            >
              <h6>Cancelar</h6>
            </div>
            <div
              (click)="setDeshablitarRango()"
              class="waves-effect waves-light  btn botonSi links"
            >
              <h6>Eliminar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="50">
  <div class=" btn rangos botonR">
    <div class="">
      <div class=" enLinea">
        <div class=" input-field inputs">
          <input
            disabled
            value="{{ rango.limiteInferior }}"
            class="white-text validate inputRango"
            type="number"
            id="min"
            min="0"
            max="100"
          />
          <label class="  active etiqueta" for="min">min</label>
        </div>
      </div>
      <div class="enLinea">
        <div class="input-field inputs">
          <input
            disabled
            value="{{ rango.limiteSuperior }}"
            class="white-text validate inputRango"
            type="number"
            id="max"
            min="0"
            max="100"
          />
          <label class="  active etiqueta" for="max">max</label>
        </div>
      </div>
    </div>
  </div>
  <div class=" btn mensaje enLinea">
    {{ rango.mensaje }}
  </div>
  <div class="btn iconos enLinea">
    <i (click)="alertModificar()" class="material-icons ">create</i>
    <i (click)="mostrarCorreos = true" class="material-icons icono">email</i>
    <i (click)="mostrarEliminar = true" class="material-icons icono">delete</i>
  </div>
</div>
