<div class="pantallaCompleta" *ngIf="mostrarLista">
  <div class="bloqueado">
    <div class="centroPantallaLista">
      <div class="cajaBordeGris">
        <label class="flow-text">Lista de personal</label>
        <div class="container">
          <hr />
          <div class="">
            <div>
              <div class="input-field">
                <i class="material-icons prefix ">search</i>

                <input #searchInput type="text" class="validate" id="buscar"
                  (keyup)="searchPerson(searchInput.value)" />
                <label for="buscar">Buscar</label>
              </div>
            </div>
            <div>
              <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
                <app-loading *ngIf="cargandoPersonal"></app-loading>
                <div *cdkVirtualFor="let persona of listSearchPerson let i = index; let conteo =count" class="btn">
                  <p>
                    <label class="blue-text">
                      <input class="checkbox" type="checkbox" (click)="addAndRemoveItemsPersona(persona)"
                        [checked]="persona.isSelected" />
                      <span> {{ persona.nombre || 'Cargando...' }}</span>
                    </label>
                  </p>
                </div>
              </cdk-virtual-scroll-viewport>

              <!-- <div *ngFor="let persona of listSearchPerson">
                <div class="btn">
                  <p>
                    <label class="blue-text">
                      <input class="checkbox " type="checkbox" (click)="addAndRemoveItemsPersona(persona)"
                        [checked]="persona.isSelected" />
                      <span> {{ persona.nombre }}</span>
                    </label>
                  </p>
                </div>
              </div> -->

            </div>
            <div class="container row">
              <div (click)="cerrarDialogoPersonas()" class="btn botonNo left">
                <h6>Cerrar</h6>
              </div>
              <div class="btn botonSi right" (click)="verificarCorreosPersonas()">
                <h6>Agregar</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="centroPantalla">
  <div class="cajaBordeGris">
    <div class="cajaOpcion">
      <div (click)="showAlertAsigAuditores()" class="cajaAgregar">
        <i class="material-icons ">add_circle </i>
      </div>
    </div>
    <label class="flow-text">Auditores</label>

    <div class="container">
      <hr />
    </div>

    <div class="container" *ngFor="let auditor of listAuditoresSubadmin">
      <!-- aqui van los elementos -->
      <app-auditor-item [auditor]='auditor'></app-auditor-item>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <form [formGroup]="formularioCorreos">
    <div class="modal-content">
      <h4 class="text center">Asignacion de Correos</h4>
      <hr />
      <p>
        <span>
          Las siguientes personas no tiene un correo asignado por favor asigna un
          correo para poder agregarlas.
        </span>
        <br /><br />
      </p>

      <ul class="collection" formArrayName="correos">
        <li class="collection-item" *ngFor="let persona of listPersonaSinCorreo; let i = index">
          <div>
            <span><b>{{persona.nombre}}</b></span>
            <div class="input-field  col s12">
              <input id="email" type="email" class="validate" [formControlName]="i" />
              <label for="email">Email</label>
            </div>
          </div>
        </li>
      </ul>

    </div>

    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-small" (click)="closeDialogCorreos()" style="display: inline-block;
        margin-right: 5px; ">Cancelar</a>
      <a class="waves-effect waves-green btn-small" (click)="setCorreos()">Asignar Correos</a>
    </div>
  </form>
</div>