<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade bd-example-modal-sm show" style="display: inline-block" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos Casa Renta</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">Monto Renta</label>
                        <input #edtImporte [value]="_SoliciudService.solicitudCompleta.infoCliente.domicilioCliente.domicilio.importeRenta||''" type="text" class="form-control" id="exampleFormControlInput1">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
                    <button type="button" (click)="sendData()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>