<h3>
    Finalizar Solicitud
</h3>

<div>
    <h4 style="color: black;">Cliente: {{_solicitudService.cliente.nombres}} {{_solicitudService.cliente.primerApellido}} {{_solicitudService.cliente.segundoApellido}}
    </h4>
</div>
<hr>
<div style="max-width: 400px" class="margen-izq10 ">

    <div>
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a (click)="onClickTitle(_solicitudService.DatosPersonalesCliente)">Datos Cliente</a></label>
            </td>
            <td>
                <i *ngIf="okDatosCliente() == 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okDatosCliente() == 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okDatosCliente() == 3" class="material-icons txt-rojo col-1">highlight_off</i>
            </td>
        </tr>
        <hr>
    </div>

    <div>
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.DomicilioCliente)"> Domicilio Cliente</a></label>
            </td>
            <td>
                <i *ngIf="okDomicilioCliente()== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okDomicilioCliente()== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okDomicilioCliente()== 3" class="material-icons txt-rojo col-1">highlight_off</i>

            </td>
        </tr>
        <hr>
    </div>

    <div *ngIf="clienteCuentaEmpleo()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.DatosEmpleoCliente)">Empleos Cliente</a></label>
            </td>

        </tr>
        <tr>
            <div class="margen-izq30">
                <div *ngFor="let empleo of _solicitudService.solicitudCompleta.infoCliente.empleosCliente" class=" margen-izq10 etiqueta1">
                    <tr>
                        <td>
                            <label class="etiqueta1 en-lista">{{empleo.empleo.puesto}} en {{empleo.empleo.nombreEmpresa}}</label>
                        </td>
                        <td>
                            <i *ngIf="okEmpleo(empleo) == 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                            <i *ngIf="okEmpleo(empleo) == 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                            <i *ngIf="okEmpleo(empleo) == 3" class="material-icons txt-rojo col-1">highlight_off</i>

                        </td>
                    </tr>


                </div>

            </div>
        </tr>

        <hr>
    </div>
    <div *ngIf="tieneConyuge()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.DatosConyugeCliente)" >Datos Cónyuge Cliente</a></label>
            </td>
            <td>
                <i *ngIf="okDatosConyuge()== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okDatosConyuge()== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okDatosConyuge()== 3" class="material-icons txt-rojo col-1">highlight_off</i>

            </td>
        </tr>
        <hr>
    </div>
    <div *ngIf="conyugeTieneEmpleo()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a   (click)="onClickTitle(_solicitudService.DatosEmpleoConyugeCliente)"> Empleos Cónyuge Cliente</a></label>
            </td>

        </tr>
        <tr>
            <div class="margen-izq30">
                <div *ngFor="let empleo of _solicitudService.solicitudCompleta.infoCliente.conyugeCliente.infoEmpleosContacto" class=" margen-izq10 etiqueta1">
                    <tr>
                        <td>
                            <label class="etiqueta1 en-lista">{{empleo.empleo.puesto}} en {{empleo.empleo.nombreEmpresa}}</label>
                        </td>
                        <td>
                            <i *ngIf="okEmpleo(empleo) == 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                            <i *ngIf="okEmpleo(empleo) == 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                            <i *ngIf="okEmpleo(empleo) == 3" class="material-icons txt-rojo col-1">highlight_off</i>

                        </td>
                    </tr>


                </div>

            </div>
        </tr>

        <hr>
    </div>
    <div *ngIf="tieneReferencias()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.Referencias)">Referencias</a>
            </label>
            </td>

        </tr>
        <tr>
            <div class="margen-izq30">
                <div *ngFor="let ref of _solicitudService.getContactos(1)" class=" margen-izq10 etiqueta1">
                    <tr>
                        <td>
                            <label class="etiqueta1 en-lista">{{ref.contacto.nombres}} {{ref.contacto.primerApellido}}
                {{ref.contacto.segundoApellido}}</label>
                        </td>
                        <td>
                            <i *ngIf="okReferencia(ref)== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                            <i *ngIf="okReferencia(ref)== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                            <i *ngIf="okReferencia(ref)== 3" class="material-icons txt-rojo col-1">highlight_off</i>

                        </td>
                    </tr>


                </div>

            </div>
        </tr>

        <hr>
    </div>
    <div *ngIf="tieneIngresosFamiliares()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.IngresoMensual)"></a>Ingresos
                Familiares</label>
            </td>

        </tr>
        <tr>
            <div class="margen-izq30">
                <div *ngFor="let ingreso of _solicitudService.getContactos(2)" class=" margen-izq10 etiqueta1">
                    <tr>
                        <td>
                            <label class="etiqueta1 en-lista">{{ingreso.contacto.nombres}} {{ingreso.contacto.primerApellido}}
                {{ingreso.contacto.segundoApellido}}</label>
                        </td>
                        <td>
                            <i *ngIf="okIngreso(ingreso)== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                            <i *ngIf="okIngreso(ingreso)== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                            <i *ngIf="okIngreso(ingreso)== 3" class="material-icons txt-rojo col-1">highlight_off</i>

                        </td>
                    </tr>


                </div>

            </div>
        </tr>

        <hr>
    </div>
    <div *ngIf="requiereAval()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"><a  (click)="onClickTitle(_solicitudService.DatosAval)"> Datos Aval</a></label>
            </td>
            <td>
                <i *ngIf="okDatosAval() == 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okDatosAval() == 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okDatosAval() == 3" class="material-icons txt-rojo col-1">highlight_off</i>

            </td>
        </tr>
        <hr>
    </div>
    <div *ngIf="requiereAval()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"> <a  (click)="onClickTitle(_solicitudService.DomicilioAval)"> Datos Domicilio Aval
                </a></label>
            </td>
            <td>
                <i *ngIf="okDomicilioAval()== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okDomicilioAval()== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okDomicilioAval()== 3" class="material-icons txt-rojo col-1">highlight_off</i>

            </td>
        </tr>
        <hr>
    </div>
    <div *ngIf="existeConyugeAval()">
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"> <a  (click)="onClickTitle(_solicitudService.DatosConyugeAval)">Cónyuge Aval</a>
            </label>
            </td>
            <td>
                <i *ngIf="okConyugeAval()== 1" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="okConyugeAval()== 2" class="material-icons  txt-amarillo col-1">report_problem </i>
                <i *ngIf="okConyugeAval()== 3" class="material-icons txt-rojo col-1">highlight_off</i>

            </td>
        </tr>
        <hr>
    </div>

    <div>
        <tr class="row-3">
            <td>
                <label class="etiqueta0 manita"> <a  (click)="onClickTitle(_solicitudService.AgregarPedido)">Pedidos</a></label>
            </td>
            <td>
                <i *ngIf="okPedido()" class="material-icons txt-verde col-1">check_circle_outline</i>
                <i *ngIf="!okPedido()" class="material-icons  txt-rojo col-1">highlight_off</i>
            </td>
        </tr>
        <tr>
            <div class="margen-izq30">
                <div *ngFor="let pedido of _solicitudService.solicitudCompleta.pedidosAdjuntos" class=" margen-izq10 etiqueta1">
                    <tr>
                        <td>
                            <label class="etiqueta1 en-lista">Pedido: {{pedido.pedido}} Venta: {{pedido.numeroVenta}} </label>
                        </td>

                    </tr>


                </div>

            </div>
        </tr>
        <hr>
    </div>
    <div class="container" style="margin-bottom: 50px">
        <button type="button" class="btn  btn-outline-success btn-l" (click)="onSaveClick()">Finalizar Solicitud</button>
    </div>

</div>
<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInput" (dataGuardar)="responseDataGuardar($event)">
</app-modal-guardar>