.en-linea {
    display: inline-flex;
}

.margen-izq10 {
    margin-left: 10px
}

.margen-izq30 {
    margin-left: 30px
}

.txt-verde {
    color: green
}

.txt-rojo {
    color: red
}

.txt-amarillo {
    color: #FFCC00
}

.en-lista {
    display: list-item;
}

.etiqueta0 {
    color: black;
    text-size-adjust: 10px;
    font-size: 24;
    font-weight: bold;
}

.etiqueta1 {
    color: rgb(31, 28, 28);
    text-size-adjust: 10px
}

.etiqueta2 {
    color: black;
    text-size-adjust: 8px
}