.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
.centroPantallaMnus{

  text-align: center;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 35%;
  height: 45%;
  max-height: 90%;
  width: 80%;
  margin: -10% 0 0 -25%;
}

.cajaBordeGris{

  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  min-width: 470px;

}
.pantallaCompleta{
  z-index: 1;
  position: absolute;
}

.bloqueado{
  top: 0%;
  left: 0%;
  position:fixed;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}


.cajaBordeGris{
  background: #e8eaf6 ;
}

.cajaBordeAzul{

  border:solid 5px #5c6bc0;
  background: #c5cae9 ;
  border-radius:5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding: 2px;
  height: 290px;


}

.s6{
  height: 5px;
}
p{
  margin: 0px;
}

.textocaja{
  text-color: #5c6bc0;
  width: 100%;
  text-align: left;
}
.textoAzul{
  color:  #5c6bc0
}

.texto{
  margin-left: 10px;
color: #5c6bc0;

}

/*ul li { display: inline-block;
  padding: 0 0px;
  margin-top: -10px;
  white-space: nowrap
}*/
.pantallaCompleta{
  z-index: 1;
  position: absolute;
}
.cajaBordeAzulChica{
  overflow:auto;
  height: 250px;
  padding: 2px;
  border:solid 1px #5c6bc0;
  background: #c5cae9 ;
  border-radius:5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 1px;
}

.btn{
  background: #5c6bc0;
  margin-top: 5px;
  width: 100%;
  text-transform: capitalize;
  height: auto;
}
.correo{
  margin-top: -10px;
  margin-bottom: -6px;
  color: #9fa8da;
  text-transform: lowercase;
}
.nombre{
  padding: 0px;
  margin:0px;
  margin-top: 5px;
}

.botonSi{
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 50%;
  margin-top:30px;
  height: 40px;
}
.botonNo{
  margin-top: 30px;
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  background: red;
  width: 50%;
  height: 40px;
}
.botonAtras{
  margin-top: 30px;
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  background:  #5c6bc0;
  width: 130px;
  height: 35px;
}

.links{
  cursor: pointer;
}

::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-track {
      background-color: #9fa8da;
      border-radius: 5px;

} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color:#5c6bc0;

      border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: #5c6bc0;
      height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
}
