<div class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantallaMnus">
      <div class="cajaBordeGris">
        <label class="flow-text">Asignar Correos</label>
        <br>
        <label>Rango: {{rango.limiteInferior}} - {{rango.limiteSuperior}}</label>
        <div class="container">
          <hr>
        </div>

        <div class="cajaBordeAzul">
          <div class="row">
            <div class="col s6">
              <p class="textoAzul">Disponibles</p>
            </div>
            <div class="col s6">
              <p class="textoAzul">Asignados</p>
            </div>

          </div>
          <div class="row">

            <div class=" cajaBordeAzulChica col s6 ">
              <ul>
                <li class="btn links" *ngFor="let dirDisponible of lsitDirectivosDisponibles"
                  (click)="asignarCorreoDirectivoArea(dirDisponible.idDirectivo)">

                  <h6 class="nombre">{{dirDisponible.nombre}}</h6>
                  <p class="correo">{{dirDisponible.correo}}</p>

                </li>
              </ul>

            </div>
            <div class=" cajaBordeAzulChica col s6">
              <ul>
                <li class="btn links" *ngFor="let dirAsignado of listDirectivosAsignados"
                  (click)="desAsignarCorreoDirectivoArea(dirAsignado.idRangoDirectivo)">

                  <h6 class="nombre">{{dirAsignado.nombre}}</h6>
                  <p class="correo">{{dirAsignado.correo}}</p>
                </li>

              </ul>



            </div>
          </div>



        </div>
        <div class="row container">
          <div (click)="cancelar()" class="waves-effect waves-light  btn botonAtras left">
            <i class="material-icons left">keyboard_arrow_left</i>
            <h6 class="left">Atrás</h6>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>