<div class="centroPantalla ">
  <div class="cajaBordeGrisd">
    <div style="text-align: center; font-size:25px; color: blue ">
      <b>Agregar domicilio del cliente</b>
      <hr>
    </div>
    <form [formGroup]= "formularioDomicilioCliente" (ngSubmit)="enviarDomicilioCliente()" [noValidate]="false"  >
    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Estado: </label>
        <div class="input-field inline">
          <select (change)="getCiudades($event.target.value)" class="browser-default" style="background: #eeeeee;height:30px">
            <option value="1">Seleccionar Estado</option>
            <option *ngFor="let estados of listEstados" [value]="estados.estado" >{{estados.nombre_estado}}</option>

          </select>
        </div>
      </div>

      <div class="col s6 ">
        <label style="color: black; font-size:20px">Ciudad:</label>
        <div class="input-field inline">
          <select (change)="getColonias($event.target.value)" class="browser-default" style="background: #eeeeee;height:30px">
            <option value="1">Seleccionar Ciudad</option>
            <option *ngFor="let ciudad of listCiudades"  [value]="ciudad.municipio">{{ciudad.nombre_municipio}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row left-align">

      <div class="col s6 ">
        <label style="color: black; font-size:20px">Colonia: </label>
        <div class="input-field inline">
            <input type="text" placeholder="Colonias" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let colonia of filteredOptions | async" [value]="colonia.nombre.trim()" [value]="colonia"  (onkeyup)="showCp(colonia)" (onSelectionChange)="showCp(colonia)" >
                {{colonia.nombre}}
              </mat-option>
            </mat-autocomplete>


         <!--  <select (change)="changeCP( $event.target.value)" class="browser-default" style="background: #eeeeee;height:30px">
            <option value="1">Seleccionar Colonia</option>
    
    <option *ngFor="let colonia of listColonias" [value]="colonia.codigo_postal" >{{colonia.nombre}}</option>
          </select> -->
        </div>
      </div>

      <div class="col s3 ">
        <div class="input-field inline up">
          <label style="color: black; font-size:20px">C.P.</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field inline margin">

          <label style="font-size:17px">{{cp}}</label>

        </div>
      </div>
    </div>

    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Calle:</label>
        <div class="input-field inline validate" style="width: 255px;">
          <input formControlName="textCalle" required >
        </div>
      </div>

      <div class="col s6 ">
        <label style="color: black; font-size:20px">No. Exterior:</label>
        <div class="input-field inline validate" style="width: 115px;">
          <input formControlName="textNumero" required >
        </div>
      </div>
    </div>

    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Tipo Domicilio: </label>
        <div class="input-field inline">
          <select class="browser-default" (change)="selectTipoDomiclio($event.target.value)"  style="background: #eeeeee;height:30px">
            <option   value="0">Seleccionar tipo</option>
            <option *ngFor="let domicilios of listTiposDomicilio" [value]="domicilios.id_tipo_domicilio" >{{domicilios.tipo_domicilio}}</option>
        



          </select>
        </div>
      </div>

    
      <div class="col s6 " *ngIf="mostrarMonto" >
        <label style="color: black; font-size:20px">Monto $:</label>
        <div class="input-field inline validate" style="width: 115px;">
          <input>
        </div>
      </div>
    </div>

    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Tiempo de residencia:</label>
        <div class="input-field inline upm" style="width: 100px">
          <input formControlName="textAños" id="años" type="text" class="validate" required  >
          <label for="años">Años:</label>
        </div>
      </div>


      <div class="input-field inline col s6 " style="width: 140px">
        <input formControlName="textMeses" id="meses" type="text" class="validate" required>
        <label for="meses">Meses:</label>
      </div>
    </div>



    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Personas en el domicilio:</label>
        <div class="input-field inline validate" style="width: 100px;">
          <input formControlName="textPersonas" required>
        </div>
      </div>

      <div class="col s6 upp">
        <label style="color: black; font-size:20px">Condiciones del domicilio:</label>
        <div class="input-field inline  " style="width: 180px;">

<select class="browser-default" style="background: #eeeeee;height:30px">
                  <option value="1">Seleccione condicion</option>
                 <option *ngFor="let condicion of listCondiciones" >{{condicion.tipo_condicion_domicilio}}</option>
              </select>        </div>

      </div>
    </div>



    <div class="row left-align">
      <div class="col s12 ">
        <label style="color: black; font-size:20px">Referencias:</label>
        <input formControlName="textReferencias" class="input-field inline validate" style="width: 755px;" required >
        
        </div>
      </div>


    <div class="">
      <i class="material-icons links" (click)="mostrarTipoDocumento=true" style="color: blue">add_circle</i>
      <label class="flow-text2 " style=" font-size:17px;color: black">Agregar Documentos del domicilio</label>
    </div> 


    <button type="submit"class="btn center-align down" (click)="validarFormulario()" style="background: blue; width: 300px">Guardar</button>

  </form>

  </div>
</div>

<div *ngIf="mostrarGuardar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <b class="flow-text">¿Desea guardar este domicilio?</b>
        <div class="container">
          <hr>
          <div class="row">
            <div class="col s6">
              <div (click)="mostrarGuardar= false;" class="btn botonNo" style="background: red; width: 200px">
                <h6>No</h6>
              </div>
            </div>
            <div class="col s6">
              <a class="btn botonSi" style="background: green; width: 200px"
                href="http://localhost:4200/#/agregar">Si</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarCasaFamiliar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantallaf">
      <div class="cajaBordeGris">


        <b class="flow-text">Datos propietario de casa familiar</b>
          <hr>

          <div class="row left-align">
              <div class="col s4">
                <div class="input-field inline" style="width: 300px" >
                  <input id="nombre" type="text" class="validate">
                  <label for="años">Nombre:</label>
                </div>
              </div>
  
              <div class="col s4">
                <div class="input-field inline" style="width: 300px" >
                  <input id="apM" type="text" class="validate">
                  <label for="años">Apellido Paterno:</label>
                </div>
              </div>
             
  
              <div class="col s4">
                <div class="input-field inline" style="width: 300px">
                  <input id="apP" type="text" class="validate">
                  <label for="años">Apellido Materno:</label>
                </div>
              </div>

              <div class="input-field inline">
                  <select class="browser-default" style="background: #eeeeee;height:40px">
                    <option value="1">Seleccionar Parentesco</option>
                    <option *ngFor="let relacioncasaf of listTipoRelacionesCasaFam" [value]="relacioncasaf.tipo_relacion_casa_familiar" >{{relacioncasaf.tipo_relacion_casa_familiar}}</option>
                   
                  </select>
                </div>


          <div class="container">
          <div class="row center-align">

            <div class="col s6">
              <div (click)="mostrarCasaFamiliar= false;" class="btn botonNo" style="background: red; width: 300px">
                <h6>Cancelar</h6>
              </div>
            </div>

            <div class="col s6">
                <div (click)="mostrarGuardarCasa= true;" class="btn botonNo" style="background: green; width: 300px">
                    <h6>Guardar</h6>
            </div>

          </div>
        </div>
        </div>




      </div>
    </div>

    <div *ngIf="mostrarGuardarCasa" class="pantallaCompleta">
        <div class="bloqueado">
          <div class="centroPantalla">
            <div class="cajaBordeGris">
      
      
              <b class="flow-text">¿Desea guardar los datos del propietario?</b>
              <div class="container">
                <hr>
                <div class="row">
                  <div class="col s6">
      
                    <div (click)="mostrarGuardarCasa= false;" class="btn botonNo" style="background: red; width: 200px">
                      <h6>No</h6>
                    </div>
                  </div>
                  <div class="col s6">
      
                    <div class="btn botonSi" style="background: green; width: 200px" 
                      (click)="mostrarGuardarCasa= false; mostrarCasaFamiliar=false">Si</div>
                  </div>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


</div>
</div>

<div *ngIf="mostrarTipoDocumento" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">


        <b class="flow-text">Tipos de documentos del domicilio</b>
          <hr>
      <div  class="container">
          <div class="input-field ">
              <select class="browser-default" style="background: #eeeeee;height:40px">
                <option value="1">Seleccionar tipo de documento</option>
                <option *ngFor="let comdom of listComprobanteDomicilio" >{{comdom.tipo_comprobante_domicilio}}</option>
                
              </select>
            </div>

          </div>

          <div  class="container center-align">
            <div class="center-align">
              <img class="materialboxed" src="assets/img/rever.png">
            </div>
          

              <div class="center-align">
              <div class="btn" (click)="mostrarGuardarDocumentos=true" style="background: blue;width: 250px;">Guardar</div>
</div>
</div>


      </div>
    </div>
  </div>
</div>


<div *ngIf="mostrarGuardarDocumentos" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <b class="flow-text">¿Desea guardar este documento?</b>
        <div class="container">
          <hr>
          <div class="row">
            <div class="col s6">
              <div (click)="mostrarGuardarDocumentos= false;" class="btn botonNo" style="background: red; width: 200px">
                <h6>No</h6>
              </div>
            </div>
            <div class="col s6">
              <a class="btn botonSi" style="background: green; width: 200px"
              (click)="mostrarGuardarDocumentos= false; mostrarTipoDocumento=false">Si</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>