<div class="col-md-12">
  <div class="text-center mainLogin" >
    <form class="form-signin" >
      <img class="mb-4" src="assets/mark_roga.png" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesíon</h1>
      <label for="inputEmail" class="sr-only">Usuario</label>
      <input type="text"  class="form-control" placeholder="Usuario" required autofocus>
      <label for="inputPassword" class="sr-only">Contraseña</label>
      <input type="password"  class="form-control" placeholder="Contraseña" required>

      <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="button">Iniciar Sesíon</button>
      <p class="mt-5 mb-3 text-muted">&copy; Grupo Roga</p>
    </form>
  </div>
</div>
<!-- <div class="mainLogin">
  <div class="card text-center ">
    <div class="form-signin">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</div> -->