<div class="centroPantalla ">
  <div class="cajaBordeGrisd">

    <div style="text-align: center; font-size:25px; color: blue ">
      <b>Datos del contacto</b>
      <hr>
    </div>

    <div class="row left-align">
        <div class="col 12 ">
          <label style="color: black; font-size:20px">Nombre: </label>
          <label class="flow-text2" style=" font-size:20px">Kenia Marely Nuñez Diaz</label>
        </div>
    </div>


  


    <div class="row left-align">
 
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Edo.Civil: </label>
        <div class="input-field inline">
          <select class="browser-default" style="background: #eeeeee;height:30px">
              <option value="1">Seleccione estado civil</option>
              <option *ngFor="let edoCivil of listEstadoCivil" >{{edoCivil.tipo_estado_civil}}</option>

          </select>
        </div>
      </div>


      <div class="col s6 push-s2">
        <a   href="http://localhost:4200/#/domicilio" class="material-icons links" style="color: blue" >add_circle</a>
        <label class="flow-text2" style=" font-size:17px;color: black">Agregar Domicilio</label>
      </div>

    </div>
    <!--  -->

    <div class="row left-align">
      <div class="col s8 ">
        <label style="color: black; font-size:20px">Domicilio: </label>
        <label class="flow-text2" style=" font-size:10px">Se mostrara cuando agreguen domicilio</label>
      </div>

      <div class="col s4 up">
        <a   href="http://localhost:4200/#/empleo" class="material-icons links " style="color: blue" >add_circle</a>
        <label class="flow-text2 " style=" font-size:17px;color: black">Agregar Empleo</label>
      </div>
    </div>

    <div class="row left-align">
        <div class="col s8 ">
          <label style="color: black; font-size:20px">Telefono: </label>
          <label class="flow-text2" style=" font-size:10px">________________________________</label>
        </div>
  
        <div class="col s4">
          <a (click)="mostrarTipoDocumento=true" class="material-icons links" style="color: blue" >add_circle</a>
          <label class="flow-text2" style=" font-size:17px;color: black">Agregar Documentos</label>
        </div>



      </div>


      <div *ngIf="mostrarTipoDocumento" class="pantallaCompleta">
        <div class="bloqueado">
          <div class="centroPantalla">
            <div class="cajaBordeGris">
      
      
              <b class="flow-text">Tipos de documentos</b>
                <hr>
            <div  class="container">
                <div class="input-field ">
                    <select class="browser-default" style="background: #eeeeee;height:40px">
                      <option value="1">Seleccionar tipo de documento</option>
                      <option *ngFor="let documentos of listTiposDocumentos" >{{documentos.tipo_documento}}</option>
                      
                      
                    </select>
                  </div>


            <div  class="container">
                  <div class="center-align">
                    <img class="materialboxed" src="assets/img/rever.png">
                  </div>
                

                    <div class="center-align">
                    <div class="btn" (click)="mostrarTipoDocumento=false" style="background: blue;width: 250px;">Guardar</div>
</div>
</div>

                </div>

            </div>
          </div>
        </div>
      </div>
      
</div>


</div>