<<<<<<< HEAD
=======
<h3>
    Datos Conyuge del Cliente
</h3>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4


<div class="col-md-12">
    <div class="row">
        <div class="col-sm">
            <form class="col-md-12">
<<<<<<< HEAD
                    <h3>
                            Datos Conyuge del Cliente
                        </h3>
                        
=======

>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
                <div class="form-group ">
                    <label>Nombre Conyuge</label>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>RFC</label>
                        <input type="text" class="form-control" placeholder="RFC">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Teléfono Celular</label>
                        <input type="tel" class="form-control" placeholder="Celular">
                    </div>

                </div>

                <div class="form-row ">

                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Genero: </label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">F</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">M</label>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlSelect1">¿Cuenta con un empleo? </label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">Sí</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline1"
                                class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">No</label>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        <div class="col-sm">
            <div class="col-md-12 text-center">
                <label class=""><b>Capturar INE</b></label>
                <br>
                <label style="color: black">Frente</label>
<<<<<<< HEAD
                <div appNgDropFiles [archivos]="listArchivos" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img src="assets/fren.png" >
                    </div>
                    <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                            <label class="custom-file-label" for="customFileLang"></label>
                        </div>
                <label style="color: black">Reverso</label>
                <div appNgDropFiles [archivos]="listArchivos" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img src="assets/rever.png" >
                    </div>
                    <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                            <label class="custom-file-label" for="customFileLang"></label>
                        </div>
            </div>
<br>
            <div class="col-md-10 offset-6">
                    <div class="form-row">
                        <div class="form-group col-md-1.5">
                            <button type="button" class="btn btn-outline-danger btn-lg">Limpiar</button>
            
                        </div>
                        <div class="form-group col-md-1.5">
                            <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>
            
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
=======
                <div>
                    <img src="assets/fren.png" class="rounded" alt="...">
                </div>
                <label style="color: black">Reverso</label>
                <div>

                    <img src="assets/rever.png" class="rounded" alt="...">
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4 offset-8">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-danger btn-lg">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>

            </div>
        </div>
    </div>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4

</div>