

<div *ngIf="_modalTipoAsignacionService.mostrarDialog" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">Asignar auditoría</label>
        <hr />
        <div class="container">
          <div class="input-field">
            <input type="text" class="validate" id="buscar" #searchInput (keyup)="searchAdmin(searchInput.value)" />
            <i class="material-icons right prefix" (click)="openAlert()">search</i>
            <label for="buscar">Buscar SubAdministrador</label>
          </div>

          <div class="btntitle">
            <div class="center">
              <h6>Auditores</h6>
            </div>
          </div>

          <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
            <app-loading *ngIf="this.listSubadministradores.length==0"></app-loading>
            <div *cdkVirtualFor="let subAdmin of listSearch; let i = index; let conteo =count" class="btn ">
              <p class="">
                <label class="blue-text">
                  <div class="checkbox">
                    <div class="left cPointer" (click)="onClickSubAdmin(subAdmin)">
                      <h6>{{ subAdmin.nombre }}</h6>
                    </div>
                  </div>
                </label>
              </p>
            </div>
          </cdk-virtual-scroll-viewport>

          <div class="cajaPersonas">
            <div (click)="closeAlert()" class="btn botonNo">
              <h6>Cerrar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


