<div class="fondo-negro" *ngIf="show">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
<<<<<<< HEAD
        <div  class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Busqueda del Cliente</h5>
                    <button (click)="show=false"  type="button" class="close" data-dismiss="modal" aria-label="Close">
=======
        <div (click)='show=false' class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Busqueda del Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputCty">Tipo de busqueda:</label>

                                <select id="inputState" class="form-control">
                                <option selected>--Buscar Cliente Por--</option>
                                <option>Nombre</option>
                                <option>No. Cliente</option>
                                <option>No. Venta</option>
                                <option>No. Factura</option>
                              </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputCty">Cedis:</label>

                                <select id="inputState" class="form-control">
                                <option selected>--Seleccionar Cedis--</option>
                                <option>Todos Los Cedis</option>
                                <option>Cedis 1</option>
                                <option>Cedis 2</option>
                                <option>Cedis 3</option>
                              </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputCity">Cliente:</label>
                                <input type="text" [autocomplete]='false' class="form-control" id="inputCity">
                            </div>


                        </div>

                    </form>
                    <hr>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No. Venta</th>
                                <th scope="col">No. Cliente </th>
                                <th scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>16576</td>
                                <td>1324</td>
                                <td>Daniel Ricardo</td>
                            </tr>
                            <tr>
                                <td>3456765</td>
                                <td>4654</td>
                                <td>Kenya Marely</td>
                            </tr>
                            <tr>
                                <td>768768</td>
                                <td>79765</td>
                                <td>Luis Armando</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-lg btn-outline-danger" data-dismiss="modal">Cerrar</button> -->
<<<<<<< HEAD
                    <button (click)="show=false" type="button"  class="btn btn-lg btn-outline-success">Buscar</button>
=======
                    <button type="button" class="btn btn-lg btn-outline-success">Buscar</button>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
                </div>
            </div>
        </div>
    </div>
</div>