<<<<<<< HEAD
<p>
  modal-domicilio-empleo works!
</p>
<div class="fondo-negro" *ngIf="openModal">
  <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
      <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Domicilio Empleo Cliente</h5>
                  <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
              </div>
              <div class="modal-body">


                  <form>
                      <div class="form-row">
                          <div class="form-group col-md-3">
                              <label for="inputState">Estado</label>
                              <select id="inputState" class="form-control" (change)="onSelectEstado($event.target.value)">
                <option selected>--Seleccionar Estado--</option>
                <option *ngFor="let estado of listEstados" [value]="estado.estado">{{estado.nombre_estado}}</option>
              </select>
                          </div>
                          <div class="form-group col-md-3">
                              <label for="inputState">Ciudad</label>
                              <select id="inputState" class="form-control">
                <option selected>--Seleccionar Ciudad--</option>
                <option *ngFor="let ciudad of listCiudades" [value]="ciudad.municipio">{{ciudad.nombre_municipio}} </option>
              </select>
                          </div>
                          <div class="form-group col-md-6">
                              <label for="inputState">Colonia</label>
                              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                          </div>
                      </div>
                      <div class="form-row">
                          <div class="form-group col-md-8">
                              <label for="inputAddress">Calle</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>
                          <div class="form-group col-md-4">
                              <label for="inputState">Codigo Postal</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>
                      </div>
                      <div class="form-row">

                          <div class="form-group col-md-4">
                              <label for="inputState">No. Exterior</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">

                          </div>
                          <div class="form-group col-md-4">
                              <label for="inputState">No. Interior</label>
                              <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                          </div>

                      </div>


                  </form>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-lg btn-outline-danger" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
                  <button type="button" class="btn btn-lg btn-outline-success">Guardar</button>
              </div>
          </div>
      </div>
  </div>
=======
<div class="fondo-negro" *ngIf="openModal">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Domicilio Empleo Cliente</h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">


                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputState">Estado</label>
                                <select id="inputState" class="form-control" (change)="onSelectEstado($event.target.value)">
                  <option selected>--Seleccionar Estado--</option>
                  <option *ngFor="let estado of listEstados" [value]="estado.estado">{{estado.nombre_estado}}</option>
                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">Ciudad</label>
                                <select id="inputState" class="form-control">
                  <option selected>--Seleccionar Ciudad--</option>
                  <option *ngFor="let ciudad of listCiudades" [value]="ciudad.municipio">{{ciudad.nombre_municipio}} </option>
                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Colonia</label>
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputAddress">Calle</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Codigo Postal</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="inputState">No. Exterior</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">No. Interior</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                            </div>

                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-outline-danger" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-lg btn-outline-success">Guardar</button>
                </div>
            </div>
        </div>
    </div>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
</div>