<div>
  <div class="btn">
    Variable i: {{variable.nombreVariable}}
    <div class="right">
      <i *ngIf="!mostrarDetalles" class="material-icons links"
        (click)="mostrarDetallesVariable()">keyboard_arrow_down</i>
      <i *ngIf="mostrarDetalles" class="material-icons links" (click)="mostrarDetallesVariable()">keyboard_arrow_up</i>
    </div>
  </div>
  <div *ngIf="mostrarDetalles" class="cajaBordeAzul">
    <div>

      <div class="">
        <div class="row" style="padding-top: 2%">
          <div class="col s12">
            <div class="col s3 def">
              <div class="btnAzul">Definición:</div>
            </div>
            <div class="col s7 textoDef">
              <textarea class="cajaTexto" rows="4" cols="50" disabled>
              {{variable.definicion}}
            </textarea>
            </div>

            <div *ngIf="mostrarCalificacion()">
              <div class="col s2 pon">
                <div class="btnAzul ponderacionAzul">Calificacion</div>
                <div class="btn ponderacionBlanco">{{variable.calificacion}}</div>
              </div>
            </div>
            <div *ngIf="!mostrarCalificacion()">
              <div class="col s2 pon">
                <div class="btnAzul ponderacionAzul">Ponderación</div>
                <div class="btn ponderacionBlanco">{{variable.ponderacion}}</div>
              </div>
            </div>
          </div>
        </div>


        <div class=" row" *ngIf="mostrarComentarios()">
          <div class="col s12">
            <div class=" col s3 def">
              <div class="btnAzul">Comentario:</div>
            </div>

            <div class="col s7 textoDef">
              <div class="cajaTexto">
                <p>{{variable.comentario}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="variable.requiereEvidencia">

        <div class="row">
          <div class="col s12">
            <div class="col s3">
              <div class="btnAzul">Muestra</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12">
            <app-loading *ngIf="cargandoMuestras"></app-loading>
            <swiper [config]="config">
              <div *ngFor="let imagen of variable.imagenes;">
                <img (click)="mostrarImagen(imagen)" [src]="imagen.base64" class="" height="80" width="80" />
              </div>
            </swiper>
          </div>
        </div>

        <div class="row" *ngIf="esDetalleAsignacion">
          <div class="col s12">
            <div class="col s3">
              <div class="btnAzul">Evidencia</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div *ngIf="esDetalleAsignacion" class="col s12">
            <app-loading *ngIf="cargandoEvidencias"></app-loading>

            <swiper [config]="config">
              <div *ngFor="let imagen of listImagenesEvidencia;">
                <img (click)="mostrarImagen(imagen)" [src]="imagen.base64" class="" height="80" width="80" />
              </div>
            </swiper>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col s12">

        <div class="col s3">
          <div class="btnAzul">Requiere evidencia</div>
        </div>

        <div class="col s7">
          <div class="btnBlanco">
            <div *ngIf="variable.requiereEvidencia">Sí</div>
            <div *ngIf="!variable.requiereEvidencia">No</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<!-- <div id="modalImagenPrev" class="modal modal-fixed-footer">
    <div class="modal-content">
      <img #imgElement [src]="imagenPrev" class="responsive-img">
    </div>
    <div class="modal-footer">
      <a class="modal-close waves-effect waves-green btn-flat" (click)="modalPrevImagen.close()">Cerrar</a>
    </div>
  </div> -->

<div *ngIf="mostrarImg" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <img #imgElement [src]="imagenPrev" class="responsive-img" style="max-width: 100%; max-height: 100%;">
        <input type="button" value="Cerrar" (click)="mostrarImg=false" class="btn  btnCancel">

      </div>

    </div>
  </div>
</div>