<h1>Héroe <small>Nombre del Héroe</small></h1>
<hr>

<div class="row text-right">

    <div class="col ">
        <button routerLink="/heroes" class="btn btn-danger">
            <i class="fa fa-arrow-left"></i>
            Regresar
        </button>
    </div>

</div>

<div class="row animated fadeIn faster">
    <div class="col">
        <form #f="ngForm" (ngSubmit)="guardar(f)">

            <div class="form-group">
                <label>Firebase ID</label>
                <input type="text" class="form-control" disabled="disabled" [(ngModel)]="heroe.id" name="id" placeholder="Firebase ID">

                <small class="form-text text-muted ">Este campo es autogenerado</small>
            </div>

            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="heroe.nombre" name="nombre" placeholder="Nombre del Héroe">
            </div>

            <div class="form-group">
                <label>Poder</label>
                <input type="text" class="form-control" required [(ngModel)]="heroe.poder" name="poder" placeholder="Poder del Héroe">
            </div>

            <div class="form-group">
                <label>Estado</label>
                <br>
                <button *ngIf="heroe.vivo" (click)="heroe.vivo=false" class="btn btn-outline-success w-50" type="button">
                    <i class="fa fa-smile-wink"></i>
                    Vivo
                </button>

                <button *ngIf="!heroe.vivo" (click)="heroe.vivo=true" class="btn btn-outline-danger w-50" type="button">
                    <i class="fa fa-dizzy"></i>
                    Muerto
                </button>
            </div>

            <hr>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>

        </form>
    </div>
</div>