<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade bd-example-modal-sm show" style="display: inline-block" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog ">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{dataInput.title}}</h5>

                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="exampleFormControlInput1">{{dataInput.content}}</label>
                        <!--  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="0.0"> -->


                        <div *ngIf="esNuevaSolcitud">

                            <div class="form-group  ">
                                <label for="date">Fecha en la que se levantó la solicitud</label>
                                <input #date (change)="validaciones()" type="date" id="date" class="form-control">
                                <div *ngIf="fechaVacia" class="alert alert-danger" role="alert">
                                    Fecha requerida
                                </div>
                                <div *ngIf="fechaInvalida" class="alert alert-danger" role="alert">
                                    Fecha Invalida
                                </div>
                            </div>
                            <div class="form-group  ">
                                <label for="seleccion">Cedis </label>
                                <select inputState class="form-control" #seleccion (change)="cambiarZona(seleccion.value)">
                                    <option [value]="ZonaSeleccionada.idZona" selected>{{ZonaSeleccionada.nombreZona}}
                                    </option>
                                    
                                    <option *ngFor="let cedis of listCedis" [value]="cedis.idZona">{{cedis.nombreZona}}
                                    </option>
                                </select>


                            </div>
                            <div class="form-group  ">
                                <label for="sucurs">Sucursal </label>
                                <select inputState class="form-control" #sucurs (change)="idSucursal=sucurs.value">
                                    <option [value]="-1" selected>Seleccionar Sucursal...</option>
                                    <option *ngFor="let sucursal of sucursales" [value]="sucursal.idSucursal">
                                        {{sucursal.nombreSucursal}}
                                    </option>
                                </select>

                            </div>

                        </div>




                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary" (click)="okModal()">Si</button>
                </div>
            </div>
        </div>
    </div>
</div>