.cajaSucursales{
    width: 100%;
    height:200px;
    overflow-y: auto;
    border: solid  1px#000000f5;
}
.itemSucursal{
    white-space: nowrap;
    border: solid  1px#220a8ff5;
    border-radius: 5px 5px 5px 5px;
    padding: 0px 0px 0px 5px
}