<h3>
    Datos Cónyuge del Cliente
</h3>


<div class="col-md-12">
    <div class="row">
        <div class="col-sm">
            <form class="col-md-12">
                <div class="form-group col-md-12" style="margin-left: -5%">
                    <label>Nombre Cónyuge</label>
                    <input #edtNombre type="text" class="form-control">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input #edtApellidoP type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input #edtApellidoM type="text" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de Nacimiento</label>
                        <input #edtFechaNacimiento type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label>RFC</label>
                        <input #edtRFC type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-1 ">
                        <i (click)="generaRFC()" class="material-icons inline" style="color: green; margin-top: 120%; cursor: pointer;">refresh</i>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="">Teléfono Celular</label>
                        <input #edtTelefonoCelular [value]="getTelefono()" class="form-control phone" type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                    </div>

                </div>

                <div class="form-row ">

                    <div class="form-group col-md-6">
                        <label for="exampleFormControlSelect1">Género: </label>
                        <div class="custom-control custom-radio custom-control-inline">

                            <input type="radio" (change)="onSelectGenero(rdbF.value)" #rdbF [checked]="generoF" id="customRadioInline1" value="F" class="custom-control-input">

                            <label class="custom-control-label" for="customRadioInline1">F</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">

                            <input type="radio" #rdbM (change)="onSelectGenero(rdbM.value)" [checked]="generoM" id="customRadioInline2" value="M" class="custom-control-input">

                            <label class="custom-control-label" for="customRadioInline2">M</label>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-12" *ngIf="conyugeCliente.contacto.idContacto>0">
                        <label for="exampleFormControlSelect1">¿Cuenta con un empleo? </label>
                        <div class="custom-control custom-radio custom-control-inline">

                            <input type="radio" id="customRadioInline11" class="custom-control-input" [checked]="this._solicitudServices.reqDatosEmpleoConyugeCliente()" (click)="reqDatEmpleo(true)">

                            <label class="custom-control-label" for="customRadioInline11">Sí</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">

                            <input type="radio" id="customRadioInline21" class="custom-control-input" [checked]="!this._solicitudServices.reqDatosEmpleoConyugeCliente()" (click)="reqDatEmpleo(false)">

                            <label class="custom-control-label" for="customRadioInline21">No</label>
                        </div>
                    </div>
                </div>

            </form>

        </div>
        <div class="col-sm">
            <div class="col-md-12 text-center">
                <label class=""><b>Capturar INE</b></label>
                <br>
                <label style="color: black">Frente</label>
                <div (paste)="onPasteIne($event)">
                    <div appNgDropSingleFile (archivo)="ineFrente=$event" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img [src]="renderIne(true)" class="rounded" width="308" height="189" alt="...">
                    </div>
                    <div class="custom-file">
                        <input (change)="selectImage($event,true)" type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
                <label style="color: black">Reverso</label>
                <div>
                    <div appNgDropSingleFile (archivo)="ineReverso =$event" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img [src]="renderIne(false)" class="rounded" width="308" height="189" alt="...">
                    </div>
                    <div class="custom-file">
                        <input (change)="selectImage($event,false)" type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4 offset-10" style="margin-top: 2%">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-danger btn-sm">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button (click)="onSaveClick()" type="button" class="btn btn-outline-success btn-sm">Guardar</button>

            </div>
        </div>
    </div>

</div>
<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInput" (dataGuardar)="responseDataGuardar($event)">
</app-modal-guardar>
<app-modal-guardar [openModal]="openModalEliminarEmpelo" [dataInput]="dataInput" (dataGuardar)="responseDataEliminar($event)">
</app-modal-guardar>