<div *ngIf="mostrarEditarAuditoria" class="pantallaCompleta">
    <div class="bloqueado">
        <app-auditorias [_idAuditoria]="auditoria.idAuditoria" [esEdicion]="true" (cerrarEdicion)="editarAuditoria()">
        </app-auditorias>
    </div>
</div>

<div id="modalErrorAsignar" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>¡Importante!</h4>
        <p>
            La auditoria no se puedo asignar a las sucursales enlistadas acontinuacion, probablemente estas ya esten asignadas con otro auditor para la fecha seleccionada.
        </p>
        <br />
        <b class="left">Sucursales sin asignar:</b>
        <br />
        <ul class="collection">
            <li *ngFor="let asig of listAsignacionesConError" class="left-align card-panel red lighten-4 collection-item">
                {{asig.nombreSucursal}}
            </li>
        </ul>
    </div>

    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-small" style="display: inline-block; margin-right: 5px;">Aceptar</a>
    </div>
</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta">
    <div class="bloqueado">
        <div class="centroPantalla">
            <div class="cajaBordeGris">
                <label class="flow-text">¿Desea Eliminar?</label>

                <div class="container">
                    <div class="row">
                        <div (click)="mostrarEliminar= !mostrarEliminar" class="waves-effect waves-light btn botonNo links">
                            <h6>Cancelar</h6>
                        </div>
                        <div (click)="setEliminarAuditoria();" class="waves-effect waves-light btn botonSi links">
                            <h6>Eliminar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="botonlista ">

    <div style="white-space: nowrap; width: 100%; height: 100%;">
        <div class=" nombre-auditoria" style="width: 70%;display: inline-block;">
            <div class=" textonombre ">
                {{ auditoria.nombreAuditoria }} ({{auditoria.frecuencia}})

            </div>
        </div>

        <div class="" style="width: 30%;display: inline-block; height: 100%;">
            <div class="iconos ">

                <i (click)="mostrarDetallesAuditoria()" class="material-icons iconoEliminar links ">remove_red_eye</i>

                <i class="material-icons iconoSiguiente links" (click)="editarAuditoria()">
          edit
        </i>


                <i *ngIf="_AuditoriaService.asignarOtros" (click)="mostrarSubAdmins()" class="material-icons iconoSiguiente
          links">group_add</i>

                <i *ngIf="!_AuditoriaService.asignarOtros" (click)="mostrarAuditores()" class="material-icons iconoSiguiente
          links">group_add</i>

                <i (click)="mostrarEliminar= !mostrarEliminar" class="material-icons
          iconoslinks links">delete </i>

            </div>
        </div>

    </div>

</div>
<div *ngIf="mostrarAsignacion" class="pantallaCompleta">
    <div class="bloqueado">
        <div class="centroPantalla">
            <div class="cajaBordeGris">
                <label class="flow-text">Asignar auditoría</label>
                <hr />
                <div class="container">
                    <div class="input-field">
                        <input type="text" class="validate" id="buscar" #searchInput (keyup)="searchAuditor(searchInput.value)" />
                        <i class="material-icons right prefix">search</i>
                        <label for="buscar">Buscar Auditor</label>
                    </div>

                    <div class="btntitle">
                        <div class="center">
                            <h6>Auditores</h6>
                        </div>
                    </div>

                    <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
                        <app-loading *ngIf="cargandoAuditores"></app-loading>
                        <div *cdkVirtualFor="let auditor of listAuditoresSubAdminSearch; let i = index; let conteo =count" class="btn " (click)="mostrarAsignacionAuditoria(auditor)">
                            <p class="">
                                <label class="blue-text">
                  <div class="checkbox">
                    <div class="left cPointer">
                      <h6>{{ auditor.nombre }}</h6>
                    </div>
                  </div>
                </label>
                            </p>
                        </div>
                    </cdk-virtual-scroll-viewport>



                    <!--           <div

            class="btn"
            *ngFor="let auditor of listAuditoresSubAdminSearch"
            (click)="mostrarAsignacionAuditoria(auditor)">
            <div class="left">
              <h6>{{ auditor.nombre }}</h6>
            </div>
          </div> -->

                    <div class="cajaPersonas">
                        <div (click)="mostrarAsignacion= false" class="btn botonNo">
                            <h6>Cerrar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarAuditoria" class="pantallaCompleta">
    <div class="bloqueado">
        <div class="centroPantalla2">
            <div class="cajaBordeGris ">
                <label class="flow-text textoAzul">Nombre: </label>
                <label class="flow-text">{{ detallesAuditoria.nombreAuditoria }}</label>
                <hr />
                <div>
                    <label class="flow-text textoAzul">Frecuencia: </label>
                    <label class="flow-text">{{ detallesAuditoria.frecuencia }}</label>
                </div>
                <div>
                    <label class="flow-text textoAzul">Área: </label>
                    <label class="flow-text">{{ detallesAuditoria.area }}</label>
                </div>

                <div class="btn btn-2">
                    <div class="right">
                        <i (click)="cambiarMostrarContenedorZonas()" *ngIf="!mostrarContenedorZonas" class="material-icons iconos links">expand_more</i>
                        <i (click)="cambiarMostrarContenedorZonas()" *ngIf="mostrarContenedorZonas" class="material-icons iconos links">expand_less</i>
                    </div>
                    Zonas
                </div>

                <div *ngIf="mostrarContenedorZonas" class="contenedorZonas">
                    <div class="btn btn-2 btnZona" *ngFor="let zona of detallesAuditoria.subZonas">
                        <span class="textoAzul"> {{ zona.nombreSubZona }}</span>
                    </div>
                </div>

                <div class="cajaVariables">
                    <div class="btn btn-2">Variables</div>
                    <div class="contenedorVariables">
                        <!--items variables-->
                        <app-variable-item *ngFor="let variable of detallesAuditoria.variables" [estado]="auditoria.estado" [variable]="variable">
                        </app-variable-item>
                    </div>
                </div>
                <div class="row">
                    <div (click)="mostrarAuditoria= false" class="btn botonNo">
                        <h6>Cerrar</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarSeleccionar" class="pantallaCompleta">
    <div class="bloqueado">
        <div class="centroPantalla">
            <div class="cajaBordeGris2">
                <label class="flow-text">Seleccionar fecha sugerida</label>
                <hr />
                <div class="row">
                    <div class="input-field col s12 left">
                        <input #datePicker (change)="fechaProgramada=datePicker.value" type="date" class="datepicker-modal" />

                    </div>
                    <!--           <div class="input-field col s6 right">
            <input type="date" class="datepicker-modal" />
          </div>
        </div>
 -->
                </div>
                <label class="flow-text">Seleccionar sucursales</label>
                <hr />
                <div class="btn">
                    <div class="text left">
                        <h6>Sucursales</h6>
                    </div>
                    <div class="right">
                        <i (click)="cambiarMostrarSucursales()" *ngIf="!mostrarSucursales" class="material-icons iconos links">expand_more</i>
                        <i (click)="cambiarMostrarSucursales()" *ngIf="mostrarSucursales" class="material-icons iconos links">expand_less</i>
                    </div>
                </div>

                <div *ngIf="mostrarSucursales">
                    <div class="divseltodas">
                        <label class="label label2">
              <input class="checkbox" (change)="seleccionarTodasSucursales()" type="checkbox" />
              <span class=""> Seleccionar todas</span>
            </label>
                    </div>
                    <div>

                        <cdk-virtual-scroll-viewport itemSize="10" class="cajaBordeAzul2">
                            <div *cdkVirtualFor="let sucursal of listSucursales" class="alinearSucursales">
                                <label class="margen2">
                  <input class="checkbox" type="checkbox" [checked]="sucursal.selected"
                    (change)="seleccionarSucursal(sucursal)" />
                  <span> {{sucursal.nombreSucursal}}</span>
                </label>
                            </div>
                        </cdk-virtual-scroll-viewport>


                    </div>
                </div>
                <div (click)="mostrarSeleccionar= false" class="btn botonNo2">
                    <h6>Cerrar</h6>
                </div>

                <div (click)="setAsignacionAuditoria()" class="btn botonSi2">
                    <h6>Asignar</h6>
                </div>

            </div>
        </div>

    </div>

</div>



<div *ngIf="modalSubAdmins" class="pantallaCompleta">
    <div class="bloqueado">
        <div class="centroPantalla">
            <div class="cajaBordeGris">
                <label class="flow-text">Encargado de Revisión</label>
                <hr />
                <div class="container">
                    <div class="input-field">
                        <input type="text" class="validate" id="buscar" #searchInput (keyup)="searchAdmin(searchInput.value)" />
                        <i class="material-icons right prefix">search</i>
                        <label for="buscar">Buscar SubAdministrador</label>
                    </div>

                    <div class="btntitle">
                        <div class="center">
                            <h6>SubAdministradores</h6>
                        </div>
                    </div>

                    <cdk-virtual-scroll-viewport itemSize="10" class="list-container">
                        <app-loading *ngIf="this.listSubadministradores.length==0"></app-loading>
                        <div *cdkVirtualFor="let subAdmin of listSearchAdmins; let i = index; let conteo =count" class="btn ">
                            <p class="">
                                <label class="blue-text">
                  <div class="checkbox">
                    <div class="left cPointer" (click)="mostrarAuditores(subAdmin)">
                      <h6>{{ subAdmin.nombre }}</h6>
                    </div>
                  </div>
                </label>
                            </p>
                        </div>
                    </cdk-virtual-scroll-viewport>

                    <div class="cajaPersonas">
                        <div (click)="closeSubAdmins()" class="btn botonNo">
                            <h6>Cerrar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>