<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Documentos domicilio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-row">
                <div class="form-group col-md-12">
    
    <div class="row">
        <div class="col-md-4">
            <br>
            <div appNgDropFiles [archivos]="listArchivos" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                <h4>Arrastre aquí los archivos</h4>
                <img src="assets/drop-images.png">
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                <label class="custom-file-label" for="customFileLang"></label>
            </div>
        </div>
    
        <div class="col-md-8">
    
            <div class="table-responsive">
    
    
                <table class="table  table-hover ">
                    <thead class="thead-light">
                        <tr>
                            <th>Nombre Archivo</th>
                            <th>Tipo Documento</th>
                            <th>Tamaño</th>
                            <!--             <th>Progreso</th>
     -->
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let archivo of listArchivos">
                            <td>{{archivo.nombreArchivo}}</td>
                            <td>
                                <select class="form-control">
                    <option selected>--Tipo Documento--</option>
                    <option *ngFor="let documento of listTiposDocumentos" [value]="documento.id_tipo_documento">
                      {{documento.tipo_documento}}</option>
                  </select>
    
                            </td>
                            <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2-2'}} MB</td>
    
                            <td><i class="material-icons text-center" (click)="eliminarArchivo(archivo)" style="font-size: 30px; text-align: center; color: red;cursor: pointer;">
                    delete_outline
                  </i></td>
    
                            <!--  <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                  </div>
                </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
    
    
        </div>
        <div class="col-md-3 offset-9">
            <div class="form-row">
                <div class="form-group col-md-1.5">
                    <button type="button" (click)="onClickLimpiar()" class="btn btn-outline-danger btn-lg">Limpiar</button>
    
                </div>
                <div class="form-group col-md-1.5">
                    <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>
    
                </div>
            </div>
        </div>
    </div>
    </div>
              </div>
            </form>
            </div>
            </div>
      </div>
    </div>
</div>