<app-barra-lateral></app-barra-lateral>
<router-outlet></router-outlet>
<!-- 
<app-areas *ngIf="menuAreas"></app-areas>
<app-directivos *ngIf="menuDirectivos"></app-directivos>
<app-config *ngIf="menuConfig"></app-config>
<app-subadmin *ngIf="menuSubadmin"></app-subadmin>
<app-zonas *ngIf="menuZona"></app-zonas>
<app-reportes *ngIf="menuReportes"></app-reportes>

<app-auditores *ngIf="menuAuditores"></app-auditores>
<app-auditorias *ngIf="menuAuditorias"></app-auditorias>
<app-asig-auditorias *ngIf="menuAsigAud"></app-asig-auditorias>
<app-auditorias-periodo *ngIf="menuAudPeriodo"></app-auditorias-periodo>

<div class="footeralv">
  <app-footer></app-footer>
</div>
 -->
