<div class="fondo-negro" *ngIf="show">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block ">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header center " style="align-self: center">
                    <h5 class="modal-title">Vista previa de documentos</h5>
                    <button type="button" (click)="closeD()" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body " style="align-self: center">
                    <img [src]="render(archivo.base64)" width="100%" height="100%">

                </div>


            </div>
        </div>
    </div>
</div>