<h3>
    Ingresos Familiares
</h3>


<div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">

                    </div>
                </div>
                <div class="form-group">
                    <label>Nombre</label>
                    <input #edtNombre type="text" class="form-control" >
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input #edtApellidoP type="text" class="form-control" >
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input #edtApellidoM type="text" class="form-control" >
                    </div>
                </div>
                <div class="form-row">
                        <div class="form-group col-md-6">
                                <label for="inputState">Parentesco</label>
                                <select [value]="contactoSelec?.idTipoRelacionContacto" #selecParentesco id="inputState" class="form-control">
                                    <option [value]="-1" selected>--Selecciona Parentesco--</option>
                                    <option *ngFor="let relacion of listTipoContacto"
                                        [value]="relacion.id_tipo_contacto_ingreso">
                                        {{relacion.tipo_contacto_ingreso}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                    <label> Ingreso Mensual</label>
                                    <input #edtIngreso type="number" class="form-control" >
                                </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-md-6">
                        <label>Teléfono Fijo</label>
                        <input #edtTelefonoFijo  class="form-control"  type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Teléfono Celular</label>
                        <input #edtTelefonoCelular  class="form-control"  type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" >
                    </div>
                </div>

                <div class="form-row">
                  
                    <div class="col-md-4 offset-10" style="margin-top: 2%">
                        <div class="form-row">
                            <div class="form-group col-md-1.5">
                                <button (click)="onClickAgregarOtro()" type="button" class="btn btn-outline-danger btn-sm">Limpiar</button>
                            </div>
                            <div class="form-group col-md-1.5">
                                <button #btnGuardar (click)="onClickGuardar()" type="button" class="btn btn-outline-success btn-sm">{{strBotonGuardar}}</button>
                            </div>
                        </div>
                    </div>
                    <!--             <div class="form-group col-md-6 offset-6">
                           <i class=" manita material-icons " style="color: blue; font-size: 30px;margin-left: 30%">add_circle</i>
                        <br>
                         <label for="exampleFormControlFile1" style="text-size-adjust: 11; margin-top: -3%;margin-left: 20%">Agregar
                            otro contacto</label> 
                </div> -->


                </div>

                <div class=" form-group col-md 6">

                    <h5>Ingresos Familiares</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="color: blue" scope="col">Nombre</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let contact of listContactos">

                                <td>
                                    {{contact.contacto.nombres}} {{contact.contacto.primerApellido}} {{contact.contacto.segundoApellido}}
                                </td>

                                <td><i (click)="editarContato(contact)" class="manita material-icons" style="color: green">edit</i> &nbsp;
                                    <i (click)="onClickEliminarContacto(contact.contacto)" class=" manita material-icons " style="color: red"> delete</i></td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
</div>


<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInputSave" (dataGuardar)="onSaveConfirm($event)">
</app-modal-guardar>