.coordinates {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 10px;
    padding: 5px 10px;
    margin: 0;
    font-size: 11px;
    line-height: 18px;
    border-radius: 3px;
    display: none;
}

.geocoder-dropdown-item {
    padding: 5px !important;
}


/* .inputMap {
    border: bottom 0px !important;
    margin: 0px !important;
    padding-left: 15% !important;
    height: 0px !important;
    background-color: brown !important;
}
 */

.geocoder-dropdown-icon {
    margin-right: 10px !important;
}

.geocoder-dropdown-text {
    color: #5a3fc0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: larger !important;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 35%;
    top: 10%;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

#panelConf {
    position: absolute;
    top: 8%;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    overflow: auto;
    background: rgba(255, 255, 255, 0.8);
}

.marker {
    background-image: url('../../../assets/img/mark_roga.png');
    background: #5a3fc0;
    background-size: cover;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.disabledSuc {
    pointer-events: none;
    opacity: 0.6;
}