<div #mapBox id="mapBoxContainer" style='height: 100%; position:absolute; top:60px; bottom:0; width:100%; '>

</div>

<div #panelConf id="panelConf" class="card-panel ">


    <div>
        <h6 class="center-align">Configuracion de Sucursales y CEDIS</h6>
        <hr>
    </div>

    <ul #collapsibleConf class="collapsible expandable" style="margin-left: -5% !important;margin-right: -5%!important;">
        <li>

            <div class="collapsible-header"><i class="material-icons">business</i>Cedis</div>
            <div class="collapsible-body">

                <label>Cedis</label>
                <div class="row">
                    <div class="col s10">
                        <select #selecCedis (change)="selectZona(selecCedis.value)" class="browser-default">
              <option *ngFor="let zona  of listZonas" [value]="zona.idZona">{{zona.nombreZona}}</option>
            </select></div>
                    <div style="padding-top: 10px">
                        <i class="col s1 material-icons cPointer blue-text">gps_fixed</i>
                        <i class="col s1 material-icons cPointer green-text">refresh</i>
                    </div>
                </div>
                <br>
                <label> SubAdministradores</label>

                <ul class="collection">
                    <li class="collection-item" *ngFor="let subadmin of listSubAdministradores">
                        <div> <i class="material-icons">person</i> {{subadmin.nombre}}</div>
                    </li>
                </ul>
            </div>

        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">store</i>Sucursales
                <span class="badge">{{listSucursales.length}}</span>
            </div>
            <div class="collapsible-body"><span>

          <div class="row">
            <div class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">search</i>
                  <input #edtSearch (keyup)="searchSucursales(edtSearch.value)" type="text" id="autocomplete-input"
                    class="autocomplete">
                  <label for="autocomplete-input">Buscar Sucursales</label>
                </div>
              </div>
            </div>
          </div>

          <ul #collapsibleSuc class="collapsible"
            style="margin-top:-15% !important;margin-left: -7% !important;margin-right: -7%!important;">
            
            <li *ngFor="let sucursal of listSucursalesSearch">
           
              <div class="collapsible-header "
               [ngClass]="{'disabledSuc': !sucursal.edicionHabilitada}" >
                <i class="material-icons">store</i>{{sucursal.nombreSucursal}}
               
              </div>
              <div class="collapsible-body">
                <a *ngIf="!editando" (click)="ubicarSucursal(sucursal.idSucursal)" class="btn-flat btn-small"><i
                    class="material-icons left">gps_fixed</i>Ubicar Sucursal</a>
                <a *ngIf="!editando" (click)="dibujarNuevaSucursal(sucursal)" class="btn-flat btn-small"><i
                    class="material-icons left">photo_size_select_small</i>Cambiar
                  Ubicacion</a>
                <a *ngIf="editando" (click)="cancelarEdicion()" class="btn-flat btn-small"><i
                    class="material-icons left">delete</i>Cancelar Edicion</a>
               
                    <a *ngIf="editando" (click)="finalizarEdicion(sucursal)" class="btn-flat btn-small"><i
                    class="material-icons left">offline_pin
                  </i>Finalizar Edicion</a>
              </div>
            </li>

          </ul>

          <!-- <div class="collection">
            <a *ngFor="let sucursal of listSucursales" class="collection-item">{{sucursal.nombreSucursal}}</a>

          </div> -->
        </span>
            </div>
        </li>
    </ul>

</div>

<!-- <div id='geocoder' class='inputMap'></div>
 -->

<pre id='coordinates' class='coordinates'>
</pre>

<div id='geocoder' #geocoder class="geocoder "></div>