<div class="btn">
  <div class="left">  Zona Asignada</div>

  <div class="right">
    <i (click)="mostrarEliminar=true" class="material-icons iconoEliminar">delete</i>
    <i (click)="mostrarSubzonas=true" class="material-icons iconoSiguiente">keyboard_arrow_right</i>
  </div>

</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta ">
 <div class="bloqueado">
   <div class="centroPantalla">
    <div class="cajaBordeGris">
      <label class="flow-text">¿Eliminar de la Lista?</label>
      <div class="container"><hr>
        <div (click)="mostrarEliminar=false" class="btn botonNo"><h6>Cancelar</h6></div>
        <div (click)="mostrarEliminar=false" class="btn botonSi"><h6>Eliminar</h6></div>
      </div>
    </div>
   </div>
 </div>

</div>

<div *ngIf="mostrarSubzonas" class="pantallaCompleta">
    <div class="bloqueado">
      <div class="centroPantalla">
        <div class="cajaBordeGris">
          <label class="flow-text">SubZonas</label>
          <div class="container"><hr></div>
          <div  class="cajaBordeAzul">
              <div class="row">
                <div class="col s6 ">Disponibles</div>
                <div class="col s6 ">Asignadas</div>
              </div>
              <div class="">
                <div class=" col s6 cajaBordeAzulChica">
                    <ul>
                      
                        <li class="btn links" >
                          Subzona Disponible
                        </li>
                      </ul>
                </div>
                <div class=" col s6 cajaBordeAzulChica">
                    <ul>
                        <li class="btn links" >
                          SubZona Asignada
                        </li>
                    </ul>
                </div>
              </div>
            </div>
            <div (click)="mostrarSubzonas=false;" class="btn botonNo"><h6>Cerrar</h6></div>
  
        </div>
      </div>
    </div>
  </div>
  