<h3>
  Agregar pedido a la solicitud
</h3>


<div class="col-md-12">
    <div class="row">
        <div class="col-sm">
                <form class="col-md-12" >
                <div class="form-group ">
                   
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Artículos</th>
                                

                            </tr>
                        </thead>
                        <tbody>  
                            <tr *ngFor="let pedido of pedidos">
                               
                                <td >
                                    <div><div class="negrita en-linea">Pedido:</div><div class="en-linea"> {{pedido.idPedido}}</div></div>
                                    <div><div class="negrita en-linea">Venta:</div><div class="en-linea"> {{pedido.venta}}</div></div> 
                                      
                                </td>
                                <td>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="textoPequeño">idArticulo</th>
                                                <th class="textoPequeño col-10">Articulo</th>
                                                <th class="textoPequeño">Cantidad</th>
                                                <th class="textoPequeño">Precio</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let articulo of pedido.articulos">
                                                <td class="textoPequeño">{{articulo.idArticulo}}</td>
                                                <td class="textoPequeño col-10">{{articulo.nombreArticulo}}</td>
                                                <td class="textoPequeño">{{articulo.cantidad}}</td>
                                                <td class="textoPequeño" >{{articulo.precio | currency}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            
                                <td><i *ngIf="!estaLigado(pedido.idPedido)" (click)="seleccionarPedido(pedido)" data-toggle="tooltip" data-placement="top" title="Ligar Pedido" class="material-icons manita" style="color: red">link_off</i>
                                <i *ngIf="estaLigado(pedido.idPedido)" (click)="desligarPedido(pedido.idPedido)" data-toggle="tooltip" data-placement="top" title="Desligar Pedido" class="material-icons manita" style="color: green">link</i></td>
                                
                            </tr>
                          
                        </tbody>
                    </table>
                </div>
</form>
</div>
</div>
</div>

<app-modal-pedido [openModal]="openModalAgregaPedido" (resp)="agregarPedido($event) ">
</app-modal-pedido>