<div #modal id="modal1" class="modal">
  <div class="modal-content">
    <h6 class="flow-text">Comentarios...</h6>
    <textarea #inputComentarios style="height: 10rem"></textarea>
  </div>
  <div class="modal-footer">
    <a (click)="onDenyClick()" class="btn btn-flat" style="color: red">Cerrar</a>
    <a (click)="onConfrimClick()" class="btn btn-flat" style="color: green">Aceptar</a>
  </div>
</div>