<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #3f51b5 !important; height: 200% !important;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->




<<<<<<< HEAD
<mat-toolbar color="primary" class="docs-navbar-header ">
=======
<mat-toolbar color="primary" class="docs-navbar-header">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
    <button class="docs-button mat-button" mat-button>Redigitalizacion de Solicitud</button>
    <button class="docs-button mat-button" mat-button>No.Solicitud:</button>
    <button class="docs-button mat-button" mat-button>Fecha de Registro:</button>
    <button class="docs-button mat-button" mat-button>Cerrar Sesíon</button>

    <!--     <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile> -->
</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav mode="side" fixedTopGap="65" fixedInViewport="true" style="background: white; max-width: 25%;" opened>


        <mat-vertical-stepper linear="false" (selectionChange)="selectionPage($event)" #stepper>
            <mat-step>
                <ng-template matStepLabel>Datos Personales Cliente</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereDatosConyugeCliente">
                <ng-template matStepLabel>Datos Conyuge Cliente</ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Domicilio Cliente</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereDatosEmpleoCliente">
                <ng-template matStepLabel>Datos Empleo Cliente</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requierDatosEmpleoConyugeCliente">
                <ng-template matStepLabel>Datos Empleo <br>Conyuge Cliente</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereDatosAval">
                <ng-template matStepLabel>Datos Aval</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereDatosConyugeAval">
                <ng-template matStepLabel>Datos Conyuge Aval</ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Datos Contactos</ng-template>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Documentos</ng-template>
            </mat-step>

        </mat-vertical-stepper>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container" style="margin-top: 20px">
<<<<<<< HEAD
          <app-busqueda-cliente></app-busqueda-cliente>
=======
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>