<!-- Modal Structure -->
<div #modal id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    
    <img class="responsive-img " *ngIf="dataInput.img" [src]="dataInput.img.base64">
  </div>
  <div class="modal-footer">
    <a (click)='onCloseClick()'  class="btn btn-flat" style="color: red">Cerrar</a>
  </div>
</div>