<app-spinner *ngIf="cargandoDatos" [isFull]="true"></app-spinner>

<h3>
    Datos Personales del Cliente
</h3>

<div class="col-md-12">
    <div class="row">
        <div class="col-sm">
            <form class="col-md-12" [formGroup]="formularioDatosCliente">

                <div class="form-group ">
                    <label>Nombre Cliente</label>
                    <input #edtNombreCliente [value]="_solicitudServices.cliente.nombres" type="text" class="form-control" disabled>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input #edtApellidoPaterno [value]="_solicitudServices.cliente.primerApellido" type="text" class="form-control" disabled>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input #edtApellidoMaterno [value]="_solicitudServices.cliente.segundoApellido" type="text" class="form-control" disabled>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de Nacimiento</label>
                        <input #edtFechaNacimiento formControlName="fechaNacimiento" type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-5">
                        <label>RFC</label>
                        <input #edtRfc formControlName="rfc" [value]="_solicitudServices.cliente.rfc" type="text" class="form-control">
                    </div>
                    <div class="form-group col-md-1 ">
                        <i (click)="generaRfc()" class="material-icons inline" style="color: green; margin-top: 120%; cursor: pointer;">refresh</i>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label for="inputState">Estado Civil</label>
                        <select formControlName="estadoCivil" #selectEdo (change)="reqDatConyuge(selectEdo.value)" id="inputState" class="form-control">
                            <option selected value="-1">--Seleccionar Edo. Civil--</option>
                            <option *ngFor="let estadCivil of listEstadoCivil"
                                [value]="estadCivil.id_tipo_estado_civil"> 
                                {{estadCivil.tipo_estado_civil}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Género: </label>
                        <div class="custom-control custom-radio custom-control-inline" style="margin-top: 13.5% !important">
                            <input formControlName="genero" type="radio" [checked]="generoF" id="customRadioInline1" value="F" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline1">F</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input formControlName="genero" value="M" type="radio" [checked]="generoM" id="customRadioInline2" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline2">M</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Teléfono Celular</label>
                        <input #telefonoMovil class="form-control phone" [value]="_solicitudServices.getTelefonoClienteCelular()" type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
                        <!--                       <small id="telMov" class="valid-feedback">
                            El número telefónico debe contar con 10 caracteres.
                           </small> -->

                    </div>
                    <div class="form-group col-md-6">
                        <label>Teléfono Casa </label>
                        <input #telefonoFijo class="form-control phone" type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" [value]="_solicitudServices.getTelefonoClienteFijo()">
                        <!-- <small id="telFijo" class="form-text text-muted">
                           El número telefónico debe contar con 10 caracteres.
                          </small> -->
                    </div>
                </div>
                <div class="form-group">
                    <label>Correo Electrónico</label>
                    <input formControlName="correo" [value]="_solicitudServices.solicitudCompleta.infoCliente.cliente.correo" type="email" class="form-control">
                </div>

                <div class="form-row ">

                    <div class="form-group col-md-12">

                        <label>¿Cuenta con un empleo? </label>

                        <div class="custom-control custom-radio custom-control-inline">

                            <input [checked]="_solicitudServices.reqDatosEmpleoClienteF()" type="radio" id="customRadioInline15" class="custom-control-input" (click)="onClickEmpleo(true)">

                            <label class="custom-control-label" for="customRadioInline15">Sí</label>
                        </div>

                        <div class="custom-control custom-radio custom-control-inline ">

                            <input [checked]="!_solicitudServices.reqDatosEmpleoClienteF()" type="radio" id="customRadioInline16" class="custom-control-input" (click)="onClickEmpleo(false)">

                            <label class="custom-control-label" for="customRadioInline16">No</label>
                        </div>

                    </div>

                </div>

                <div class="form-row">

                    <div class="form-group ">

                        <label>¿Requiere Aval? </label>

                        <div class="custom-control custom-radio custom-control-inline ">

                            <input [checked]="reqAval()" name="r" type="radio" id="customRadioInline11" class="custom-control-input" (click)="cambiaRequierAvalSolicitud(true)">

                            <label class="custom-control-label" for="customRadioInline11">Sí</label>

                        </div>

                        <div class="custom-control custom-radio custom-control-inline ">

                            <input [checked]="!reqAval()" name="r" type="radio" id="customRadioInline12" class="custom-control-input" (click)="cambiaRequierAvalSolicitud(false)">

                            <label class="custom-control-label" for="customRadioInline12">No</label>

                        </div>

                    </div>

                </div>


            </form>

        </div>
        <div class="col-sm">
            <div class="col-md-12 text-center">
                <label class=""><b>Capturar INE</b></label>
                <br>

                <label style="color: black">Frente</label>
                <div>
                    <div appNgDropSingleFile (archivo)="ineFrente=$event" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img [src]="renderIne(true)" class="rounded" width="308" height="189" alt="...">
                    </div>
                    <div class="custom-file">
                        <input id="customFileLang" (change)="selectImage($event,true)" type="file" class="custom-file-input" lang="es">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
                    </div>
                </div>
                <label style="color: black">Reverso</label>
                <div>
                    <div appNgDropSingleFile (archivo)="ineReverso =$event" [ngClass]="{'file-over': estaSobreDrop}" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                        <h4>Arrastre aquí el archivo</h4>
                        <img [src]="renderIne(false)" class="rounded" width="308" height="189" alt="...">
                    </div>
                    <div class="custom-file">
                        <input (change)="selectImage($event,false)" type="file" class="custom-file-input" id="customFileLang" lang="es">
                        <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>

                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4 offset-10" style="margin-top: 2%">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-danger btn-sm">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button (click)="onSaveClick()" type="button" class="btn btn-outline-success btn-sm">Guardar</button>

            </div>
        </div>
    </div>

</div>

<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInput" (dataGuardar)="responseDataGuardar($event)">
</app-modal-guardar>
<app-modal-guardar [openModal]="openModalEliminarEmpelo" [dataInput]="dataInput" (dataGuardar)="responseDataEliminar($event)">
</app-modal-guardar>