.list-container {
  height: 400px;
  border: 1px/*  solid black */;
  padding: 2px;
  width: auto;
  min-width: 250px;
  border: solid 1px #5c6bc0;
  height: 400px;
  max-height: 400px;
  overflow: auto;
}
.pantallaCompleta{
    z-index: 1;
    display:absolute;
    position:relative ;
  }
  
  .links{
    cursor: pointer;
  }
  
  .cajaBordeGris{
    background: #e8eaf6;
  }
  .flow-text{
    font-weight: bold;
  }
  .btn{
    width: 100%;
    background: #e8eaf6;
    padding: 1px;
    padding-top: 0px;
    margin-top: 0px;
    max-height: 95px;
    text-transform: none;
  }
  p{
    margin-top: 0px;
    text-align: start;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding-left: 5px;
  
  }
  .botonSi{
    background: green;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 15px;
    margin-top: 5px;
    width: 45%;
  }
  .botonNo{
    border-top-right-radius:  0px;
    border-bottom-right-radius: 0px;
    margin-top: 5px;
    background: red;
    width: 45%;
  }
  .centroPantallaLista{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
  }
  [type="checkbox"]:checked+span:not(.lever):before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid green;
    border-bottom: 2px solid green;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  .checkbox input[type=checkbox] :checked{
    color: #e8eaf6;
  
  
  }
  span{
    color: #5c6bc0;
  
  }
  
  

  .centroPantalla{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 17%;
    left: 40%;
    height: 30%;
    width: 70%;
    margin: 0% 0 0 -25%;
  }
  
  .cajaBordeGris{
  
    border:solid 5px #e8eaf6;
    border-radius:15px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10%;
    min-width: 300px;
  
  }
  .cajaOpcion{
    width: 100%;
    text-align: right;
    margin-top: -8px;
    padding-right: 10px;
  
  }
  .cajaAgregar{
    cursor: pointer;
    border:solid 0px #e8eaf6;
    background: #e8eaf6;
    border-radius:15px;
    text-align: center;
    color: green;
    display:inline-block;
      margin-left:auto;
      margin-right:auto;
    box-shadow: 0px 0px 0px 0px #818181;
  
  }
  .bloqueado{
    top: 0px;
    margin-top: 0px;
    display: absolute;
    position:fixed;
    width: 100%;
    background: rgba(100,100, 100, 0.5);
    min-height: 100%;
    overflow: auto;
  }
  .cajaPersonas{
    padding: 2px;
    width: auto;
    min-width: 250px;
    border: solid 1px #5c6bc0;
    height: 400px;
    overflow: auto;
  }
  ::-webkit-scrollbar {
        width: 10px;
  
  }
  ::-webkit-scrollbar-track {
        background-color: #9fa8da;
        border-radius: 5px;
  
  } /* the new scrollbar will have a flat appearance with the set background color */
  
  ::-webkit-scrollbar-thumb {
        background-color:#5c6bc0;
  
        border-radius: 5px;
  } /* this will style the thumb, ignoring the track */
  
  ::-webkit-scrollbar-button {
        background-color: #5c6bc0;
        height: 0px;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
  
  ::-webkit-scrollbar-corner {
        background-color: black;
  } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
  
  .modalSearch {
    height: 300px;
    width: 60%;
    background-color: orangered;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background: chocolate;
  }