<div class="fondo-negro" *ngIf="openModal">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Domicilio Empleo Cliente</h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputState">Estado</label>
                                <select #selectEstado id="inputState" class="form-control" (change)="onSelectEstado($event.target.value)">
                                    <option value="-1">--Seleccionar Estado--</option>
                                    <option *ngFor="let estado of listEstados" [value]="estado.estado">
                                        {{estado.nombre_estado}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputState">Ciudad</label>
                                <select #selectCiudad (change)="getColonias($event.target.value)" id="inputState" class="form-control">
                                    <option selected>--Seleccionar Ciudad--</option>
                                    <option *ngFor="let ciudad of listCiudades" [value]="ciudad.municipio">
                                        {{ciudad.nombre_municipio}} </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Colonia</label>

                                <div class="ng-autocomplete">
                                    <ng-autocomplete #auto [data]="listColonias" [initialValue]="coloniaSeleccionada" searchKeyword="nombre" (selected)='selectColonia($event)' (inputChanged)='onChangeColonia($event)' historyListMaxNumber='0' [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                    </ng-autocomplete>
                                </div>

                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.nombre"></a>
                                </ng-template>

                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]=""></div>
                                </ng-template>


                                <!-- <select #selectColonia id="inputState" class="form-control">
                                    <option selected>--Seleccionar Colonia--</option>
                                    <option *ngFor="let colonia of listColonias" [value]="colonia.sepomex">
                                        {{colonia.nombre}} </option>
                                </select> -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputAddress">Calle</label>
                                <input #edtCalle type="text" class="form-control" id="inputAddress">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Codigo Postal</label>
                                <input #edtCp type="text" [value]="coloniaSeleccionada.codigo_postal||''" class="form-control" id="inputAddress">
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                                <label for="inputState">No. Exterior</label>
                                <input #edtNoExt type="text" class="form-control" id="inputAddress">

                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">No. Interior</label>
                                <input #edtNoInt type="text" class="form-control" id="inputAddress">
                            </div>

                        </div>


                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-outline-danger manita" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-lg btn-outline-success manita" (click)="setDomicilioEmpleoCliente()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>