.btn{
    background: #5c6bc0;
    margin-top: 5px;
    width: 100%
  }
  .iconos{
  margin-left: 10px;
  }
  .cajaBordeAzul{
  
    border:solid 5px #5c6bc0;
    background: #c5cae9 ;
    border-radius:5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding: 2px;
    height: 290px;
  
  
  }
  .centroPantalla{
    text-align: center;
    margin: auto;
    position: absolute;
    top: 17%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: 0% 0 0 -25%;
  }
  .s6{
    height: 5px;
  }
  p{
    margin: 0px;
  }
  
  .textocaja{
    text-color: #5c6bc0;
    width: 100%;
    text-align: left;
  }
  .textoAzul{
    color:  #5c6bc0
  }
  
  .texto{
    margin-left: 10px;
  color: #5c6bc0;
  
  }
  .btn{
    cursor: auto;
    padding: 10px;
    padding-top: 0px;
    max-height: 95px;
    text-transform: none;
  
  }
  ul li { display: inline-block;
    padding: 0 0px;
    margin-top: -10px;
    white-space: nowrap
  }
  .pantallaCompleta{
    z-index: 1;
    position: absolute;
  }
  
  .bloqueado{
    top: 0%;
    left: 0%;
    position:fixed;
    width: 100%;
    background: rgba(100,100, 100, 0.5);
    min-height: 100%;
    overflow: auto;
  }
  
  
  .cajaBordeGris{
    background: #e8eaf6 ;
    border:solid 5px #e8eaf6;
    border-radius:15px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10%;
    min-width: 300px;
  }
  img{
    width: 200px;
    height: 200px;
    cursor: pointer;
  }
  
  .cajaBordeAzulChica{
    overflow:auto;
    height: 250px;
    padding: 2px;
    border:solid 1px #5c6bc0;
    background: #c5cae9 ;
    border-radius:5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 1px;
  }
  .botonSi{
    background: green;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 3px,3px,3px,3px;
    width: 50%;
    cursor: pointer;
  }
  .botonNo{
    border-top-right-radius:  0px;
    border-bottom-right-radius: 0px;
    background: red;
    margin: 3px,3px,3px,3px;
    cursor: pointer;
  
    width: 50%;
  }
  .links{
    cursor: pointer;
  }
  .input-field{
    margin-left: 5px;
    display: inline-flex;
    

  }
  .btnSel{
  
    width: 180px;
    height: 33px;
    background: #e8eaf6;
    border: solid 1px #e8eaf6;
    text-decoration-color:  #e8eaf6;
    padding: 0px 0px 0px 5px;
    margin: 1px 0px 0px 0px;
    max-height: 30px;
    text-transform: capitalize;
  }
  .cajaZonas{
    background: #e8eaf6;
    margin-top: 10px;
    width: 100%;
    min-height: 80px;
    max-height: 128px;
    padding: 1px 1px 0px 1px;
    border: solid 1px #000;
  }
  .contenedorZonas{
    max-height: 86px;
    min-height: 38px;
    align-items: initial;
    overflow: auto;
  }
  
  ::-webkit-scrollbar {
        width: 10px;
  
  }
  ::-webkit-scrollbar-track {
        background-color: #9fa8da;
        border-radius: 5px;
      
  } /* the new scrollbar will have a flat appearance with the set background color */
  
  ::-webkit-scrollbar-thumb {
        background-color:#5c6bc0;
  
        border-radius: 5px;
  } /* this will style the thumb, ignoring the track */
  
  ::-webkit-scrollbar-button {
        background-color: #5c6bc0;
        height: 0px;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
  
  ::-webkit-scrollbar-corner {
        background-color: black;
  } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
  .cajaImagenes{
    height: 200px;
  }