<!-- <div class="pantallaCompleta" *ngIf="mostrarDescargar" >
    <div class="bloqueado">
      <div class="centroPantalla">
        <div class="cajaBordeGris">
          <div class="cajaPersonas">
            <label class="flow-text">Seleccionar formato de descarga</label>
            <div class="container">
              <hr>
              <br>
              <br>
            </div>
            <div class="row cajaImagenes">
                <div class=" col s6">
                    <img src="/assets/img/mexcel.png" />
      
                  </div>
                  <div class=" col s6">
                      <img src="/assets/img/pdf.png" />
        
                    </div>
            </div>
         <br>
           
              
              <div class="row">
                <div class="container">
                  <div (click)="mostrarDescargar = false" class="btn botonNo center">
                    <h6>Cerrar</h6>
                  </div>
                  
                </div>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="centroPantalla"  >
  <div class="cajaBordeGris">
    <div class="cajaOpcion">
      <div class="container">

        <label class="flow-text">Reportes</label>
        <hr>
        <label class="flow-text">Tipo de reporte:</label>
        <div class=" input-field col s3 ">
          <select class="browser-default" style="background: #e8eaf6">
            <option value="1">Historico</option>
            <option value="2">Mensual</option>
            <option value="3">Por Variable</option>
            <option value="4">Por Visita</option>



          </select>
        </div>
        <div class="scroll">
          <div class="">
            <div class=" btn">
              <div class="text left">
                <h6>Zonas</h6>
              </div>
              <div class="right">
                <i (click)="cambiarMostrarZonas()" *ngIf="!mostrarZonas" class="material-icons iconos links ">expand_more</i>
                <i (click)="cambiarMostrarZonas()" *ngIf="mostrarZonas" class="material-icons iconos links">expand_less</i>
              </div>
            </div>
            <div *ngIf="mostrarZonas">

              <div class="btn btnSel right">
                <label class="left center  label">
                  <input class="checkbox right " type="checkbox" />
                  <span class="blue-text left"> Seleccionar todos</span>
                </label>
              </div>
              <br>
              <div class="cajaZonas">
                <label class="blue-text left">
                  <input class="checkbox " type="checkbox" />
                  <span> Zona</span>
                </label>
              </div>

            </div>
          </div>

          <div class="">
            <div class=" btn">
              <div class="text left">
                <h6>SubZonas</h6>
              </div>
              <div class="right">
                <i (click)="cambiarMostrarSubzonas()" *ngIf="!mostrarSubzonas" class="material-icons iconos links ">expand_more</i>
                <i (click)="cambiarMostrarSubzonas()" *ngIf="mostrarSubzonas" class="material-icons iconos links">expand_less</i>
              </div>
            </div>
            <div *ngIf="mostrarSubzonas">
              <div class="btn btnSel right">
                <label class="left center  label">
                  <input class="checkbox right " type="checkbox" />
                  <span class="blue-text left"> Seleccionar todos</span>
                </label>
              </div>
              <br>
              <div class="cajaZonas">
                <label class="blue-text left">
                  <input class="checkbox " type="checkbox" />
                  <span> SubZona</span>
                </label>
              </div>

            </div>
          </div>
        </div>

        <div class="">
          <div class=" btn">
            <div class="text left">
              <h6>Sucursal</h6>
            </div>
            <div class="right">
              <i (click)="cambiarMostrarSucursales()" *ngIf="!mostrarZonas" class="material-icons iconos links ">expand_more</i>
              <i (click)="cambiarMostrarSucursales()" *ngIf="mostrarSucursales" class="material-icons iconos links">expand_less</i>
            </div>
          </div>
          <div *ngIf="mostrarSucursales">
            <div class="btn btnSel right">
              <label class="left center  label">
                <input class="checkbox right " type="checkbox" />
                <span class="blue-text left"> Seleccionar todos</span>
              </label>
            </div>
            <br>
            <div class="cajaZonas">
              <label class="blue-text left">
                <input class="checkbox " type="checkbox" />
                <span> Sucursal</span>
              </label>
            </div>
          </div>
        </div>
        <div>
          <br>

          <div (click)="mostrarReportes= false;" class="btn botonNo">
            <h6>Regresar</h6>
          </div>


          <div (click)="mostrarDescargar = true" class="btn botonSi">
            <h6>Generar reporte</h6>

          </div>




        </div>
      </div>
    </div>
  </div>

</div> -->


<iframe style="top: 0%; left: 0%" onload="this.width=screen.width;this.height=screen.height;"
  src="https://app.powerbi.com/view?r=eyJrIjoiMjU2MGQ3YmItMjJlZS00MzMyLWI1YTktNDc2ZmIyY2JlYWMzIiwidCI6IjNjMWY4OWI2LTk3M2QtNDQ2NC1iYjBlLWFiZjk2YjNmNWIyZSIsImMiOjh9"
  frameborder="0" allowFullScreen="true"></iframe>