<h3>
    Documentos
</h3>

<form action="">
    <div class="row  ">
        <div class="col-md-5 offset-3">
            <br>
            <div appNgDropFiles [useFormControls]="true" [archivos]="listArchivos" [ngClass]="{'file-over': estaSobreDrop}" (archivoNuevo)="onDropArchivoNuevo($event)" (mouseSobre)="estaSobreDrop=$event" class="well drop-zone">
                <h4>Arrastre aquí los archivos</h4>
                <img src="assets/drop-images.png">
            </div>
            <div class="custom-file" style="z-index: 0">
                <input type="file" (change)="selectImage($event)" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                <label class="custom-file-label" for="customFileLang"></label>
            </div>
        </div>
    </div>
    <form [formGroup]="form">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="table-responsive">


                    <table class="table  table-hover ">
                        <thead class="thead-light">
                            <tr>
                                <th>Vista</th>
                                <th>Nombre Archivo</th>
                                <th>Tipo Documento</th>
                                <th>A quien pertenece</th>
                                <!--             <th>Progreso</th>
     -->
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="clasDocumento">

                            <tr [formGroupName]="i" *ngFor="let archivo of listArchivos let i = index">
                                <td (click)="openPreView(archivo)">
                                    <img [src]="archivo.base64" width="50px" height="50px"></td>
                                <td>{{archivo.nombreArchivo}}</td>
                                <td>

                                    <select #selecTipoDocumento (change)="onChangeSelectTipoDocumento(i)" formControlName="selecTipoDocumento" class="form-control">
                                        <option value="-1">--Tipo Documento--</option>
                                        <option *ngFor="let documento of listTiposDocumentos"
                                            [value]="documento.id_tipo_documento">
                                            {{documento.tipo_documento }}</option>
                                    </select>
                                    <select formControlName="selecCompDom" [ngClass]="{'hidden': hideControl(i,'selecCompDom')}" class="form-control">
                                        <option selected value="-1">--Tipo Comprobante--</option>
                                        <option *ngFor="let comprobanteD of listTipoComprobanteDomicilio"
                                            [value]="comprobanteD.id_tipo_comprobante_domicilio">
                                            {{comprobanteD.tipo_comprobante_domicilio}}</option>
                                    </select>
                                    <select formControlName="selecCompIng" [ngClass]="{'hidden': hideControl(i,'selecCompIng')}" class="form-control">
                                        <option selected value="-1">--Tipo Comprobante--</option>
                                        <option *ngFor="let ingresos of listTipoComprobanteIngresos"
                                            [value]="ingresos.id_tipo_comprobante_ingreso">
                                            {{ingresos.tipo_comprobante_ingreso}}</option>
                                    </select>

                                    <select formControlName="selecCompProp" [ngClass]="{'hidden': hideControl(i,'selecCompProp')}" class="form-control">
                                        <option selected value="-1">--Tipo Comprobante--</option>
                                        <option *ngFor="let propiedad of listComprobantePropiedad"
                                            [value]="propiedad.id_tipo_comprobante_propiedad">
                                            {{propiedad.tipo_comprobante_propiedad}}</option>
                                    </select>

                                </td>
                                <td>
                                    <select formControlName="selecTipoContacto" #selecTipoContacto (change)="onSelectContacto(i,selecTipoContacto.value)" [ngClass]="{'hidden': hideControl(i,'selecTipoContacto')}" class="form-control">
                                        <option selected value="-1">--Contacto--</option>
                                        <option value="cliente">Cliente</option>
                                        <option *ngFor="let contacto of getListaTiposContacto(i)"
                                            [value]="contacto.id_tipo_contacto">
                                            {{contacto.tipo_contacto}}</option>

                                    </select>
                                    <select formControlName="selecContacto" [ngClass]="{'hidden': hideControl(i,'selecContacto')}" class="form-control">
                                        <option selected value="_Sol">--Seleccionar--</option>
                                        <option *ngFor="let contacto of listaContactos"
                                            [value]="contacto.contacto.idContacto">
                                            {{contacto.contacto.nombres}} {{contacto.contacto.primerApellido}}
                                            {{contacto.contacto.segundoApellido}}</option>

                                    </select>
                                </td>

<!--                                 <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2-2'}} MB</td>
 -->
                                <td><i class="material-icons text-center" (click)="eliminarArchivo(i,archivo)" style="font-size: 30px; text-align: center; color: red;cursor: pointer;">
                                        delete_outline
                                    </i></td>

                                <!--  <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': archivo.progreso + '%'}"></div>
                  </div>
                </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </form>
    <div class="offset-10">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" (click)="onClickLimpiar()" class="btn btn-outline-danger btn-sm">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button (click)="setDocumentos()" type="button" class="btn btn-outline-success btn-sm">Guardar</button>

            </div>
        </div>
    </div>
</form>

<app-modal-prew [archivo]="archivoSeleccionado" (close)="preView=false" [show]="preView"></app-modal-prew>