<app-busqueda-cliente></app-busqueda-cliente>

<h3>
    Datos Personales del Cliente
</h3>

<div class="col-md-12">
    <div class="row">
        <div class="col-sm">
            <form class="col-md-12">

                <div class="form-group ">
                    <label>Nombre Cliente</label>
                    <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Apellido Paterno</label>
                        <input type="text" class="form-control" placeholder="Apellido Paterno">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Apellido Materno</label>
                        <input type="text" class="form-control" placeholder="Apellido Materno">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Fecha de Nacimiento</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                        <label>RFC</label>
                        <input type="text" class="form-control" placeholder="RFC">
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-6">
                        <label for="inputState">Estado Civil</label>
                        <select #edoCivil (change)="selectEdoCivil(edoCivil.value)" id="inputState" class="form-control">
                            <option selected>--Seleccionar Edo.Civil--</option>
                            <option  *ngFor="let estadCivil of listEstadoCivil">{{estadCivil.tipo_estado_civil}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Genero: </label>
                        <div class="custom-control custom-radio custom-control-inline" style="margin-top: 13.5% !important">
                            <input type="radio" class="custom-control-input">
                            <label class="custom-control-label">F</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input">
                            <label class="custom-control-label">M</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="">Teléfono Celular</label>
                        <input type="tel" class="form-control" placeholder="Celular">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Teléfono Casa </label>
                        <input type="tel" class="form-control" placeholder="Fijo">
                    </div>
                </div>
                <div class="form-group">
                    <label>Correo Electronico</label>
                    <input type="email" class="form-control" placeholder="Email">
                </div>

                <div class="form-row ">
                    <div class="form-group col-md-12">
                        <label>¿Cuenta con un empleo? </label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline5" name="customRadioInline5" class="custom-control-input" (click)="requiereEmpleo(true)">
                            <label class="custom-control-label" for="customRadioInline5">Sí</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline6" (click)="requiereEmpleo(false)" name="customRadioInline5" class="custom-control-input">
                            <label class="custom-control-label" for="customRadioInline6">No</label>
                        </div>
                    </div>
                </div>
                <div class="form-row ">
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlSelect1">¿Requiere Aval? </label>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline1" name="customRadioInline10" class="custom-control-input" (click)="requiereAval(true)">
                            <label class="custom-control-label" for="customRadioInline1">Sí</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" id="customRadioInline2" name="customRadioInline10" class="custom-control-input" (click)="requiereAval(false)">
                            <label class=" custom-control-label " for="customRadioInline2">No</label>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm ">
            <div class="col-md-12 text-center ">
                <label class=" "><b>Capturar INE</b></label>
                <br>
                <label style="color: black ">Frente</label>
                <div>
                    <img src="assets/fren.png " class="rounded " alt="... ">
                </div>
                <label style="color: black ">Reverso</label>
                <div>

                    <img src="assets/rever.png " class="rounded " alt="... ">
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-4 offset-8 ">
        <div class="form-row ">
            <div class="form-group col-md-1.5 ">
                <button type="button " class="btn btn-outline-danger btn-lg ">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5 ">
                <button type="button " class="btn btn-outline-success btn-lg ">Guardar</button>

            </div>
        </div>
    </div>

</div>