<div class="btn" >
  <div class="left">
    <h6>{{ auditor.nombre }}</h6>
  </div>
  <div class="right">
    <i
      (click)="mostrarEliminar = true"
      class="material-icons iconoEliminar links"
      >delete</i
    >
    <i
      (click)="mostrarDetallesAuditor()"
      class="material-icons iconoSiguiente links"
      >keyboard_arrow_right</i
    >
  </div>
</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">¿Desea eliminar este auditor?</label>
        <div class="container">
          <hr />
          <div>
            <div (click)="mostrarEliminar = false" class="btn botonNo">
              <h6>Cancelar</h6>
            </div>
            <div class="btn botonSi" (click)="eliminarAuditor()">
              <h6>Eliminar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="pantallaCompleta">
  <div *ngIf="mostrarDetalles" class=" bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris ">
        <label class="flow-text">Detalles Auditor</label>
        <hr />
        <div style="text-align: start">
          <div class="container">
            <div class="btnNombre">Nombre:</div>
            <div class="nombre">{{detallesAuditor.nombre}}</div>
          </div>
        </div>
        <div style="text-align: start">
          <div class="container">
            <div class="btnCorreo">Correo:</div>
            <div class="nombre">{{detallesAuditor.correo}}</div>
          </div>
        </div>
        <div class="scroll">
          <div class="">
            <div class=" btn">
              <div class="text left">
                <h6>Auditorias</h6>
              </div>
              <div class="right">
                <i
                  (click)="cambiarMostrarAuditorias()"
                  *ngIf="!mostrarAuditorias"
                  class="material-icons iconos links "
                  >expand_more</i
                >
                <i
                  (click)="cambiarMostrarAuditorias()"
                  *ngIf="mostrarAuditorias"
                  class="material-icons iconos links"
                  >expand_less</i
                >
              </div>
            </div>
            <div *ngIf="mostrarAuditorias" class="cajaBordeAzul">
              <div class="">
                  <div class="textoAuditorias izquierda">Nombre</div>
                  <div class="textoAuditorias centrar">Fecha Programada</div>
                  <div class="textoAuditorias derecha">Estatus</div>
              </div>
              <div class="row">
                <div class=" btn col s12" *ngFor="let auditoria of detallesAuditor.auditorias">
                  <div class="">
                      <div class="textoAuditorias izquierda">{{auditoria.nombreAuditoria}}</div>
                      <div class="textoAuditorias centrar">{{auditoria.fechaProgramada}}</div>
                      <div class="textoAuditorias derecha">{{auditoria.estado}}</div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div (click)="mostrarDetalles = false" class="btn botonNo center">
            <h6>Cerrar</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
