.btn{
    width: 100%;
    background: #e8eaf6;
    margin-top: 5px;
    color: #5c6bc0;
    cursor: auto;
    border: solid 1px;
    text-transform: capitalize;
}
.iconoSiguiente{
    margin-left: 10px;
    color: green;

    }
    .iconoEliminar{
        margin-left: 10px;
        color: red;
        }
    .links{
        cursor: pointer;
      }
      .centroPantalla{
        text-align: center;
        margin: auto;
        position: absolute;
        top: 40%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
      }
      .cajaBordeGris{
background: #e8eaf6;
        border:solid 5px #e8eaf6;
        border-radius:15px;
        box-shadow: 8px 8px 10px 0px #818181;
        padding-top: 30px;
        padding-bottom: 20px;
        margin-bottom: 10%;
        min-width: 300px;

      }
      .bloqueado{
          top: 0px;
          left: 0px;
        margin-top: 0px;
        display: absolute;
        position:fixed;
        width: 100%;
        
        background: rgba(100,100, 100, 0.5);
        min-height: 100%;
        overflow: auto;
      }
      .pantallaCompleta{
        z-index: 1;
        display:absolute;
        position:relative ;
      }
      .botonSi{
        cursor: pointer;
        background: green;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-left: 15px;
        margin-top: 5px;
        width: 45%;
        border: solid 0px;
        color: #e8eaf6;
      }
      .botonNo{
        cursor: pointer;
        border-top-right-radius:  0px;
        border-bottom-right-radius: 0px;
        margin-top: 5px;
        background: red;
        width: 45%;
        border: solid 0px;
        color: #e8eaf6;
      }
      .cajaBordeAzul{
        border:solid 5px #5c6bc0;
        background: #c5cae9 ;
        border-radius:5px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        box-shadow: 8px 8px 10px 0px #818181;
        padding-top: 7px;
        padding-bottom:10px;
      }
      .cajaBordeAzul{
        max-height: 200px;
        overflow: auto;
      }
      .textocaja{
        text-color: #5c6bc0;
        width: 100%;
        text-align: left;
      }

      .texto{
        margin-left: 10px;
      color: #5c6bc0;

      }
      .nombre{
        width: auto;
        margin-left: 5px;
        display: inline-block;
       color:  #5c6bc0;
      }

    .btnNombre{
      display: inline-block;
      background: #5c6bc0;
      color: #e8eaf6;
      padding-left: 5px;
      padding-right: 5px;
      width: 70px;
      height: 20px;
      min-width: 70px;
    }
    .btnCorreo{
      display: inline-block;
      min-width: 70px;
      background: #5c6bc0;
      color: #e8eaf6;
      width: 70px;
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;
      margin-top: 5px;
    }
    .scroll{
      margin-top: 20px;
      overflow: auto;
      min-height: 150px;
      max-height: 350px;
      padding-left: 20px;
      padding-right: 10px;

    }
    .textoAzul{
      color:  #5c6bc0
    }
    .cajaBordeAzulChica{
      overflow:auto;
      margin-top: -15px;
      height: 200px;
      padding: 2px;
      border:solid 1px #5c6bc0;
      background: #c5cae9 ;
      border-radius:5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      margin-bottom: 1px;
    }


    .cajaBordeAzul{
      width:auto;
      border:solid 5px #5c6bc0;
      background: #c5cae9 ;
      border-radius:5px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      box-shadow: 8px 8px 10px 0px #818181;
      padding: 2px;
     min-height: 261px;


    }
    ::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-track {
      background-color: #9fa8da;
      border-radius: 5px;

} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color:#5c6bc0;

      border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: #5c6bc0;
      height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.textoAuditorias{
  display: inline-block;
  width: 30%;
  white-space: nowrap;
}

.izquierda{
  text-align: start
}
.centrar{
  text-align: center
}
.derecha{
  text-align: end
}