<div class="fondo-negro" *ngIf="openModal">
  <div class="modal fade bd-example-modal-sm show" style="display: inline-block" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">


          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Pedidos</h5>
        
              </div>
              <div class="modal-body">

                  <div class="form-group">
                      <label for="exampleFormControlInput1">¿Desea ligar este pedido a la solicitud?</label>
                  </div>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" (click)="okModal()" >Continuar</button>
              </div>
          </div>
      </div>
  </div>
</div>