<div class="navbar-fixed">
 
    <div class="nav-wrapper">
<footer class="page-foote">
    <div class="footer-copyright">
    <div class="row">
      <div class="container">
        <div class=" col l6 s12 ">
           <h6 class="white-text">  © 2019 Grupo Roga</h6>
        </div>
        <div class="col l4 offset-l2 s12">
          <h6 class="white-text">Auditoría Operativa</h6>
        </div>


      </div>
    </div>

    </div>
</footer>
</div>
</div>