<h3 style="display: inline-flex;">
    Datos Domicilio del Cliente
</h3>
<div style="display: inline-flex;margin-left: 10px;"> Campos obligatorios(*)</div>

<form [formGroup]="formDomicilio">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputState">Estado*</label>
            <select [formControlName]="CTRL_ESTADO" id="inputState" class="form-control" (change)="onSelectEstado($event.target.value)">
                <option value="-1" selected>--Seleccionar Estado--</option>
                <option *ngFor="let estado of listEstados" [value]="estado.estado">{{estado.nombre_estado}}</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputState">Ciudad*</label>
            <select [formControlName]="CTRL_CIUDAD" id="inputState" class="form-control" (change)="onSelectCiudad($event.target.value)">
                <option value="-1" selected>--Seleccionar Ciudad--</option>
                <option *ngFor="let ciudad of listCiudades" [value]="ciudad.municipio">{{ciudad.nombre_municipio}}
                </option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Colonia*</label>

            <div class="ng-autocomplete">
                <ng-autocomplete [data]="listColonias" [initialValue]="coloniaSeleccionada" searchKeyword="nombre" (selected)='selectColonia($event)' (inputChanged)='onChangeColonia($event)' [itemTemplate]="itemTemplate">
                </ng-autocomplete>
            </div>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.nombre"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]=""></div>
            </ng-template>
            <!--  <select [formControlName]="CTRL_COLONIA" id="inputState" class="form-control">
                <option value="-1" selected>--Seleccionar Colonia--</option>
                <option *ngFor="let colonia of listColonias" [value]="colonia.nombre">{{colonia.nombre}}</option>
            </select> -->

            <!--            <input class="form-control" placeholder="Seleccionar Colonia" type="search" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let colonia of listColonias">
                    {{colonia.nombre}}
                </mat-option>
            </mat-autocomplete> -->
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputAddress">Calle*</label>
            <input [formControlName]="CTRL_CALLE" type="text" class="form-control" id="inputAddress">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Codigo Postal</label>
            <input [formControlName]="CTRL_CP" type="text" class="form-control" id="inputAddress">
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="inputState">No. Exterior</label>
            <input [formControlName]="CTRL_NUM_EXT" type="text" class="form-control" id="inputAddress">

        </div>
        <div class="form-group col-md-4">
            <label for="inputState">No. Interior</label>
            <input [formControlName]="CTRL_MUM_INT" type="text" class="form-control" id="inputAddress">
        </div>
        <div class="form-group col-md-3">
            <label for="inputState">Tipo Domcilio*</label>
            <select #selectDocmicilio [formControlName]="CTRL_TIPO_DOMCILIO" id="inputState" class="form-control" (change)="onSelectTipoDomicilio($event.target.value)">
                <option value="-1" selected>--Selecciona un Tipo de Domicilio--</option>
                <option *ngFor="let tipoDomiclio of listTiposDomicilio" [value]="tipoDomiclio.id_tipo_domicilio">
                    {{tipoDomiclio.tipo_domicilio}}</option>
            </select>
        </div>
        <div *ngIf=ver (click)="onSelectTipoDomicilio(selectDocmicilio.value)" class="manita col-md-1">
            <i style="padding-top: 50%" class="far fa-eye"></i>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-2">
            <label for="inputState">Tiempo de Residencia</label>
            <input [formControlName]="CTRL_ANOS" value="" type="number" class="form-control" id="inputAddress" [value]="getAnos() || 0">
            <label style="margin-left: 3%">Años</label>

        </div>

        <div class="form-group col-md-2">

            <label for="inputState"> &nbsp;</label>

            <input [formControlName]="CTRL_MESES" type="number" class="form-control" id="inputAddress" [value]="getMeses() || 0">
            <label style="margin-left: 1%">Meses</label>

        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Personas en el Domicilio</label>
            <input [formControlName]="CTRL_PERSONAS_DOMICILIO" type="number" class="form-control" id="inputAddress" [value]="domicilio.habitantesDomicilio || 0">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Condiciónes del Domicilio</label>
            <select [formControlName]="CTRL_CONDICIONES_DOM" id="inputState" class="form-control">
                <option value="-1" selected>--Selecciona Condición--</option>
                <option *ngFor="let condicion of listCondiciones" [value]="condicion.id_tipo_condicion_domicilio">
                    {{condicion.tipo_condicion_domicilio}}</option>
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="exampleFormControlTextarea1">Referencias</label>
            <textarea [formControlName]="CTRL_REFERENCIAS" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div *ngIf="domicilio.idDomicilio>0" class="form-group col-md-4 text-center" style="margin-top: 3%">
            <i class="material-icons " (click)="openModalDocumentosDomicilio=true" style="font-size: 48px !important; color: blue;cursor: pointer;">
                add_circle
            </i>
            <br>
            <label for="exampleFormControlFile1">Agregar Documentos</label>

        </div>

    </div>
    <div class="col-md-3 offset-9" style="margin-top: -10px">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button (click)="limpiarForm()" type="button" class="btn btn-outline-danger btn-sm">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button (click)="onClickSave()" type="button" class="btn btn-outline-success btn-sm">Guardar</button>

            </div>
        </div>
    </div>
</form>
<h5>Documentos</h5>
<div class="row">
    <div class="col-md-12 ">
        <div class="table-responsive">


            <table class="table  table-hover ">
                <thead class="thead-light">
                    <tr>
                        <th>Vista</th>
                        <th>Nombre Archivo</th>
                        <!--                         <th>Tipo Comprobante</th>
 -->
                        <!--                         <th>Tamaño</th>
 -->
                        <!--             <th>Progreso</th>
 -->
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let archivo of listArchivos">

                        <td (click)="onOpenPrew(archivo)" class="manita">
                            <img [src]="render(archivo.base64)" width="50px" height="50px">
                        </td>

                        <td>{{archivo.nombreArchivo}}</td>

                        <!--                         <td>{{getTipoComprobante(archivo.idTipoComprobanteDomicilio)}}</td>
 -->
                        <!--                         <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2-2'}} MB</td>
 -->
                        <td><i class="material-icons text-center manita" style="font-size: 30px; text-align: center; color: red;">
                                delete_outline
                            </i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<app-modal-prew [show]="openModalPrew" (close)="openModalPrew=false" [archivo]="archivoSeleccionado"></app-modal-prew>

<app-modal-casa-familiar [openModal]="openModalCasaFamiliar" (dataCasaFamiliar)="responseDataCasaFamiliar($event)">
</app-modal-casa-familiar>

<app-modal-casa-renta [openModal]="openModalCasaRenta" (dataCasaRenta)="responseDataCasaRenta($event) ">
</app-modal-casa-renta>

<app-modal-documentos-domicilio [openModal]="openModalDocumentosDomicilio" (dataDocumentosDomicilio)="respDataModalDocumentosDomicilio($event)"></app-modal-documentos-domicilio>

<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInputuModalGuardar" (dataGuardar)="responseDataGuardar($event)">
</app-modal-guardar>