<div class="centroPantalla">
  <div class="cajaBordeGris">
      <div class="container">
          <div style="text-align: center; color:blue; fontsize= 1">
            <h5><b>SOLICITUD</b></h5> 
          </div> 
          <div>
             <img src="/assets/img/mark_roga.png" class="center responsive-img">
          </div>
      </div>
      <div class="container ">
          <div class="input-field col s6 ">
              <i class="material-icons prefix">person</i>
              <input #user id="icon_person" type="text" class="validate">
              <label for="icon_person">Usuario</label>
          </div>
      </div>
      <div class="container">
          <div class="input-field col s6 ">
              <i class="material-icons prefix">lock</i>

              <input #password id="icon_password" (keyup.enter)="login(user.value, password.value);" type="password"
                  class="validate">

              <label for="icon_password">Contraseña</label>
          </div>
      </div>
      <div class="container">
          <div class="col s6">
              <button #btnLogin (click)="login(user.value, password.value)" class="waves-effect waves-light btn"
                  style="background: blue">Entrar</button>
          </div>
      </div>
  </div> 
</div>

