<div class="fondo-negro" *ngIf="openModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Empleo Aval</h5>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         

<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Tipo de Empleo</label>
      <select id="inputState" class="form-control">
        <option selected>--Selecciona Tipo Empleo--</option>
      <!-- <option *ngFor="let empleo of listEmpleos" [value]="empleo.id_tipo_empleo">{{empleo.tipo_empleo}}</option>--
      --> </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Empresa</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empresa" aria-label="Search">

    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Empleo/Profesion</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empleo/Profesion" aria-label="Search">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Puesto</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Puesto">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Ingreso Mensual</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empresa" aria-label="Search">

    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Teléfono</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empleo/Profesion" aria-label="Search">
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="inputState">Antiguedad en el Empleo</label>
      <input type="number" class="form-control" id="inputAddress" placeholder="Años">
    </div>
    <div class="form-group col-md-3">

      <label for="inputState"> &nbsp;</label>

      <input type="number" class="form-control" id="inputAddress" placeholder="Meses">
    </div>
    <div class="form-group col-md-4 text-center" style="margin-top: 0%">
      <i class="material-icons " style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
      <br>
      <label for="exampleFormControlFile1">Agregar Otro empleo</label>
     
        <button style="margin-top: -38%" type="button " class="btn btn-outline-success btn-lg offset-11">Guardar</button>
  
    </div>
  </div>
</form>

</div>
</div>

</div>
</div>
</div>
