
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #9fa8da;
  border-radius: 5px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: #5c6bc0;

  border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: #5c6bc0;
  height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.thead {
  background: #5c6bc0;
}
th {
  padding: 0px, 0px, 0px, 0px;
  /*  padding-right:5px  ; */
}
.titulos {
  width: 100%;
  white-space: nowrap;
  padding-top: 10px;
}
.textosTitulos {
  display: inline-block;
  width: 10%;
  white-space: normal;
  text-align: center;
  min-height: 100%;
  vertical-align: top;
  word-wrap: break-word;
}
.textoID {
  display: inline-block;
  width: 3%;
  white-space: normal;
  text-align: center;
  min-height: 100%;
  vertical-align: top;
  word-wrap: break-word;
}
.textosTitulosNombre {
  display: inline-block;
  width: 20%;
  white-space: normal;
  text-align: center;
  height: 100%;
  vertical-align: top;
  word-wrap: break-word;
}

.textosTitulosCuadro {
  display: inline-block;
  width: 25%;
  height: 100%;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
}
.textosTitulosAuditor {
  display: inline-block;
  width: 15%;
  white-space: normal;
  text-align: center;
  height: 100%;
  vertical-align: top;
  word-wrap: break-word;
}
.combo {
  margin: 5px 0px 5px 0px;
}



.btn { 
  width: 100%;
  background: #e8eaf6;
  margin-top: 0px;
  color: #5c6bc0;
  cursor: auto;
  border: solid 1px;
  text-transform: capitalize;
}

.iconoSiguiente2 {
  margin-left: 10px;
  color: black;
}
.iconoEliminar2 {
  margin-left: 10px;
  color: black;
}
.links2 {
  cursor: pointer;
}
.centroPantalla {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
.cajaBordeGris2 {
  background: #e8eaf6;
  border: solid 5px #e8eaf6;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10%;
  min-width: 300px;
}
.bloqueado {
  top: 0px;
  left: 0px;
  margin-top: 0px;
  display: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
}
.pantallaCompleta {
  z-index: 1;
  display: absolute;
  position: relative;
}
.botonSi2 {
  cursor: pointer;
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  margin-top: 5px;
  width: 45%;
  border: solid 0px;
  color: #e8eaf6;
}
.botonNo2 {
  cursor: pointer;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 5px;
  background: red;
  width: 45%;
  border: solid 0px;
  color: #e8eaf6;
}
.cajaBordeAzul2 {
  border: solid 5px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 7px;
  padding-bottom: 10px;
}
.cajaBordeAzul2 {
  max-height: 200px;
  overflow: auto;
}
.textocaja2 {
  text-color: #5c6bc0;
  width: 100%;
  text-align: left;
}

.texto2 {
  margin-left: 10px;
  color: #5c6bc0;
}
.nombre2 {
  width: auto;
  margin-left: 5px;
  display: inline-block;
  color: #5c6bc0;
}

.btnNombre2 {
  display: inline-block;
  background: #5c6bc0;
  color: #e8eaf6;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
  height: 20px;
  min-width: 70px;
}
.btnCorreo2 {
  display: inline-block;
  min-width: 70px;
  background: #5c6bc0;
  color: #e8eaf6;
  width: 70px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}
.scroll2 {
  margin-top: 20px;
  overflow: auto;
  min-height: 150px;
  max-height: 350px;
  padding-left: 20px;
  padding-right: 10px;
}
.textoAzul2 {
  color: #5c6bc0;
}
.cajaBordeAzulChica2 {
  overflow: auto;
  margin-top: -15px;
  height: 200px;
  padding: 2px;
  border: solid 1px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 1px;
}

.cajaBordeAzul2 {
  width: auto;
  border: solid 5px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding: 2px;
  min-height: 261px;
}

.btntitle {
  width: 100%;
  background: #5c6bc0;
  color: #e8eaf6;
  cursor: auto;
  border: solid 1px;
  text-transform: capitalize;
}
.margen2 {
  margin: 10px, 10px, 10px, 10px;
}
.cajaZonas2 {
  background: #e8eaf6;
  margin-top: 10px;
  width: 100%;
  min-height: 80px;
  max-height: 128px;
  padding: 1px 1px 0px 1px;
  border: solid 1px #000;
}
/*----------------------------------------*/
.iconoSiguiente {
  margin-left: 10px;
  color: black;
}
.iconoEliminar {
  margin-left: 10px;
  color: black;
}
.links {
  cursor: pointer;
}
.centroPantalla {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
.centroPantalla2 {
  text-align: center;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 45%;
  height: 30%;
  width: 60%;
  margin: -15% 0 0 -25%;
}
.cajaBordeGris {
  background: #e8eaf6;
  border: solid 5px #e8eaf6;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 10%;
  min-width: 300px;
}
.bloqueado {
  top: 0px;
  left: 0px;
  margin-top: 0px;
  display: absolute;
  position: fixed;
  width: 100%;
  background: rgba(100, 100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}
.pantallaCompleta {
  z-index: 1;
  display: absolute;
  position: relative;
}
.botonSi {
  cursor: pointer;
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  margin-top: 5px;
  width: 45%;
  border: solid 0px;
  color: #e8eaf6;
}
.botonNo {
  cursor: pointer;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 5px;
  background: red;
  width: 45%;
  border: solid 0px;
  color: #e8eaf6;
}
.cajaBordeAzul {
  border: solid 5px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 7px;
  padding-bottom: 10px;
}
.cajaBordeAzul {
  max-height: 200px;
  overflow: auto;
}
.textocaja {
  text-color: #5c6bc0;
  width: 100%;
  text-align: left;
}

.texto {
  margin-left: 10px;
  color: #5c6bc0;
}
.nombre {
  width: auto;
  margin-left: 5px;
  display: inline-block;
  color: #5c6bc0;
}

.btnNombre {
  display: inline-block;
  background: #5c6bc0;
  color: #e8eaf6;
  padding-left: 5px;
  padding-right: 5px;
  width: 70px;
  height: 20px;
  min-width: 70px;
}
.btnCorreo {
  display: inline-block;
  min-width: 70px;
  background: #5c6bc0;
  color: #e8eaf6;
  width: 70px;
  height: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
}
.scroll {
  margin-top: 20px;
  overflow: auto;
  min-height: 150px;
  max-height: 350px;
  padding-left: 20px;
  padding-right: 10px;
}
.textoAzul {
  color: #5c6bc0;
}
.cajaBordeAzulChica {
  overflow: auto;
  margin-top: -15px;
  height: 200px;
  padding: 2px;
  border: solid 1px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 1px;
}

.cajaBordeAzul {
  width: auto;
  border: solid 5px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding: 2px;
  min-height: 261px;
}

.btntitle {
  width: 100%;
  background: #5c6bc0;
  color: #e8eaf6;
  cursor: auto;
  border: solid 1px;
  text-transform: capitalize;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #9fa8da;
  border-radius: 5px;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: #5c6bc0;

  border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: #5c6bc0;
  height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
  background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

.btn-2 {
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #e8eaf6;
  padding: 1px;
  padding-top: 0px;
  margin-bottom: 2px;
  max-height: 95px;
  text-transform: none;
}
.botonSi {
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  margin-top: 15px;
  width: 35%;
}
.botonNo {
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 15px;
  background: red;
  width: 35%;
}

.cajaBordeGris {
  background: #e8eaf6;
  border: solid 5px #e8eaf6;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 15%;
  min-width: 460px;
}
.cajaOpcion {
  width: 100%;
  text-align: right;
  margin-top: -8px;
  padding-right: 10px;
}
.cajaAgregar {
  cursor: pointer;
  color: green;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.nombre {
  width: 50%;
  margin-bottom: -10px;
  margin-left: 25%;
}
.selects {
  position: relative;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  width: 40%;
  height: 40px;
  margin-bottom: 0px;
  margin-left: 30%;
}

.contenedorZonas {
  max-height: 86px;
  min-height: 38px;
  align-items: initial;
  overflow: auto;
}
.textoAzul {
  color: #5c6bc0;
}

.label {
  margin-top: -2px;
}
.btnZona {
  width: 180px;
  height: 35px;
  background: #e8eaf6;
  border: solid 1px #5c6bc0;
  text-decoration-color: #5c6bc0;
  padding: 10px 0px 0px 5px;
  padding-top: 0px;
  margin: 2px 2px 5px 2px;
  max-height: 35px;
  text-transform: capitalize;
}
.btnSel {
  width: 180px;
  height: 33px;
  background: #a0a6ca;
  border: solid 1px #5c6bc0;
  text-decoration-color: #5c6bc0;
  padding: 0px 0px 0px 5px;
  margin: 1px 0px 0px 0px;
  max-height: 30px;
  text-transform: capitalize;
}

.cajaZonas {
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  min-height: 80px;
  max-height: 128px;
  padding: 1px 1px 0px 1px;
  border: solid 1px #000;
}
.cajaVariables {
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  height: 400px;
  padding: 1px 1px 1px 1px;
  border: solid 1px #000;
}
.contenedorVariables {
  height: 350px;
  align-items: initial;
  overflow: auto;
}
.enLinea {
  display: inline;
  margin-top: -3px;
}
.textoAzul2 {
  color: #5c6bc0;
  padding-top: 0px;
  margin-top: -3px;
  width: 150px;
  height: 25px;
  margin-left: 15px;
}
.renglon {
  padding-left: 10px;
  text-align: start;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 2px;
  max-height: 25px;
  text-transform: none;
  cursor: auto;
  padding-left: 10px;
}
input[type="number"] {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px;
  text-align: center;
}
.cajaTexto2 {
  margin-top: 0px;
  border: solid 1px #5c6bc0;
  max-height: 100px;
  min-height: 100px;
  overflow: auto;
}

.cajaTexto {
  border: solid 1px #5c6bc0;
  max-height: 100px;
  overflow: auto;
}
.input-field {
  margin: 0px 0px 0px 0px;
}
input[type="number"] {
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px;
  text-align: center;
}
.cajaTexto2 {
  margin-top: 0px;
  border: solid 1px #5c6bc0;
  max-height: 100px;
  min-height: 100px;
  overflow: auto;
}
.iconoslinks {
  color: red;
  margin-left: 5px;
}
.cajaBordeAzulvar {
  width: auto;
  border: solid 5px #5c6bc0;
  background: #c5cae9;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-height: 200px;
  height: 170px;
  overflow: auto;
}
.enLinea {
  margin: 10px 5px 0px 5px;
  display: inline-table;
}
.def {
  width: 20%;
}
.textoDef {
  width: 60%;
}
.pon {
  width: 15%;
}
p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.btnAzul {
  border-radius: 2px;
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #c5cae9;
  padding: 1px;
  padding-top: 0px;
  max-height: 95px;
  text-transform: none;
  cursor: auto;
}
.btnBlanco {
  text-align: center;
  border-radius: 2px;
  width: 50px;
  background: #c5cae9;
  border: solid 1px #5c6bc0;
  color: #5c6bc0;
  padding: 1px;
  padding-top: 0px;
  max-height: 95px;
  text-transform: none;
  cursor: auto;
}

.ponderacionBlanco {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-align: center;
  padding-left: 0px;
}
.ponderacionAzul {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.evidencia {
  width: 200px;
}
.enLinea2 {
  display: inline-flex;
  margin-top: 10px;
}
.icono {
  font-size: 16px;
  margin: 3px 5px 0px 5px;
}
.btnAzul2 {
  border-radius: 2px;
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #c5cae9;
  padding-left: 5px;
  padding-top: 0px;
  margin-right: 10px;
  max-height: 95px;
  text-transform: none;
  cursor: pointer;
}
.divseltodas {
  width: 100%;
  display: relative;
}
.label2 {
  margin-left: 50%;
}
.alinearSucursales {
  width: 100%;
  text-align: initial;
  padding-left: 5px;
  color: #000;
}
