<app-revision-auditoria-modal [auditoria]="auditoria" (acutualizarListaAsignaciones)="actualizarLista()" (close)="mostrarAsignacion=false" [open]="mostrarAsignacion" [open]="mostrarAsignacion"></app-revision-auditoria-modal>


<div class="titulos">
    <div class="textoID">
        {{auditoria.idAsignacion}}
    </div>
    <div class="textosTitulosNombre">
        {{auditoria.nombreAuditoria}}

    </div>
    <div class="textosTitulosAuditor">
        {{auditoria.nombreAuditor}}

    </div>
    <div class="textosTitulos">
        {{auditoria.nombreSucursal}}
    </div>
    <div class="textosTitulos">
        {{auditoria.estado}}
    </div>
    <div class="textosTitulos">
        {{auditoria.fechaProgramacion}}
    </div>
    <div class="textosTitulos">
        {{auditoria.calificacion | number : '1.0-0'}}
    </div>
    <div class="textosTitulosCuadro">


        <i *ngIf="sePuedeEliminar()" (click)="mostrarEliminar= true" class="material-icons iconoEliminar cPointer" style="color:
      red">delete
    </i>


        <i *ngIf="!sePuedeEliminar()" style="padding-right: 10px; cursor: auto;opacity: 0.0;" class=" white-text material-icons">
      refresh
    </i>

        <i (click)="openDetallesAuditoria()" class="material-icons iconoSiguiente cPointer" style="color: green ">keyboard_arrow_right</i>

    </div>
    <hr>
</div>