<div class="centroPantalla">
    <div class="cajaBordeGrisd">
        <div class="container">
            <div style="text-align: center">
                <h6>Busqueda de Cliente</h6>
                <hr>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="text col s6">
                    <p>
                        <label>
              <input name="group1" type="radio" checked />
              <span>No. Cliente</span>
            </label>
                    </p>
                    <p>
                        <label>
              <input name="group1" type="radio" />
              <span>Nombre</span>
            </label>
                    </p>
                    <p>
                        <label>
              <input name="group1" type="radio" />
              <span>No. Venta</span>
            </label>
                    </p>
                    <p>
                        <label>
              <input name="group1" type="radio" />
              <span>Factura</span>
            </label>
                    </p>
                </div>

                <div class="text col s6">
                    <div class="input-field">
                        <input type="text" class="validate" id="buscar" />
                        <i class="material-icons right prefix ">search</i>
                        <label for="buscar">Buscar</label>

                        <p class="center">
                            <label>
                <input type="checkbox" />
                <span>Todos los Cedis</span>
              </label>
                        </p>
                    </div>
                </div>
            </div>


            <div *ngIf="mostrarCabecera" class="pantallaCompleta">
                <div class="bloqueado">
                    <div class="centroPantalla">
                        <div class="cajaBordeGris">


                            <h5 class="flow-textBlue">Se va a generar una solicitud, ¿Desea Continuar?</h5>
                            <hr>

                            <div class="container">
                                <div class="row left-align up">
                                    <div class="col s12">

                                        <!-- <p>
                      <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </p> -->
                                        <label style="color: black">Fecha de registro:</label>
                                        <input #datePicker (change)="obtenerFecha(datePicker.value)" type="date" class="datepicker-modal " />

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col s12">
                                        <div class="col s6">
                                            <input (click)="mostrarCabecera= false;" type="button" value="Cancelar" class="btn botonNo">
                                        </div>

                                        <div class="col s6">
                                            <input type="button" (click)="iniciarRegistro()" value="Aceptar" class="btn botonSi">
                                        </div>
                                    </div>
                                </div>

                                <!--  <div (click)="mostrarCabecera= false;" class="btn botonNo">
                  <h6>Cancelar</h6>
                </div>
                <a href="http://localhost:4200/#/informacioncliente">
                  <input class="btn botonSi; links" type="button" value="Aceptar" style="background: green">
                </a> -->

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <div class="container">

            <button (click)="mostrarCabecera=true" class="waves-effect waves-light btn" style="background: blue">Siguiente</button>
        </div>
    </div>
</div>