/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink";
.basic-container {
  padding: 30px;
}

/* Drop Zone */
.drop-zone {
  border: dotted 3px lightgray;
  opacity: 0.5;
  color: #666;
  text-align: center;
}

.file-over {
  border: dotted 3px dodgerblue;
}

.table {
  margin-top: 30px;
}

.text-green {
  color: green;
}

.oculto {
    display: none;
}

.fondo-negro {
    background-color: rgba( 0, 0, 0, 0.4);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;

}

.tp-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.step {
  height: 25px;
  width: 25px;
  margin: 0 2px;
  background-color: #1d0ea1;
  border: none;
  border-radius: 50%;
  display: inline-block;
  text-size-adjust: 100%;
  font-size: 16px;
  opacity: 0.5;
  position: relative;
  border-bottom-left-radius: 50%;
  counter-reset: step;
}
label{
   color: blue;
}