<app-barra-lateral></app-barra-lateral>

<div *ngIf="admin"class="centroPantalla ">
  <div class="cajaBordeGris">
    <label class="flow-text">Menu Administración</label>

    <div class="container">
    <hr>
      <div class="col s12"><a routerLink="seccion/areas" class="waves-effect waves-light btn"><i class="material-icons left">extension</i>Áreas</a></div>
      <div class="col s12"><a routerLink="seccion/directivos" class="waves-effect waves-light btn"><i class="material-icons left">supervisor_account</i> Directivos</a></div>
      <div class="col s12"><a routerLink="seccion/config" class="waves-effect waves-light btn"><i class="material-icons left">settings</i>Configuración</a></div>
      <div class="col s12"><a routerLink="seccion/subadministradores" class="waves-effect waves-light btn"><i class="material-icons left">supervised_user_circles</i>SubAdministradores</a></div>
      <div class="col s12"><a routerLink="seccion/zonas" class="waves-effect waves-light btn"><i class="material-icons left">location_on</i>Zonas</a></div>
      <div class="col s12"><a routerLink="seccion/reportes" class="waves-effect waves-light btn"><i class="material-icons left">description</i>Reportes</a></div>
    </div>
  </div>

</div>

<div *ngIf="subAdmin"class="centroPantalla ">
  <div class="cajaBordeGris">
    <label class="flow-text">Menu SubAdministrador</label>

    <div class="container">
    <hr>
      <div class="col s12"><a routerLink="seccion/auditores" class="waves-effect waves-light btn"><i class="material-icons left">how_to_reg</i>Auditores</a></div>
      <div class="col s12"><a routerLink="seccion/crearAuditoria" class="waves-effect waves-light btn"><i class="material-icons left">add_box</i> Crear Auditorias</a></div>
      <div class="col s12"><a routerLink="seccion/asignacionAuditorias" class="waves-effect waves-light btn"><i class="material-icons left">directions_walk</i>Asignación de Auditorias</a></div>
      <div class="col s12"><a routerLink="seccion/auditoriasPeriodo" class="waves-effect waves-light btn"><i class="material-icons left">storage</i>Auditorias del periodo</a></div>
    </div>
  </div>

</div>
