<div class="centroPantalla ">
  <div class="cajaBordeGrisd">
    <div class="row left-align ">
      <div class="flow-text">

        <div class="col s6">
          <label style="color: blue; font-size:20px">No. Solicitud:</label>
          <label class="flow-text2" style=" font-size:20px">2021</label>
        </div>

        <div class="col s6">
          <label style="color: blue; font-size:20px">Fecha de registro: </label>
          <label class="flow-text2" style=" font-size:20px">02/Abril/2019</label>
        </div>


      </div>

      <div class="row left-align">
        <div class="col s6 ">
          <label style="color: blue; font-size:20px">Tipo cliente: </label>
          <label class="flow-text2" style=" font-size:20px">Anterior</label>
        </div>

        <div class="col s6">
          <label style="color: blue; font-size:20px">Clasificación:</label>
          <label class="flow-text2" style=" font-size:20px">xxxxxxxx</label>
        </div>
      </div>
      <hr>
      <div class="row left-align">
        <div class="col s8 ">
          <label style="color: black; font-size:20px">Nombre: </label>
          <label class="flow-text2" style=" font-size:20px">Kenia Marely Nuñez Diaz</label>
        </div>

        <div class="col s4">
          <a   href="http://localhost:4200/#/captura" class="material-icons links" style="color: blue" >add_circle</a>
          <label class="flow-text2" style=" font-size:17px;color: black">Capturar INE</label>
        </div>
      </div>

    </div>


    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Edo.Civil: </label>
        <div class="input-field inline">
          <select class="browser-default" style="background: #eeeeee;height:30px">
              <option value="1">Seleccione estado civil</option>
             <option *ngFor="let edoCivil of listEstadoCivil" >{{edoCivil.tipo_estado_civil}}</option>

          </select>
        </div>
      </div>


      <div class="col s6 push-s2">
          <a   href="http://localhost:4200/#/domicilio" class="material-icons links" style="color: blue" >add_circle</a>
        <label class="flow-text2" style=" font-size:17px;color: black">Agregar Domicilio</label>
      </div>

    </div>
    <!--  -->

    <div class="row left-align">
      <div class="col s8 ">
        <label style="color: black; font-size:20px">Domicilio: </label>
        <label class="flow-text2" style=" font-size:10px">Se mostrara cuando agreguen domicilio</label>
      </div>

      <div class="col s4">
        <a   href="http://localhost:4200/#/empleo" class="material-icons links" style="color: blue" >add_circle</a>
        <label class="flow-text2" style=" font-size:17px;color: black">Agregar Empleo</label>
      </div>
    </div>

    <div class="row left-align">
        <div class="col s8 ">
          <label style="color: black; font-size:20px">Telefono de casa: </label>
          <label class="flow-text2" style=" font-size:10px">________________________________</label>
        </div>
  
        <div class="col s4">
          <i (click)= "mostrarTipoContacto=true"class="material-icons links" style="color: blue" >add_circle</i>
          <label class="flow-text2" style=" font-size:17px;color: black">Agregar Contacto</label>
        </div>
      </div>

      <div class="row left-align">
          <div class="col s8 ">
            <label style="color: black; font-size:20px">Telefono celular: </label>
            <label class="flow-text2" style=" font-size:10px">__________________________________</label>
          </div>
    
          <div class="col s4">
            <i class="material-icons links
            
            " (click)="mostrarTipoDocumento=true" style="color: blue">add_circle</i>
            <label class="flow-text2" style=" font-size:17px;color: black">Agregar Documentos</label>
          </div>
        </div>

        <div *ngIf="mostrarTipoDocumento" class="pantallaCompleta">
            <div class="bloqueado">
              <div class="centroPantalla">
                <div class="cajaBordeGris">
          
          
                  <b class="flow-text">Tipos de documentos</b>
                    <hr>
                <div  class="container">
                    <div class="input-field ">
                        <select class="browser-default" style="background: #eeeeee;height:40px">
                          <option value="1">Seleccionar tipo de documento</option>
                          <option *ngFor="let documentos of listTiposDocumentos" >{{documentos.tipo_documento}}</option>
                          
                          
                        </select>
                      </div>


                      <div class="input-field ">
                        <select class="browser-default" style="background: #eeeeee;height:40px">
                          <option value="1">Seleccionar a quien le corresponde el documento</option>
                          <option *ngFor="let contacto of listTiposContacto" >{{contacto.tipo_contacto}}</option>
                         
                          
                        </select>
                      </div>


                <div  class="container">
                      <div class="center-align">
                        <img class="materialboxed" src="assets/img/rever.png">
                      </div>
                    

                        <div class="center-align">
                        <div class="btn" (click)="mostrarGuardarDocumentos=true" style="background: blue;width: 250px;">Guardar</div>
</div>
</div>

                    </div>

                </div>
              </div>
            </div>
          </div>
               
                <div class="container">
                <div class="btn center-align  down" (click)="mostrarGuardarSolicitud=true" style="background: blue; width: 300px">Guardar</div>
              </div>

                <div *ngIf="mostrarGuardarDocumentos" class="pantallaCompleta">
                  <div class="bloqueado">
                    <div class="centroPantalla">
                      <div class="cajaBordeGris">
                        <b class="flow-text">¿Desea guardar este documento?</b>
                        <div class="container">
                          <hr>
                          <div class="row">
                            <div class="col s6">
                              <div (click)="mostrarGuardarDocumentos= false;" class="btn botonNo" style="background: red; width: 200px">
                                <h6>No</h6>
                              </div>
                            </div>
                            <div class="col s6">
                              <a class="btn botonSi" style="background: green; width: 200px"
                              (click)="mostrarGuardarDocumentos= false; mostrarTipoDocumento=false">Si</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div *ngIf="mostrarGuardarSolicitud" class="pantallaCompleta">
                  <div class="bloqueado">
                    <div class="centroPantalla">
                      <div class="cajaBordeGris">
                        <b class="flow-text">¿Desea guardar esta solicitud?</b>
                        <div class="container">
                          <hr>
                          <div class="row">
                            <div class="col s6">
                              <div (click)="mostrarGuardarSolicitud= false;" class="btn botonNo" style="background: red; width: 200px">
                                <h6>No</h6>
                              </div>
                            </div>
                            <div class="col s6">
                              <a class="btn botonSi" style="background: green; width: 200px"
                              (click)="mostrarGuardarSolicitud= false;">Si</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


                <div *ngIf="mostrarTipoContacto" class="pantallaCompleta">
                  <div class="bloqueado">
                    <div class="centroPantalla">
                      <div class="cajaBordeGris">
                
                
                        <b class="flow-text">Tipos de contactos</b>
                          <hr>
                      <div  class="container">
                          <div class="input-field ">
                              <select class="browser-default" style="background: #eeeeee;height:40px">
                                <option value="1">Seleccionar tipo de contacto</option>
                                <option *ngFor="let contacto of listTiposContacto" >{{contacto.tipo_contacto}}</option>
                                
                                
                              </select>
                            </div>
      
                              <div class="center-align">
                              <a href="http://localhost:4200/#/contacto" class="btn" style="background: blue;width: 250px;"
                              >Siguiente</a>
      </div>
      </div>
      
                          </div>
      
                      </div>
                    </div>
                  </div>
                </div>



 
