<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos Casa Familiar</h5>

                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Nombre</label>
                                <input #edtNombre type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputAddress">Apellido Paterno</label>
                                <input #edtApellidoP type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Apellido Materno</label>
                                <input #edtApellidoM type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group custom-control-inline">
                            <label class="custom-control-inline">Genero: </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input #radioF class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="F">
                                <label class="custom-control-label" for="inlineRadio1">F</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input #radioM class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="M">
                                <label class="custom-control-label" for="inlineRadio2">M</label>
                            </div>
                        </div>


                        <div class="form-row">

                            <div class="form-group col-md-12">
                                <label for="inputState">Parentesco</label>
                                <select #selecParentesco id="inputState" class="form-control" (change)="onSelectRelacionCasaFamiliar($event.target.value)">
                                    <option selected>--Selecciona un Parentesco--</option>
                                    <option *ngFor="let parentesco of listTipoRelacionesCasaFam"
                                        [value]="parentesco.id_tipo_relacion_casa_familiar">
                                        {{parentesco.tipo_relacion_casa_familiar}}</option>
                                </select>
                            </div>

                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
                    <button type="button" (click)="okModal()" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>