.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.bloqueado {
  top: 0px;
  left: 0px;
  margin-top: 0px;
  display: absolute;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.5);
}
.centroPantalla {
  text-align: center;
  margin: auto;
  position: absolute;
  /*  top: 40%;
  left: 50%;
  height: 30%; */
  /* width: 50%; */
  /*  margin: -15% 0 0 -25%; */
}

.pantallaCompleta {
  z-index: 1;
  display: absolute;
  position: relative;
}

nav ul {
  height: 200px;
  width: 18%;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}

textarea {
  border: none;
  height: 100px;
  max-height: 100px;
  max-width: 450px;
  min-width: 160px;
}

.purple {
  color: #5c6bc0;
}

/* .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #ce3030 !important;
  color: #c5cae9;
} */