<div class="container">
    <div #modal id="modal" class="modal " style="border-radius: 10px !important; height: 90% !important;max-height: 90% !important;
     width: 90% !important; max-width: 90%!important; overflow: hidden">

        <div style="max-height: 50%; ">
            <mat-toolbar color="primary" class="toolbar">

                <span> Revision De Auditoria:</span>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Nombre:</b>
                    <br>{{detalleAsigancion?.nombreAuditoria}} </a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button (click)="sidenav.toggle()"><b>Auditor:</b>
                    <br>{{detalleAsigancion?.nombreAuditor}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Estado:</b>
                    <br>{{detalleAsigancion?.estado}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Fecha:</b>
                    <br>{{auditoria?.fechaProgramacion}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Zona:</b>
                    <br>{{detalleAsigancion?.nombreZona}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>SubZona:</b>
                    <br>{{detalleAsigancion?.nombreSubZona}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Sucursal:</b>
                    <br>{{detalleAsigancion?.nombreSucursal}}</a>

                <span class="example-fill-remaining-space"></span>
                <a class="docs-button mat-button" mat-button><b>Calififcacion:</b>

                    <br>{{detalleAsigancion?.calificacion | number : '1.0-0'}}</a>

            </mat-toolbar>


            <mat-sidenav-container>
                <mat-sidenav #sidenav style="background: blueviolet !important; height: auto !important;" fixedTopGap="72" fixedBottomGap="72" fixedInViewport="true" mode="side" style="background: white; max-width: 25%; width:25%;" [opened]="openSideNav">

                    <mat-vertical-stepper #stepper *ngIf="detalleAsigancion" (selectionChange)="onChangeVariable($event)" [linear]="esLineal()">

                        <mat-step style="padding: 0px !important; background-color:red!important" *ngFor="let variable of detalleAsigancion.variables; let i = index;">



                            <ng-template matStepLabel>
                                <!--  <mat-icon>done_all</mat-icon> -->

                                {{variable.nombreVariable}}
                            </ng-template>

                            <div *ngIf="compareSize(i)">

                                <div *ngIf="auditoria.estado =='Pendiente'" color="primary" class="right">
                                    <a (click)="accionComentarios='Rechazar';openModalComentarios=true" class="btn btn-flat" style="color: red">Rechazar</a>
                                    <a (click)='openModalConfirm=true' class="btn btn-flat" style="color: green">Aprobar</a>
                                </div>
                            </div>

                        </mat-step>
                    </mat-vertical-stepper>
                </mat-sidenav>
                <mat-sidenav-content>
                    <div #contenedorVariable *ngIf="detalleAsigancion" style="overflow-y: auto; overflow-x: hidden; max-height: 425px !important;height: 425px !important">
                        <div class="row">
                            <div class="col s12">
                                <div class="col s11">

                                    <div *ngIf="variableSeleccionada.requiereEvidencia" style="margin: 10px;" class="chip blue">
                                        Requiere Evidencia: Sí
                                    </div>
                                    <div *ngIf="!variableSeleccionada.requiereEvidencia" style="margin: 10px;" class="chip blue">
                                        Requiere Evidencia: No
                                    </div>

                                    <span *ngIf="mostrarComentarioYEvidencias()">
                                        <div *ngIf="variableSeleccionada.calificacion > 0" style="margin: 10px;"
                                            class="chip green">
                                            Calificacion: {{variableSeleccionada.calificacion}}
                                        </div>
                                        <div *ngIf="variableSeleccionada.calificacion == 0" style="margin: 10px;"
                                            class="chip red">
                                            Calificacion: {{variableSeleccionada.calificacion}}
                                        </div>
                                    </span>
                                    <span *ngIf="!mostrarComentarioYEvidencias()">
                                        <div style="margin: 10px;" class="chip green">
                                            Ponderacion: {{variableSeleccionada.ponderacion}}
                                        </div>
                                    </span>


                                </div>
                                <div class="col s1 right" *ngIf="mostrarComentarioYEvidencias()">
                                    <a (click)="openModalComentarios=true; accionComentarios=''" style="margin: 10px" class="btn-floating btn-large  red ">
                                        <i class="material-icons">thumb_down_alt</i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <form class="col s12">
                                <div class="row">
                                    <div [ngClass]="{'col s12': !mostrarComentarioYEvidencias() , 'col s6':mostrarComentarioYEvidencias()}">
                                        <h6>Definicíon:</h6>
                                        <textarea disabled>{{variableSeleccionada.definicion.trim()}}</textarea>
                                    </div>

                                    <div class="col s6" *ngIf="mostrarComentarioYEvidencias()">
                                        <h6>Comentarios:</h6>
                                        <textarea disabled style="border:none">{{variableSeleccionada.comentario}} </textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 ">
                                        <div [ngClass]="{'col s12': !mostrarComentarioYEvidencias() , 'col s6':mostrarComentarioYEvidencias()}">
                                            <h6>Muestras:</h6>

                                            <div class="card-panel grey lighten-2">
                                                <app-loading *ngIf="cargandoMuestras"></app-loading>
                                                <swiper [config]="config">
                                                    <div *ngFor="let imagen of listImagenesMuestra;">
                                                        <img (click)="openPrevImagen(imagen)" class="cPointer" [src]="imagen.base64" height="80" width="80" />
                                                    </div>
                                                </swiper>
                                            </div>
                                        </div>
                                        <div class="col s6" *ngIf="mostrarComentarioYEvidencias()">
                                            <h6>Evidencias:</h6>
                                            <div class="card-panel grey lighten-2">
                                                <app-loading *ngIf="cargandoImagenesEvidencia"></app-loading>
                                                <swiper [config]="config">
                                                    <div *ngFor="let eviencia of listImagenesEvidencia">
                                                        <img (click)="openPrevImagen(eviencia)" class="cPointer" [src]="eviencia.base64" height="80" width="80">
                                                    </div>
                                                </swiper>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-sidenav-content>
            </mat-sidenav-container>
            <div>
                <div style="padding: 10px; ">
                    <!--           <div *ngIf="auditoria.estado =='Pendiente'" color="primary" class="right">
            <a (click)="accionComentarios='Rechazar';openModalComentarios=true" class="btn btn-flat"
              style="color: red">Rechazar</a>
            <a (click)='openModalConfirm=true' class="btn btn-flat" style="color: green">Aprobar</a>
          </div> -->
                    <div color="primary" class="right">
                        <a class="btn btn-flat" (click)="cerrar()" style="color: red">Cerrar</a>
                    </div>
                </div>

            </div>
        </div>


        <app-calificar-auditoria-modal [open]='openModalConfirm' (response)="respDialogiConfirm($event)">
        </app-calificar-auditoria-modal>

        <app-comentarios-auditoria-modal *ngIf="detalleAsigancion" [dataInput]='{
      open:openModalComentarios,
      accion:accionComentarios,
      tituloVariable:variableSeleccionada.nombreVariable,
      todoContenido:comentariosAuditoria
    }' (response)="respDialogiComentarios($event)">
        </app-comentarios-auditoria-modal>

        <app-prev-image-modal [dataInput]='{open:openModalPrevImagen,img:imageSelected}' (resp)='respDialogPrev($event)'>
        </app-prev-image-modal>