<div class="centroPantalla">
    <div class="cajaBordeGris">
        <div class="container">
            <div style="text-align: center">
                <img src="./assets/img/mark_roga.png" class="center responsive-img">
            </div>
        </div>
        <div class="container ">
            <div class="input-field col s6 ">
                <i class="material-icons prefix">person</i>
                <input #user id="icon_person" type="text" class="validate">
                <label for="icon_person">Usuario</label>
            </div>
        </div>
        <div class="container">
            <div class="input-field col s6 ">
                <i class="material-icons prefix">lock</i>

                <input #password id="icon_password" (keyup.enter)="logIn(user.value, password.value);" type="password"
                    class="validate">

                <label for="icon_password">Contraseña</label>
            </div>
        </div>
        <div class="container">
            <div class="col s6">
                <button #btnLogin (click)="logIn(user.value, password.value)" class="waves-effect waves-light btn"
                    style="background: blue">Entrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modalTipoSession" class="modal">
    <div class="modal-content center-align">

        <div class="container">
            <div class="row">
                <div class="col s12 ">
                    <h4>Selecciona el tipo de Sesión</h4>
                    <br>
                </div>
            </div>
            <div class="row">

                <div class="col s12 ">

                    <button class="btn col s5 btn-large cyan darken-3" (click)="tipoDeSession(1)">
                        Administrador
                    </button>
                    <!-- <div class="col s2"> </div> -->
                    <button class="btn col s5 offset-s2 btn-large cyan darken-3" (click)="tipoDeSession(2)">
                        SubAdministrador
                    </button>

                </div>
            </div>
        </div>

    </div>
    <!--  <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div> -->
</div>