.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: 0% 0 0 -25%;
}
.centroPantallaMnus{

  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 45%;
  max-height: 90%;
  width: 70%;
  margin: -15% 0 0 -25%;
}

.cajaBordeGris{

  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  min-width: 300px;

}


/* label color */
 .input-field label{
   color: gray;
 }
 .input-field i{
   color: gray;
 }

  /* label focus color */
  .input-field input[type=password]:focus + label {
    color: blue;
  }
  .input-field input[type=text]:focus + label {
    color: blue;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid blue;
    box-shadow: 0 1px 0 0 gray;
}
/* label underline focus color */
.input-field input[type=password]:focus {
  border-bottom: 1px solid blue;
  box-shadow: 0 1px 0 0 gray;
}
/* icon prefix focus color */
  .input-field .prefix.active {
    color: blue;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid gray;
  box-shadow: 0 0px 0 0 blue;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid gray;
  box-shadow: 0 1px 0 0 blue;
}
/* valid color */
.input-field input[type=password].valid {
  border-bottom: 1px solid gray;
  box-shadow: 0 0px 0 0 gray;
}
/* invalid color */
.input-field input[type=password].invalid {
  border-bottom: 1px solid gray;
  box-shadow: 0 0px 0 0 blue;
}
