<div class="fondo-negro" *ngIf="_solcitudService.showBusqueda">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Búsqueda del Cliente</h5>
                    <h5 *ngIf="mostrarSolicitudes" class="modal-title">: {{clienteActual.nombres}} {{clienteActual.primerApellido}} {{clienteActual.segundoApellido}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-row">

                        <div class="form-group col-md-2.5">
                            <label for="inputCty">Buscar por:</label>

                            <select #modo id="inputState" class="form-control">
                                <option selected>Seleccionar</option>
                                <option>No. Cliente</option>
                                <option>Nombre</option>

                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="inputCty">Cedis:</label>

                            <select #cedis inputState class="form-control" (change)="cedisSeleccionado=cedis.value">
                                <option selected>Seleccionar Cedis</option>
                                <option selected [value]="-1" selected>Todos</option>
                                <option *ngFor="let cedis of listCedis" [value]="cedis.idZona">{{cedis.nombreZona}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-2.5">
                            <label for="inputCity">Cliente:</label>
                            <input #nomCliente type="text" (keyup.enter)="selectModoBusqueda(modo.value,nomCliente.value,'','',cedisSeleccionado,nomCliente.value)" class="form-control" id="inputCity">
                        </div>

                        <div class="form-group col-md-1  ">
                            <button style="margin-top: 31px" (click)="selectModoBusqueda(modo.value,nomCliente.value,'','',cedisSeleccionado,nomCliente.value)" type="button" class="btn btn-xs btn btn-outline-secondary manita"> <i *ngIf="load"
                                    class="fas fa-spinner fa-spin"></i>Buscar </button>
                        </div>


                        <div *ngIf="mostrarSolicitudes" (click)="agregarNuevaSolicitud(clienteActual)" class="form-group col-md-2 text-center" style="margin-left: 3%; margin-top: 3%">
                            <i class="material-icons manita " data-toggle="tooltip" data-placement="top" title="Agregar" style="font-size: 23px !important; color: green;cursor: pointer;">
                                add_circle
                            </i>
                            <br>
                            <label for="exampleFormControlFile1" style="text-size-adjust: 11; margin-top: -3%" style="color: green">Nueva Solicitud</label>


                        </div>
                    </div>

                    <!--                     <app-spinner [sizeSpinner]="'5rem'"></app-spinner>
 -->
                    <div class="contenedor">

                        <div *ngIf="!mostrarSolicitudes" class="panel1">
                            <table class="table">

                                <thead>
                                    <tr>
                                        <th scope="col">No. Cliente</th>
                                        <th scope="col">Nombre(s) </th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cliente of clientes">

                                        <td>{{cliente.idCliente}}</td>
                                        <td>{{cliente.nombres}}</td>
                                        <td>{{cliente.primerApellido}} {{cliente.segundoApellido}}</td>
                                        <td> <i data-toggle="tooltip" data-placement="top" title="Ver lista de solicitudes" (click)="mostrarSolicitudes=true;getPerfilCreditoCliente(cliente)" class="material-icons manita" style="color: orange">storage</i></td>
                                        <td>
                                            <i data-toggle="tooltip" data-placement="top" title="Agregar nueva Solicitud" class="material-icons manita" style="color: green" (click)="agregarNuevaSolicitud(cliente)">add_circle</i>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div *ngIf="mostrarSolicitudes && !mostrarPedido" class="panel2">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No. solicitud</th>
                                        <th scope="col">Estado</th>
                                        <th scope="col">Sucursal</th>
                                        <th scope="col">Registro</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let solicitud of solicitudes">

                                        <td>{{solicitud.idSolicitud}}</td>
                                        <td>{{solicitud.statusSolicitud}}</td>
                                        <td>{{solicitud.sucursal}}</td>
                                        <td>{{solicitud.registro}}</td>
                                        <td><i data-toggle="tooltip" data-placement="top" title="Editar Solicitud" *ngIf="esEditable(solicitud.statusSolicitud)" (click)="setSolicitud(solicitud)" class="material-icons manita" style="color:blue">edit</i></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>




                    </div>

                </div>
                <!--     <div class="modal-footer">-->
                <!-- <button type="button" class="btn btn-lg btn-outline-danger" data-dismiss="modal">Cerrar</button> 
                    <button (click)="getClientes(nomCliente.value,'','',1)" type="button" class="btn btn-lg btn-outline-success">Buscar</button>
                </div> -->
            </div>
        </div>
    </div>
</div>

<app-modal-guardar [openModal]="openModalGuardar" [esNuevaSolcitud]="true" [cedisSeleccionado]="cedisSeleccionado" [dataInput]="dataInput" (dataGuardar)="crearSolicitud($event)">
</app-modal-guardar>