<nb-layout>
    <nb-layout-header fixed>
        Auditorias

        <nb-actions size="small">
            <nb-action icon="nb-search"></nb-action>
            <nb-action icon="nb-power-circled"></nb-action>
            <nb-action icon="nb-person"></nb-action>
        </nb-actions>

    </nb-layout-header>

    <nb-sidebar>
        <nb-menu [items]="items">
        </nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        Page Content <button nbButton>Hello World</button>

    </nb-layout-column>
</nb-layout>