/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink";

/*import '@mapbox/mapbox-gl-draw/dist/mapbox-gl-draw.css'*/

.cPointer {
    cursor: pointer;
}

.list-container {
    height: 400px;
    border: 1px/*  solid black */
    ;
    padding: 2px;
    width: auto;
    min-width: 250px;
    border: solid 1px #5c6bc0;
    height: 200px;
    max-height: 200px;
    overflow: auto;
}


/* 

  .pantallaCompleta {
    z-index: 1;
    display: absolute;
    position: relative;
  }

  .bloqueado {
    top: 0px;
    left: 0px;
    margin-top: 0px;
    display: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(100, 100, 100, 0.5);
  }
 */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: red !important;
    color: white !important;
}



.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, 
.mat-step-header .mat-step-icon-state-edit {
    background-color: green !important;
    color: white !important;
}
 */