<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #3f51b5 !important; height: 200% !important;">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav> -->

<app-spinner *ngIf="_SolicitudService.cargandSolicitud" [isFull]="_SolicitudService.isFullLoading"></app-spinner>


<mat-toolbar color="primary" class="docs-navbar-header">
    <div class="form-group row" style="width:100%">
        <div class="col">
            <label style="color: white; text-size-adjust: 10px">DIGITALIZACIÓN DE EXPEDIENTES</label>
        </div>
        <div class="col">

            <label class="docs-button mat-button " mat-button>No.Solicitud:
          {{_SolicitudService.solicitud.idSolicitud}}</label>
            <label class="docs-button mat-button" mat-button>Fecha de Registro: {{_SolicitudService.solicitud.registro}}</label>
            <button (click)="_SolicitudService.finaliza();" class="docs-button mat-button" mat-button>Buscar otra solicitud</button>
            <button (click)="onClickCerrarSesion()" class="docs-button mat-button" mat-button>Cerrar Sesión</button>
        </div>
    </div>


    <!--     <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile>
    <mat-grid-tile [rowspan]="1" [colspan]="1" >Redigitalizacion de Solicitud </mat-grid-tile> -->
</mat-toolbar>


<mat-sidenav-container>

    <mat-sidenav *ngIf="showForm" [disableClose]="true" mode="side" fixedTopGap="65" fixedInViewport="true" style="background: white; max-width: 25%; z-index: 0;" opened>


        <mat-vertical-stepper #stepper linear="false" (selectionChange)="selectionPage($event,true)">
            <mat-step [aria-label]="_SolicitudService.DatosPersonalesCliente">
                <ng-template matStepLabel>{{_SolicitudService.DatosPersonalesCliente}}</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.DomicilioCliente">
                <ng-template matStepLabel>{{_SolicitudService.DomicilioCliente}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.reqDatosEmpleoClienteF()" [aria-label]="_SolicitudService.DatosEmpleoCliente">
                <ng-template matStepLabel>{{_SolicitudService.DatosEmpleoCliente}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.reqDatosConyugeCliente" [aria-label]="_SolicitudService.DatosConyugeCliente">
                <ng-template matStepLabel>{{_SolicitudService.DatosConyugeCliente}}</ng-template>
            </mat-step>

            <mat-step *ngIf="_SolicitudService.reqDatosEmpleoConyugeCliente()" [aria-label]="_SolicitudService.DatosEmpleoConyugeCliente">
                <ng-template matStepLabel>Datos Empleo <br>Cónyuge Cliente</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.Referencias">
                <ng-template matStepLabel>{{_SolicitudService.Referencias}}</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.IngresoMensual">
                <ng-template matStepLabel>{{_SolicitudService.IngresoMensual}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereAval()" [aria-label]="_SolicitudService.DatosAval">
                <ng-template matStepLabel>{{_SolicitudService.DatosAval}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereAval()" [aria-label]="_SolicitudService.DomicilioAval">
                <ng-template matStepLabel>{{_SolicitudService.DomicilioAval}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereEmpleoAval()" [aria-label]="_SolicitudService.DatosEmpleoAval">
                <ng-template matStepLabel>{{_SolicitudService.DatosEmpleoAval}}</ng-template>
            </mat-step>
            <mat-step *ngIf="_SolicitudService.requiereDatosConyugeAval()" [aria-label]="_SolicitudService.DatosConyugeAval">
                <ng-template matStepLabel>{{_SolicitudService.DatosConyugeAval}}</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.Documentos">
                <ng-template matStepLabel>{{_SolicitudService.Documentos}}</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.AgregarPedido">
                <ng-template matStepLabel>{{_SolicitudService.AgregarPedido}}</ng-template>
            </mat-step>
            <mat-step [aria-label]="_SolicitudService.FinalizarSolicitud">
                <ng-template matStepLabel>{{_SolicitudService.FinalizarSolicitud}}</ng-template>
            </mat-step>


        </mat-vertical-stepper>

    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container" style="margin-top: 20px">
            <app-busqueda-cliente (showForm)="showForm=$event"></app-busqueda-cliente>
            <router-outlet *ngIf="showForm"></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>