.btn{

  padding: 1px;
  padding-top: 0px;
  max-height: 95px;
  text-transform: none;
}
.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}


.centroPantallaMnus{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 40%;
  height: 30%;
  width: 70%;
  margin: 0% 0 0 -25%;
}

.cajaBordeGris{
  background: #e8eaf6 ;
  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  min-width: 300px;

}
.pantallaCompleta{
  z-index: 1;
  display:absolute;
  position:relative ;
}
.bloqueado{
  display: absolute;
  position:fixed;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}
.links{
  cursor: pointer;
}


.botonSi{
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 50%
}
.botonNo{
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  background: red;

  width: 50%;
}

.cajaOpcion{
  width: 100%;
  text-align: right;
  margin-top: -8px;
  padding-right: 10px;
    box-shadow:0px 0px 0px 0px  #e8eaf6;

}
.cajaAgregar{
  cursor: pointer;
  color: green;
  text-align: center;
  display:inline-block;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0px 0px 0px 0px  #e8eaf6;

}
