<div *ngIf="mostrarAgregar" class="pantallaCompleta">
  <div class="bloqueado">
    <div *ngIf="mostrarConfirmar" class="pantallaCompleta">
      <div class="bloqueado">

        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <label class="flow-text">¿Desea Guardar el Área?</label>


            <div class="container">

              <div class="row">
                <div (click)="mostrarConfirmar = false" class="waves-effect waves-light  btn botonNo">
                  <h6>Cancelar</h6>
                </div>
                <div (click)="guardarArea(nombre.value)" class="waves-effect waves-light  btn botonSi">
                  <h6>Guardar</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centroPantalla">
      <div class="cajaBordeGris">


        <label class="flow-text">Agregar un Área</label>
        <div class="container">
          <hr>
          <div class="row">
            <form class="col s12" [formGroup]="formularioAdd"
             (ngSubmit)="alertConfirmar()" novalidate="novalidate">
              <div class="row">

                <div class="input-field col s12">
                  <input
                  #nombre
                  formControlName="nombreArea"
                  id="textarea1"
                  class=" validate center"
                  type="text">
                  <label for="textarea1">Nombre del Área</label>

                  <div class="red-text"
                    *ngIf="formularioAdd.get('nombreArea').errors?.required">
                    El nombre es necesario
                  </div>
                  <div class="red-text"
                    *ngIf="formularioAdd.get('nombreArea').errors?.minlength">
                    El nombre debe tener mas de 3 carcateres
                  </div>
                </div>
              </div>
              <div class="container">
                <button (click)="mostrarAgregar = false;" class="btn  botonNo">
                  <h6>Cancelar</h6>
                </button>
                <button type="submit" class="btn  botonSi">
                  <h6>Guardar</h6>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="centroPantallaMnus">
  <div class="cajaBordeGris">
    <div class="cajaOpcion ">
      <div (click)="alertAgregar()" class="cajaAgregar">
        <i class="material-icons ">add_circle </i>
      </div>
    </div>
    <div class="container">

      <label class="flow-text">Áreas</label>
      <hr>

      <app-loading *ngIf="loadingData"></app-loading>
      <div *ngFor="let area of listaAreasService">
        <app-area [area]="area"></app-area>
      </div>
    </div>
  </div>
</div>
