<div>
  <div class="btn">
    Variable : {{variable.nombreVariable}}
    <div class="right">
      <i class="material-icons links" (click)="mostrarEliminar = true">delete</i>
      <i *ngIf="!mostrarDetalles" class="material-icons links" (click)="mostrarDetalles = true">keyboard_arrow_down</i>
      <i *ngIf="mostrarDetalles" class="material-icons links" (click)="mostrarDetalles = false">keyboard_arrow_up</i>
    </div>
  </div>
  <div *ngIf="mostrarDetalles" class="cajaBordeAzul">
    <div>
      <div>
        <div class="enLinea def">
          <div class="btnAzul">Definición:</div>
        </div>
        <div class="enLinea textoDef">
          <div class="cajaTexto">
            <p>
              {{variable.definicion}}
            </p>
          </div>
        </div>
        <div class="enLinea pon">
          <div class="btnAzul ponderacionAzul">Ponderación</div>
          <div class="btn ponderacionBlanco">{{variable.ponderacion}}</div>
        </div>
      </div>
    </div>
    <div>
      <div class="left evidencia">
        <div class="enLinea2">
          <div class="btnAzul">Requiere evidencia</div>
        </div>
        <div class="enLinea2">
          <div *ngIf="variable.requiereEvidencia" class="btnBlanco">Sí</div>
          <div *ngIf="!variable.requiereEvidencia" class="btnBlanco">No</div>
        </div>
      </div>

      <div class="enLinea2 right" style="margin-right:10px">
        <div class="btnAzul2" (click)="editar()">
          Editar <i class="material-icons icono">edit</i>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEliminar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <label class="flow-text">¿Desea Eliminar?</label>
        <div class="container">
          <hr />
        </div>
        <div class="row">
          <div class="btn botonNo" (click)="mostrarEliminar = false">
            <h6>Cancelar</h6>
          </div>
          <div class="btn botonSi" (click)="eliminarVariable(variable)">
            <h6>Eliminar</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mostrarEditar" class="pantallaCompleta" appNgDropFiles (mouseSobre)="estaSobreDrop = $event"
  [archivos]="variable.imagenes">

  <form [formGroup]="formEditarVariable">
    <div class="bloqueado">
      <div class="centroPantalla">
        <div class="cajaBordeGris">
          <div class="caja">
            <div class="container">

              <input name="nombreVariable" formControlName="nombreVariable" type="text" placeholder="Nombre"
                [value]="variable.nombreVariable" [disableControl]="variable.idVariable" />
            </div>

            <div *ngIf="formEditarVariable.get('nombreVariable').dirty">
              <div class="red-text" *ngIf="formEditarVariable.get('nombreVariable').errors?.required">
                Nombre Necesario
              </div>
              <div class="red-text" *ngIf="formEditarVariable.get('nombreVariable').errors?.minlength">
                El nombre debe ser mayor a 4 caracteres
              </div>

            </div>
            <div *ngIf="formEditarVariable.get('definicion').dirty">
              <div class="red-text" *ngIf="formEditarVariable.get('definicion').errors?.required">
                Definicion Necesaria
              </div>
              <div class="red-text" *ngIf="formEditarVariable.get('definicion').errors?.minlength">
                La definicion debe ser mayor a 9 caracteres
              </div>
            </div>
            <div>
              <div>
                <div>

                  <div class="enLinea3 def">
                    <div class="btnAzul">Definición:</div>
                  </div>
                  <div class="enLinea3 textoDef">
                    <textarea formControlName="definicion" class="cajaTexto2" cols="40"
                      rows="5">{{variable.definicion}}</textarea>

                  </div>

                  <div class="enLinea pon">
                    <div class="btnAzul ponderacionAzul">Ponderación</div>
                    <div class="btn ponderacionBlanco">
                      <input [disableControl]="variable.idVariable" type="number" formControlName="ponderacion" />
                    </div>
                    <div *ngIf="formEditarVariable.get('ponderacion').dirty">
                      <div class="red-text" *ngIf="formEditarVariable.get('ponderacion').errors?.required">
                        Ponderacion Necesaria
                      </div>
                      <div class="red-text" *ngIf="formEditarVariable.get('ponderacion').errors?.min">
                        Ponderacion minima 1
                      </div>
                      <div class="red-text" *ngIf="formEditarVariable.get('ponderacion').errors?.max">
                        Ponderacion maxima 100
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="left evidencia">
                  <div class="enLinea2">
                    <div (click)="cargar()" class="btnAzul">
                      Requiere evidencia
                    </div>
                  </div>
                  <div class="enLinea2 switch">
                    <label>
                      No
                      <input type="checkbox" [checked]="requiereEvidecia"
                        (change)="requiereEvidecia = !requiereEvidecia">
                      <span class="lever"></span>
                      Sí
                    </label>
                  </div>
                </div>
                <div *ngIf="requiereEvidecia" class="enLinea3 archivos">
                  <div class="file-field input-field ">
                    <div class="btn renglon btnimagen">
                      <i class="material-icons icono2">add_photo_alternate</i>
                      <input (change)="onChange($event)" type="file" multiple />
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate renglon" type="text" placeholder="Upload one or more files" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="requiereEvidecia" class="">
            <swiper [config]="config">
              <div *ngFor="let imagen of variable.imagenes; let i = index">
                <img *ngIf="imagen.manejar!=1" [src]="imagen.base64" (click)="removeImage(imagen)" style=" image-orientation: from-image;" />
              </div>
            </swiper>
          </div>
          <div class="scroll">
            <div class="">
              <div class=" btn">
                <div class="text left">
                  <h6>Sucursales</h6>
                </div>
                <div class="right">
                  <i (click)="cambiarMostrarSucursales()" *ngIf="!mostrarSucursales"
                    class="material-icons iconos links ">expand_more</i>
                  <i (click)="cambiarMostrarSucursales()" *ngIf="mostrarSucursales"
                    class="material-icons iconos links">expand_less</i>
                </div>
              </div>
              <div *ngIf="mostrarSucursales">
                <div class="btn btnSel right">
                  <label class="left center  label">
                    <input class="checkbox right " type="checkbox" [checked]="selecTodasSucursales"
                      (click)="seleccionarTodasSucursales()" />
                    <span class="white-text left"> Seleccionar todas</span>
                  </label>
                </div>
                <br />
                <cdk-virtual-scroll-viewport itemSize="10" class="list-container cajaZonas">
                 <div class="">
                  <app-loading *ngIf="cargandoSucursales"></app-loading>
                  <div class="alinearSucursales" *cdkVirtualFor="let sucursal of listSucursales let i = index; let conteo = count">
                    

                     <label class="white-text ">
                        <input class="checkbox " type="checkbox" [checked]="sucursal.selected"
                        (change)="seleccionarSucursal(sucursal)" />
                        <span> {{ sucursal.nombreSucursal }}</span>
                      </label>
                    </div>
                  </div>
                </cdk-virtual-scroll-viewport>

              </div>
            </div>
          </div>

          <div class="">
            <div class="btn botonNo" (click)="mostrarEditar = false">
              <h6>Cancelar</h6>
            </div>
            <div class="btn botonSi" (click)="guardarEdicionVar()">
              <h6>Guardar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>