.btn{
  padding-left:10px; 
  text-align: start;
    width: 100%;
    background: #e8eaf6;
    border: solid 1px #5c6bc0;
    color: #5c6bc0;
    padding: 1px;
    padding-top: 0px;
    margin-bottom: 2px;
    max-height: 95px;
    text-transform: none;
    cursor: auto;
    padding-left:10px; 
  }
 
  .renglon{
    padding-left:10px; 
    text-align: start;
      margin-top: 0px;
      padding-top: 0px;
      margin-bottom: 2px;
      max-height: 25px;
      text-transform: none;
      cursor: auto;
      padding-left:10px;
  }

  .links{
    cursor: pointer;
    margin-right: 15px;
  }
  .cajaBordeAzul{
    border:solid 5px #5c6bc0;
    background: #c5cae9 ;
    border-radius:5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 0px;
    padding-bottom:10px;
  }
  .cajaTexto{
    border: solid 1px #5c6bc0;
    max-height: 100px;
    overflow: auto;
  }
  .input-field{
    margin: 0px 0px 0px 0px;
  }
  input[type="number"]{
    margin-bottom: 0px;
    margin-top: 0px;
    height: 30px;
    text-align: center;
  }
  .cajaTexto2{
    margin-top: 0px;
    border: solid 1px #5c6bc0;
    max-height: 100px;
    min-height: 100px;
    overflow: auto;
    
  }
  .cajaBordeAzul{
    max-height: 200px;
    height: 170px;
    overflow: auto;
  }
  .enLinea{
    margin: 10px 5px 0px 5px;
    display: inline-table;
  }
  .enLinea3{
    margin: 10px 5px 0px 5px;
    display: inline-flex;
  }
  .def{
    width: 20%;
  }
  .textoDef{
    width: 60%;
  }
  .pon{
    width: 15%;
  }
  p{
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .btnAzul{
    border-radius:  2px;
    width: 100%;
    background: #5c6bc0;
    border: solid 1px #5c6bc0;
    color: #c5cae9;
    padding: 1px;
    padding-top: 0px;
    max-height: 95px;
    text-transform: none;
    cursor: auto;
  }
  .btnBlanco{
    text-align: center;
    border-radius:  2px;
    width: 50px;
    background: #c5cae9;
    border: solid 1px #5c6bc0;
    color: #5c6bc0;
    padding: 1px;
    padding-top: 0px;
    max-height: 95px;
    text-transform: none;
    cursor: auto;
  }
  
  .ponderacionBlanco{
    border-top-left-radius:0px; 
    border-top-right-radius:0px; 
    text-align: center;
    padding-left: 0px;
  }
  .ponderacionAzul{
    border-bottom-left-radius:0px; 
    border-bottom-right-radius:0px; 
  }
  .evidencia{
    width: 200px;
  }
  .enLinea2{
    display: inline-flex;
    margin-top: 10px;
  }
  .icono{
    font-size: 16px;
    margin:3px 5px 0px 5px;
  }
  .btnAzul2{
    border-radius:  2px;
    width: 100%;
    background: #5c6bc0;
    border: solid 1px #5c6bc0;
    color: #c5cae9;
    padding-left: 5px;
    padding-top: 0px;
    margin-right: 10px;
    max-height: 95px;
    text-transform: none;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-track {
    background-color: #9fa8da;
    border-radius: 5px;

} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color:#5c6bc0;

    border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: #5c6bc0;
    height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

  

.pantallaCompleta{
  z-index: 1;
  display:absolute;
  position:relative ;
}
.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}
.cajaBordeGris{
  background: #e8eaf6;
  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10%;
  min-width: 300px;

}
.textoAzul{
  color: #5c6bc0;
 
}
.bloqueado{
  top: 0px;
  left:0px;
  margin-top: 0px;
  display: absolute;
  position:fixed;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}
.botonSi{
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  margin-top: 15px;
  width: 35%;
  text-align: center;
  cursor: pointer;
}

.botonNo{
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  margin-top: 15px;
  background: red;
  width: 35%;
  text-align: center;
  cursor: pointer;
}
.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 40%;
  height: 30%;
  width: 60%;
  margin: -15% 0 0 -20%;
}
textarea[type="text"]{
  margin:0px 0px 0px 0px;

}
.caja{
  height: 280px;
  padding-top: 10px;
  border: solid 1px #000;
}

.contenedorZonas{
  max-height: 86px;
  min-height: 38px;
  align-items: initial;
  overflow: auto;
}
.btnZona{
  display: inline-block;
  width: 180px;
  height: 35px;
  background: #e8eaf6;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 10px 0px 0px 5px;
  padding-top: 0px;
  margin: 2px 2px 5px 2px;
  max-height: 35px;
  text-transform: capitalize;
}
.btnSel{
  
  width: 180px;
  height: 33px;
  background: #a0a6ca;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 0px 0px 0px 5px;
  margin: 1px 0px 0px 0px;
  max-height: 30px;
  text-transform: capitalize;
}

.cajaZonas{
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  min-height: 80px;
  max-height: 400px;
  padding: 1px 1px 0px 1px;
  border: solid 1px #000;
  
}
.alinearSucursales{
  width: 100%;
  text-align: left;
  padding-left: 10px; 
}
.cajaImagenes{
  background: #e8eaf6;
  margin-top: -60px;
  border: solid 5px #e8eaf6;
  width: 50%;
  height: 120px;
  margin-left: 25%;
}
.carousel{
  width: 100%;
  height: 120px;
  padding: 0px 0px 0px 0px; 
}
.carousel-item{
  max-height: 110px;;
}
img{

    max-height: 110px;
    max-width: 160px;;
  
}
.btnimagen{
     
  text-align: center;
    width: 30px;
    background: #e8eaf6;
    border: solid 1px #5c6bc0;
    color: #5c6bc0;
    padding: 5px 0px 0px 0px;
    margin-bottom: 2px;
    max-height: 25px;
    text-transform: none;
    cursor: auto;
    padding-left:0px; 
  }
  
  .icono2{
    margin-top: 0px;
    max-height: 24px;
    padding-top: 0px;
    line-height: 24px;
    font-size: 24px;
    line-height: 0rem;

  }
  .file-field .btn, .file-field .btn-large, .file-field .btn-small {
    float: left;
    height: 3rem;
    line-height: 2rem;
}
.archivos{
  width: 60%
}