
.btn{
    background: #5c6bc0;
    margin-top: 5px;
    width: 100%
  }
  .iconos{
  margin-left: 10px;
  }
  .cajaBordeAzul{
    border:solid 5px #5c6bc0;
    background: #c5cae9 ;
    border-radius:5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 7px;
    padding-bottom:10px;
  }
  .cajaBordeAzul{
    max-height: 200px;
    overflow: auto;
  }
  .textocaja{
    text-color: #5c6bc0;
    width: 100%;
    text-align: left;
  }
  
  .texto{
    margin-left: 10px;
  color: #5c6bc0;
  
  }
  .btn{
    cursor: auto;
    padding: 10px;
    padding-top: 0px;
    max-height: 95px;
    text-transform: none;
  }
  .cajaBordeGris{
  
    border:solid 5px #e8eaf6;
    border-radius:15px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10%;
    min-width: 300px;
  
  }
  .pantallaCompleta{
    z-index: 1;
    position: absolute;
  }
  
  .bloqueado{
    top: 0%;
    left: 0%;
    position:fixed;
    width: 100%;
   
    background: rgba(100,100, 100, 0.5);
    min-height: 100%;
    overflow: auto;
  }
  
  
  .cajaBordeGris{
    background: #e8eaf6 ;
  }
  .botonSi{
    background: green;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 50%
  }
  .botonNo{
    border-top-right-radius:  0px;
    border-bottom-right-radius: 0px;
    background: red;
  
    width: 50%;
  }
  .links{
    cursor: pointer;
  }
  ::-webkit-scrollbar {
        width: 10px;
  
  }
  ::-webkit-scrollbar-track {
        background-color: #9fa8da;
        border-radius: 5px;
  
  } /* the new scrollbar will have a flat appearance with the set background color */
  
  ::-webkit-scrollbar-thumb {
        background-color:#5c6bc0;
  
        border-radius: 5px;
  } /* this will style the thumb, ignoring the track */
  
  ::-webkit-scrollbar-button {
        background-color: #5c6bc0;
        height: 0px;
  } /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
  
  ::-webkit-scrollbar-corner {
        background-color: black;
  } /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
  