<div class="centroPantalla ">
  <div class="cajaBordeGrisd">

    <div style="text-align: center; font-size:25px; color: blue ">
      <b>Capturar INE</b>
      <hr>
    </div>

    <div class="row center-align">
      <div class="col s6">
        <b style=" color: black; font-size:18px">Frente</b>
        <img class="materialboxed center" src="assets/img/fren.png">
      </div>


      <div class="col s6 ">
        <b style=" color: black; font-size:18px">Reverso</b>

        <img class="materialboxed" src="assets/img/rever.png">
      </div>
    </div>

    <div class="btn" (click)="mostrarEliminar=true" style="background: blue; width: 250px">Guardar</div>

  </div>
</div>


<div *ngIf="mostrarEliminar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">


        <b class="flow-text">¿Desea guardar estas capturas?</b>
        <div class="container">
          <hr>
          <div class="row">
            <div class="col s6">

              <div (click)="mostrarEliminar= false;" class="btn botonNo" style="background: red; width: 200px">
                <h6>No</h6>
              </div>
            </div>
            <div class="col s6">

              <a class="btn botonSi" style="background: green; width: 200px" href="http://localhost:4200/#/solicitud">Si</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

