<div class="col-md-12">
    <div class="text-center mainLogin">
        <form class="form-signin">
            <img class="mb-4" src="assets/mark_roga.png" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Digitalización de Expedientes</h1>
            <label for="inputEmail" class="sr-only">Usuario</label>
            <input type="text" #user class="form-control" placeholder="Usuario" required autofocus >
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" #password class="form-control" placeholder="Contraseña" required>

            <button #btnLogin class="btn btn-lg btn-primary btn-block" (click)="login(user.value, password.value)" type="button"><i *ngIf="loading" class="fas fa-spinner fa-spin"></i> Iniciar Sesión</button>

            <div *ngIf="errorLogin">
                <p style="color:red">Error al iniciar sesión</p>
            </div>
            <p class="mt-5 mb-3 text-muted">&copy; Grupo Roga</p>
        </form>
    </div>
</div>

<!-- <div class="alert-fixed">
    <div class="alert alert-primary" role="alert">
        A simple primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
</div> -->