<div>
    <div class="btn">
        <div class="left">
            <h6>{{ subadiministrador.nombre }} </h6>

        </div>

        <div class="right">
            <div>
                <div class="left">{{subadiministrador.porcentajeAutomaticas}}%</div>
                <div class="right">
                    <i (click)="mostrarEliminar = true" class="material-icons iconoEliminar links">delete</i>
                    <i (click)="mostrarDetalles = true" class="material-icons iconoSiguiente    links">keyboard_arrow_right</i>
                </div>

            </div>

        </div>
    </div>

    <div *ngIf="mostrarEliminar" class="pantallaCompleta">
        <div class="bloqueado">
            <div class="centroPantalla">
                <div class="cajaBordeGris">
                    <label class="flow-text">¿Desea eliminar este subadministrador?</label>
                    <div class="container">
                        <hr />
                        <div>
                            <div (click)="mostrarEliminar = false" class="btn botonNo">
                                <h6>Cancelar</h6>
                            </div>
                            <div class="btn botonSi" (click)="setEliminarSubAdministrador()">
                                <h6>Eliminar</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bloqueado" *ngIf="false">
                <div class="centroPantalla">
                    <div class="cajaBordeGris">
                        <label class="flow-text">Detalles Subadministrador</label>
                        <div class="container">
                            <hr />
                        </div>
                        <div class=" btn">
                            <div class="right"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pantallaCompleta">
        <div *ngIf="mostrarDetalles" class=" bloqueado">
            <div class="centroPantalla">
                <div class="cajaBordeGris ">
                    <label class="flow-text">Detalles Subadministrador</label>
                    <hr />
                    <div style="text-align: start">
                        <div class="container">
                            <div class="btnNombre">Nombre:</div>
                            <div class="nombre">{{ subadiministrador.nombre }}</div>
                        </div>
                    </div>
                    <div style="text-align: start">
                        <div class="container">
                            <div class="btnCorreo">Correo:</div>
                            <div class="nombre">{{ subadiministrador.correo }}</div>
                        </div>
                    </div>

                    <div class="scroll">
                        <div class="">
                            <div class=" btn">
                                <div class="text left">
                                    <h6>Zonas</h6>
                                </div>
                                <div class="right">
                                    <i (click)="cambiarMostrarZonas()" *ngIf="!mostrarZonas" class="material-icons iconos links ">expand_more</i>
                                    <i (click)="cambiarMostrarZonas()" *ngIf="mostrarZonas" class="material-icons iconos links">expand_less</i>
                                </div>
                            </div>
                            <div *ngIf="mostrarZonas" class="cajaBordeAzul">
                                <div class="row">
                                    <div class="col s6 textoAzul">Disponibles</div>
                                    <div class="col s6 textoAzul">Asignadas</div>
                                </div>
                                <div class="row">
                                    <div class="cajaBordeAzulChica col s6">
                                        <ul>
                                            <li class="btn  links" *ngFor="let zona of listZonasDisponibles" (click)="setAsignarZonaSubAdministrador(zona)">
                                                <h6 class="nombre">{{ zona.nombreZona }}</h6>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="cajaBordeAzulChica col s6">
                                        <ul>
                                            <li class="btn" *ngFor="let zona of listZonasAsignadas">

                                                <div class="left">{{ zona.nombreZona }}</div>

                                                <div class="right">
                                                    <i class="material-icons iconoEliminar" (click)="elimiarZona(zona.idZonaSubadmin)">delete</i>
                                                    <i (click)="mostrarSubZonas(zona.idZonaSubadmin)" class="material-icons iconoSiguiente">keyboard_arrow_right</i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class=" btn">
                                <div class="text left">
                                    <h6>Áreas</h6>
                                </div>
                                <div class="right">
                                    <i (click)="cambiarMostrarAreas()" *ngIf="!mostrarAreas" class="material-icons iconos links ">expand_more</i>
                                    <i (click)="cambiarMostrarAreas()" *ngIf="mostrarAreas" class="material-icons iconos links">expand_less</i>
                                </div>
                            </div>
                            <div *ngIf="mostrarAreas" class="cajaBordeAzul">
                                <div *ngFor="let area of listAreasDisponibles" class="btn">
                                    <label class=" left blue-text">
                    <input class="with-gap" name="group1" type="radio" [checked]="area.selecionado"
                      (click)="setAsignarArea(area)" />
                    <span>{{ area.nombreArea }}</span>
                  </label>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>

                    <div class="text-left">
                        <div class="">
                            <div class="nombre"> Porcentaje de aprobacion automatica:</div>
                            <div class="input-field inline" style="width: 10%">
                                <input #edtPorcetaje (change)="validar(edtPorcetaje.value)" (keyup)="validar(edtPorcetaje.value)" type="number" [value]="subadiministrador.porcentajeAutomaticas" max="100" min="0">

                            </div>

                        </div>
                        <div *ngIf="!porcentajeValido" style="color: red;">El porcentaje debe estar entre el rango de 0 y 100 </div>
                    </div>
                    <div class="container">
                        <div (click)="onClickClose()" class="btn botonNo center">
                            <h6>Cerrar</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarEliminarZona" class="pantallaCompleta ">
    <div class="bloqueado">
        <div class="centroPantalla">
            <div class="cajaBordeGris">
                <label class="flow-text">¿Eliminar de la Lista?</label>
                <div class="container">
                    <hr />
                    <div (click)="mostrarEliminarZona = false" class="btn botonNo">
                        <h6>Cancelar</h6>
                    </div>
                    <div (click)="setDesAsignarZonaSubAdmini(idZonaEliminar)">
                        <h6>Eliminar</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarSubzonas" class="pantallaCompleta2">
    <div class="bloqueado2">
        <div class="centroPantalla2">
            <div class="cajaBordeGris2">
                <label class="flow-text">SubZonas</label>
                <div class="container">
                    <hr />
                </div>
                <div class="cajaBordeAzul">
                    <div class="row">
                        <div class="col s6 textoAzul">Disponibles</div>
                        <div class="col s6 textoAzul">Asignadas</div>
                    </div>
                    <div class="row">
                        <div class=" col s6 cajaBordeAzulChica">
                            <ul>
                                <li class="btn links" *ngFor="let sub of listSubZonaDisponible" (click)="setAsignarSubZona(sub)">
                                    {{sub.nombreSubZona}}
                                </li>
                            </ul>
                        </div>
                        <div class=" col s6 cajaBordeAzulChica">
                            <ul>
                                <li class="btn links" *ngFor="let subZona of listSubZonasAsignadas" (click)="setDesAsignarSubZona(subZona.idSubZonaZonaSubadmin)">
                                    {{subZona.nombreSubZona}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div (click)="mostrarSubzonas = false" class="btn botonNo">
                    <h6>Cerrar</h6>
                </div>
            </div>
        </div>
    </div>
</div>