<div class="fondo-negro" *ngIf="openModal">
  <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Datos Casa Familiar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputPassword4">Nombre</label>
                <input type="text" class="form-control"  >
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="inputAddress">Apellido Paterno</label>
                <input type="text" class="form-control" >
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Apellido Materno</label>
                <input type="text" class="form-control"  >
              </div>
            </div>

            <div class="form-row">

              <div class="form-group col-md-12">
                <label for="inputState">Parentesco</label>
                <select id="inputState" class="form-control" (change)="onSelectRelacionCasaFamiliar($event.target.value)">
                  <option selected>--Selecciona un Parentesco--</option>
                  <option *ngFor="let parentesco of listTipoRelacionesCasaFam" [value]="parentesco.id_tipo_relacion_casa_familiar">
                    {{parentesco.tipo_relacion_casa_familiar}}</option>
                </select>
              </div>

            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</div>