<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Empleo Aval</h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <form>

                        <div class="form-row">

                            <div *ngIf="tipoEmpleo" class="form-group col-md-4">

                                <label for="inputState">Tipo de Empleo</label>

                                <select #selectTipoEmpleo (change)="onSelectTipoEmpleo(selectTipoEmpleo.value)" id="inputState" class="form-control">

                                    <option selected>--Seleccionar Tipo Empleo--</option>

                                    <option *ngFor="let empleo of listEmpleos" [value]="empleo.id_tipo_empleo">
                                        {{empleo.tipo_empleo}}
                                    </option>

                                </select>

                            </div>
                            <div *ngIf="tipoIngreso" class="form-group col-md-4">
                                <label for="inputState">Tipo de Ingreso</label>
                                <select #selectTipoIngreso id="inputState2" class="form-control">
                                    <option selected>--Selecciona Tipo Ingreso--</option>
                                    <option *ngFor="let ingreso of listOtrosIngresos" [value]="ingreso.id_tipo_ingreso">
                                        {{ingreso.tipo_ingreso}}</option>
                                </select>
                            </div>

                            <div *ngIf="empresa" class="form-group col-md-4">

                                <label for="inputState">Empresa</label>

                                <input #edtEmpresa class="form-control mr-sm-2" type="text"aria-label="Search">

                            </div>

                            <div *ngIf="empleo" class="form-group col-md-4">

                                <label for="inputState">Empleo/Profesion</label>

                                <input #edtEmpleo class="form-control mr-sm-2" type="text" >

                            </div>

                        </div>

                        <div class="form-row">

                            <div *ngIf="puesto" class="form-group col-md-4">

                                <label for="inputState">Puesto</label>

                                <input #edtPuesto class="form-control mr-sm-2" type="text" >

                            </div>

                            <div class="form-group col-md-4">

                                <label for="inputState">Ingreso Mensual</label>

                                <input #edtIngreso class="form-control mr-sm-2" type="text">

                            </div>

                            <div *ngIf="telefono" class="form-group col-md-4">

                                <label for="inputState">Teléfono</label>

                                <input #edtTelefono class="form-control mr-sm-2"  type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" aria-label="Search">

                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputState">Antiguedad en el Empleo</label>
                                <input #edtAnos type="number" class="form-control" id="inputAddress" >
                            </div>

                            <div class="form-group col-md-3">

                                <label for="inputState"> &nbsp;</label>

                                <input #edtMeses type="number" class="form-control" id="inputAddress" >

                            </div>

                            <div class="form-group col-md-4 text-center " style="margin-top: 0%">

                                <i class="material-icons " (click)="onClickOtroEmpleo() " style="font-size: 48px !important; color: blue;cursor: pointer;">

                                    add_circle

                                </i>

                                <br>

                                <label for="exampleFormControlFile1">Agregar Otro Empleo</label>
                            </div>
                            <div class="form-group col-md-2 text-center " style="margin-top: 3%">

                                <button type="button" class="btn  btn-outline-success btn-l">Guardar</button>
                            </div>

                            <div class="form-row">

                                <div class=" form-group col-md 12">

                                    <h5>Empleos</h5>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Tipo Empleo</th>
                                                <th scope="col">Empresa</th>
                                                <th scope="col">Puesto</th>
                                                <th scope="col">Ingreso</th>
                                                <th scope="col"></th>





                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let empleo of listEmpleosAval">
                                                <td>{{empleo}}</td>
                                                <td>Jabil</td>
                                                <td>Entrenamiento</td>
                                                <td>8000</td>

                                                <td><i class="material-icons" style="color: red"> delete</i></td>
                                                <td><i class="material-icons" style="color: green">edit</i></td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>