<h3>
    Datos Domicilio del Cliente

</h3>

<form>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="inputState">Estado</label>
            <select id="inputState" class="form-control" (change)="onSelectEstado($event.target.value)">
        <option selected>--Seleccionar Estado--</option>
        <option *ngFor="let estado of listEstados" [value]="estado.estado">{{estado.nombre_estado}}</option>
      </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputState">Ciudad</label>
            <select id="inputState" class="form-control" (change)="onSelectCiudad($event.target.value)">
        <option selected>--Seleccionar Ciudad--</option>
        <option *ngFor="let ciudad of listCiudades" [value]="ciudad.municipio">{{ciudad.nombre_municipio}}</option>
      </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Colonia</label>

            <input class="form-control" placeholder="Seleccionar Colonia" type="search" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let colonia of listColonias">
                    {{colonia.nombre}}
                </mat-option>
            </mat-autocomplete>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputAddress">Calle</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Codigo Postal</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="inputState">No. Exterior</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">

        </div>
        <div class="form-group col-md-4">
            <label for="inputState">No. Interior</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Tipo Domcilio</label>
            <select id="inputState" class="form-control" (change)="onSelectTipoDomicilio($event.target.value)">
        <option selected>--Selecciona un Tipo de Domicilio--</option>
        <option *ngFor="let tipoDomiclio of listTiposDomicilio" [value]="tipoDomiclio.id_tipo_domicilio">
          {{tipoDomiclio.tipo_domicilio}}</option>
      </select>
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-2">
            <label for="inputState">Tiempo de Residencia</label>
            <input type="number" class="form-control" id="inputAddress" placeholder="Años">
        </div>
        <div class="form-group col-md-2">

            <label for="inputState"> &nbsp;</label>

            <input type="number" class="form-control" id="inputAddress" placeholder="Meses">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Personas en el Domicilio</label>
            <input type="number" class="form-control" id="inputAddress" placeholder="0">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Condiciónes del Domicilio</label>
            <select id="inputState" class="form-control">
        <option selected>--Selecciona Condición--</option>
        <option *ngFor="let condicion of listCondiciones" value="condicion.id_tipo_condicion_domicilio">
          {{condicion.tipo_condicion_domicilio}}</option>
      </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="exampleFormControlTextarea1">Referencias</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group col-md-4 text-center" style="margin-top: 3%">
<<<<<<< HEAD
            <i (click)="openModalDocumentosDomicilio=true" class="material-icons "  style="font-size: 48px !important; color: blue;cursor: pointer;">
=======
            <i class="material-icons " style="font-size: 48px !important; color: blue;cursor: pointer;">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
        add_circle
      </i>
            <br>
            <label for="exampleFormControlFile1">Agregar Documentos</label>

        </div>

    </div>
    <div class="col-md-3" style="margin-top: -10px; margin-left:72%">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-danger btn-lg">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>

            </div>
        </div>
    </div>
</form>


<app-modal-casa-familiar [openModal]="openModalCasaFamiliar" (dataCasaFamiliar)="responseDataCasaFamiliar($event)">
</app-modal-casa-familiar>
<app-modal-casa-renta [openModal]="openModalCasaRenta" (dataCasaRenta)="responseDataCasaRenta($event) ">
<<<<<<< HEAD
</app-modal-casa-renta>
<app-modal-documentos-domicilio [openModal]="openModalDocumentosDomicilio" (dataDocumentosDomicilio)="respDataModalDocumentosDomicilio($event)">
</app-modal-documentos-domicilio>
=======
</app-modal-casa-renta>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
