<div class="centroPantalla ">
  <div class="cajaBordeGris">

    <div style="text-align: center; font-size:25px; color: blue ">
      <b>Información del empleo del cliente</b>
      <hr>
    </div>
    <form [formGroup]="formularioEmpleoCliente" (ngSubmit)="enviarEmpleoCliente()" [noValidate]="false">

      <div class="row left-align">

        <div class="col s4">
          <div class=" input-field inline">
            <select class="browser-default" style="background: #eeeeee;height:40px">
              <option value="1">Seleccionar tipo de empleo</option>
              <option *ngFor="let empleos of listEmpleos">{{empleos.tipo_empleo}}</option>

            </select>
          </div>
        </div>


        <div class=" col s4 up">
          <div class=" input-field inline">
            <label style="color: black; font-size:15px">Empresa:</label>
            <div class="input-field inline validate" style="width: 230px;">
              <input formControlName="textEmpresa" required>
            </div>
          </div>
        </div>

        <div class=" col s4 up">
          <div class=" input-field inline">
            <label style="color: black; font-size:15px">Empleo/profesión:</label>
            <div class="input-field inline validate" style="width: 230px;">
              <input formControlName="textEmpleo" required>
            </div>
          </div>
        </div>



      </div>

      <div class="row left-align">

        <div class=" col s4 up">
          <div class=" input-field inline">
            <label style="color: black; font-size:15px">Puesto:</label>
            <div class="input-field inline validate" style="width: 230px;">
              <input formControlName="textPuesto" required>
            </div>
          </div>
        </div>

        <div class=" col s4 up">
          <div class=" input-field inline">
            <label style="color: black; font-size:15px">Ingreso Mensual:</label>
            <div class="input-field inline validate" style="width: 230px;">
              <input formControlName="textIngreso" required> </div>
          </div>
        </div>

        <div class=" col s4 up">
          <div class=" input-field inline">
            <label style="color: black; font-size:15px">Telefono:</label>
            <div class="input-field inline validate" style="width: 230px;">
              <input formControlName="textTelefono" required> </div>
          </div>
        </div>
      </div>


      <div class="row left-align">
        <div class="col s8 ">
          <label style="color:black; font-size:17px">Antiguedad en el empleo:</label>
        </div>

        <div class="col s4">
          <a href="http://localhost:4200/#/domicilioempleo" class="material-icons links"
            style="color: blue">add_circle</a>
          <label class="flow-text2" style=" font-size:17px;color: black">Agregar Domicilio Empleo</label>
        </div>

      </div>
      <div class="row left-align ">
        <div class="col s8 up2 ">
          <div class="input-field inline col s4 " style="width: 140px">
            <input formControlName="textAños" id="años" type="text" class="validate" required>
            <label for="años">Años:</label>
          </div>


          <div class="input-field inline col s4  " style="width: 140px">
            <input formControlName="textMeses" id="meses" type="text" class="validate" required>
            <label for="meses">Meses:</label>
          </div>

        </div>
        <div class="col s4">
          <i class="material-icons links" (click)="mostrarTipoDocumento=true" style="color: blue">add_circle</i>
          <label class="flow-text2" style=" font-size:17px;color: black">Agregar Docs. Empleo</label>
        </div>

      </div>

      <button type="submit" class="btn center-align margBtn" (click)="validarFormulario()"
        style="background: blue; width: 300px">Guardar</button>
    </form>
    <div *ngIf="mostrarGuardar" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <b class="flow-text">¿Desea guardar este empleo?</b>
            <div class="container">
              <hr>
              <div class="row">
                <div class="col s6">
                  <div (click)="mostrarGuardar= false;" class="btn botonNo" style="background: red; width: 200px">
                    <h6>No</h6>
                  </div>
                </div>
                <div class="col s6">
                  <a class="btn botonSi" style="background: green; width: 200px"
                    href="http://localhost:4200/#/agregar">Si</a>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>


    <div *ngIf="mostrarTipoDocumento" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">


            <b class="flow-text">Tipos de documentos del empleo</b>
            <hr>
            <div class="container">
              <div class="input-field ">
                <select class="browser-default" style="background: #eeeeee;height:40px">
                  <option value="1">Seleccionar tipo de documento</option>
                  <option *ngFor="let coming of listComprobanteIngresos">{{coming.tipo_comprobante_ingreso}}</option>

                </select>
              </div>

            </div>

            <div class="container center-align">
              <div class="center-align">
                <img class="materialboxed" src="assets/img/rever.png">
              </div>


              <div class="center-align">
                <button class="btn center-align down" (click)="validarFormulario()"
                  style="background: blue; width: 300px">Guardar</button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>


    <div *ngIf="mostrarGuardarDocumentos" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <b class="flow-text">¿Desea guardar este documento?</b>
            <div class="container">
              <hr>
              <div class="row">
                <div class="col s6">
                  <div (click)="mostrarGuardarDocumentos= false;" class="btn botonNo"
                    style="background: red; width: 200px">
                    <h6>No</h6>
                  </div>
                </div>
                <div class="col s6">
                  <a class="btn botonSi" style="background: green; width: 200px"
                    (click)="mostrarGuardarDocumentos= false; mostrarTipoDocumento=false">Si</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
</div>