<h3>
  Datos Personales Conyuge Aval
</h3>

<form class="col-md-12">

  <div class="form-group ">
    <label>Nombre Cliente</label>
    <input type="text" class="form-control" placeholder="Nombre">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Apellido Paterno</label>
      <input type="text" class="form-control" placeholder="Apelldio Paterno">
    </div>
    <div class="form-group col-md-6">
      <label>Apellido Materno</label>
      <input type="text" class="form-control" placeholder="Apellido Materno">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Fecha de Nacimiento</label>
      <input type="date" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label>RFC</label>
      <input type="text" class="form-control" placeholder="RFC">
    </div>
  </div>
  <div class="form-row ">
    <div class="form-group col-md-6">
      <label>Parentesco con el Cliente</label>
      <select class="form-control">
        <option selected>--Seleccionar Parentesco--</option>
        <option *ngFor="let relacion of listTipoRelaciones " [value]="relacion.id_tipo_relacion_contacto">
          {{relacion.tipo_relacion_contacto}}</option>
      </select>
    </div>

  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="">Teléfono Celular</label>
      <input type="tel" class="form-control" placeholder="Celular">
    </div>

  </div>


  <div class="form-row ">
    <div class="form-group col-md-12">
      <label for="exampleFormControlSelect1">¿Cuenta con un empleo? </label>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline1">Sí</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
        <label class="custom-control-label" for="customRadioInline2">No</label>
      </div>
    </div>
  </div>
<<<<<<< HEAD
  <div class="form-group col-md-4 offset-md-8">
    <div class="form-group  text-center" style="margin-top: -45%">
      <i (click)="openModalEmpleoConyugeAval=true" class="material-icons " style="font-size: 28px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
      <br>
      <label for="exampleFormControlFile1">Agregar Empleo Conyuge de Aval</label>
    </div>
  </div>

  <div class="form-row ">
    <div class="col-md-12  ">
=======

  <div class="form-row ">
    <div class="col-md-12 ">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
      <div class="form-group  text-right">
        <button type="button" class="btn  btn-outline-danger btn-lg custom-control-inline "
          data-dismiss="modal">Limpiar</button>
        <button type="button" class="btn  btn-outline-success btn-lg">Guardar</button>
      </div>
    </div>
  </div>
<<<<<<< HEAD
</form>

<app-modal-empleo-conyuge-aval [openModal]="openModalEmpleoConyugeAval" (dataEmpleoConyugeAval)="respDataModalEmpleoConyugeAval($event)"></app-modal-empleo-conyuge-aval>
=======
</form>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
