<!--======================================================================-->
<!--=====================INICIO CABEZERA AUDITORIA =======================-->
<!--======================================================================-->

<div class="centroPantalla">
  <form [formGroup]="formNuevaAuditoria">
    <div class="cajaBordeGris">
      <label *ngIf="!esEdicion" class="flow-text">Crear Auditoría</label>
      <label *ngIf="esEdicion" class="flow-text">Editando Auditoría</label>

      <hr />
      <div class="nombre">
        <div class="input-field ">
          <input [disableControl]="esEdicion" id="auditoria" class=" validate center" type="text"
            formControlName="nombreAuditoira" />

          <label [ngClass]="{'center': true,'active':esEdicion}" for="auditoria">
            Nombre de la Auditoria
          </label>
        </div>

        <div *ngIf="formNuevaAuditoria.get('nombreAuditoira').dirty">
          <div class="red-text" *ngIf="formNuevaAuditoria.get('nombreAuditoira').errors?.required">
            El nombre es necesario
          </div>
          <div class="red-text" *ngIf="formNuevaAuditoria.get('nombreAuditoira').errors?.minlength">
            El nombre debe ser mayor a 4 caracteres
          </div>
        </div>

      </div>

      <div *ngIf="esEdicion">
        <div class="nombre">
          <div class="input-field ">
            <input [disableControl]="esEdicion" id="frecuencia" class="validate center" type="text"
              formControlName="frecuencia" />
            <label [ngClass]="{'center': true,'active':esEdicion}" for="auditoria">
              Frecuencia
            </label>
          </div>
        </div>
        <div class="nombre">
          <div class="input-field ">
            <input [disableControl]="esEdicion" id="frecuencia" class="validate center" type="text"
              formControlName="area" />
            <label [ngClass]="{'center': true,'active':esEdicion}" for="auditoria">
              Area
            </label>
          </div>
        </div>
      </div>

      <div class="selects" *ngIf="!esEdicion">
        <div class="input-field ">
          <select class=" browser-default " (change)="imprimir()" formControlName="frecuencia" ngModel>
            <option value="" disabled selected>Seleccionar frecuencia</option>
            <option *ngFor="let frecuencia of listFrecuencias; let i = index" [value]="frecuencia.idFrecuencia">
              {{ frecuencia.nombreFrecuencia }}</option>
          </select>

        </div>
      </div>
      <div class="selects" *ngIf="!esEdicion">
        <div class="input-field">
          <select class=" browser-default " formControlName="area" ngModel>
            <option value="" disabled>Seleccionar un Area</option>
            <option *ngFor="let area of listAreas; let i = index" [value]="area.idArea">{{ area.nombreArea }}</option>
          </select>
        </div>
      </div>
      <br />

      <div class="scroll" *ngIf="!esEdicion">
        <div class="">
          <div class=" btn">
            <div class="text left">
              <h6>Zonas</h6>
            </div>
            <div class="right">
              <i (click)="cambiarMostrarZonas()" *ngIf="!mostrarZonas"
                class="material-icons iconos links ">expand_more</i>
              <i (click)="cambiarMostrarZonas()" *ngIf="mostrarZonas"
                class="material-icons iconos links">expand_less</i>
            </div>
          </div>
          <div *ngIf="mostrarZonas">
            <div class="btn btnSel right">
              <label class="left center  label">
                <input #checkTodasZonas class="checkbox right " type="checkbox" [checked]="selecTodasSubZonas"
                  (click)="seleccionarTodasSubZonas()" />
                <span class="white-text left"> Seleccionar todas</span>
              </label>
            </div>
            <br />
            <div class="cajaZonas" formArrayName="subZonas">
              <app-loading *ngIf="cargandoSubZonas"></app-loading>
              <div *ngFor="let subZona of listSubZonas; let i = index" class="alinearSucursales">
                <label class="white-text ">
                  <input class="checkbox " type="checkbox" [checked]="subZona.selected" [formControlName]="i"
                    (change)="seleccionarSubzona(subZona, i)" />
                  <span>
                    {{ subZona.nombreZona }} {{ subZona.nombreSubZona }}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Lista de Zonas en caso de que sea un edicion -->
      <div *ngIf="esEdicion">
          <div class=" btn">
            <div class="text left">
              <h6>Zonas Disponibles</h6>
            </div>
            <div class="right">
              <i (click)="cambiarMostrarZonas()" *ngIf="!mostrarZonas"
                class="material-icons iconos links ">expand_more</i>
              <i (click)="cambiarMostrarZonas()" *ngIf="mostrarZonas" class="material-icons iconos links">expand_less</i>
            </div>
          </div>
          <div *ngIf="mostrarZonas && !mostrarSubzonasAgregar" class="cajaZonas">
  
            <div class="btn btn-2 btnZona" *ngFor="let zona of listZonas" (click)="getSubZonasAgregar(zona.idZona)">
              <span class="textoAzul"> {{ zona.nombreZona }}</span>
            </div>
          </div>
          <div *ngIf="mostrarZonas && mostrarSubzonasAgregar  " class="cajaZonas">
              <i class="material-icons  links left" style="cursor: pointer" (click)="mostrarSubzonasAgregar=false">arrow_back_ios</i>
              <div (click)="asignarSubZonaAuditoria(this._AuditoriaService.agente,auditoriaEdicion.idAuditoria,zona.idSubZona,this._AuditoriaService.origen,zona)"class="btn btn-2 btnSubZona" *ngFor="let zona of listSubZonasAgregar">
                <span class="textoAzul">{{ zona.nombreSubZona }}</span>
              </div>
          </div>
        </div>
        <!--==============================================-->
      <!-- Lista de SubZonasZonas en caso de que sea un edicion -->
      <div *ngIf="esEdicion">
        <div class=" btn">
          <div class="text left">
            <h6>Zonas Agregadas</h6>
          </div>
          <div class="right">
            <i (click)="cambiarMostrarSubZonas()" *ngIf="!mostrarSubZonas"
              class="material-icons iconos links ">expand_more</i>
            <i (click)="cambiarMostrarSubZonas()" *ngIf="mostrarSubZonas" class="material-icons iconos links">expand_less</i>
          </div>
        </div>
        <div *ngIf="mostrarSubZonas" class="cajaZonas">

          <div (click)="desasignarSubZonaAuditoria(zona)" class="btn btn-2 btnSubZona" *ngFor="let zona of auditoriaEdicion.subZonas">
            <span class="textoAzul">{{ zona.nombreSubZona }}</span>
          </div>
        </div>
      </div>
      <!--==============================================-->
      
      <div class="cajaVariables">
        <div class="btn">
          {{listVarables.length}} Variables
          <div (click)="agregar()" class="btn btnSel right">
            <div class="row left">
              <i class=" col s1 material-icons enLinea">add_box</i>
              <div class="textoAzul2 EnLinea">Agregar variable</div>
            </div>
          </div>
        </div>
        <div #contVars class="contenedorVariables" cdkDropList (cdkDropListDropped)="dragDropListVariables($event)"
          dropListScroller cdkDropList cdkDropListLockAxis="y" cdkDropListOrientation="vertical">
          <!--items variables-->
          <app-variable *ngFor="let varable of listVarables;" cdkDrag vsDragScroll
            cdkDragBoundary=".contenedorVariables" [vsDragScrollContainer]="contVars" [variable]="varable"
            [subZonas]="listsubZonasSeleccionadas" [esEdicionVariable]="esEdicion"
            (variableEditada)="actualizarVariable($event)" (variableCargada)="variableConFotoCargadas($event)"
            (elimiarVariable)="eliminarVariable($event)">
          </app-variable>

        </div>
      </div>
      <div class="row">
        <div class="btn botonNo" (click)="cancelarEdicion()">
          <h6>Cancelar</h6>
        </div>
        <div class="btn botonSi" (click)="guardarAuditoria()">
          <h6>Guardar</h6>
        </div>
      </div>
    </div>
  </form>
</div>

<!--======================================================================-->
<!--=====================INICIO ALERTA DE NUEVA VARIABLE==================-->
<!--======================================================================-->

<div *ngIf="cargar()" class="pantallaCompleta">
  <form [formGroup]="formNuevaVariable" appNgDropFiles (mouseSobre)="estaSobreDrop = $event" [archivos]="archivos">
    <div class="bloqueado">
      <div class="centroPantalla">
        <div class="cajaBordeGris">
          <div class="caja">
            <div class="container">
              <input type="text" placeholder="Nombre" formControlName="nombreVariable" />
            </div>
            <div *ngIf="formNuevaVariable.get('nombreVariable').dirty">
              <div class="red-text" *ngIf="formNuevaVariable.get('nombreVariable').errors?.required">
                Nombre Necesario
              </div>
              <div class="red-text" *ngIf="formNuevaVariable.get('nombreVariable').errors?.minlength">
                El nombre debe ser mayor a 4 caracteres
              </div>

            </div>
            <div *ngIf="formNuevaVariable.get('definicion').dirty">
              <div class="red-text" *ngIf="formNuevaVariable.get('definicion').errors?.required">
                Definicion Necesaria
              </div>
              <div class="red-text" *ngIf="formNuevaVariable.get('definicion').errors?.minlength">
                La definicion debe ser mayor a 9 caracteres
              </div>
            </div>
            <div>
              <div>
                <div>
                  <div class="enLinea3 def-1">
                    <div class="btnAzul-1">Definición:</div>
                  </div>
                  <div class="enLinea3 textoDef-2">
                    <textarea formControlName="definicion" class="cajaTexto2" cols="40" rows="5"></textarea>
                  </div>
                  <div class="enLinea-1 pon-1">
                    <div class="btnAzul-1 ponderacionAzul-1">Ponderación</div>
                    <div class="ponderacionBlanco-1">
                      <input type="number" formControlName="ponderacion" />
                    </div>
                    <div *ngIf="formNuevaVariable.get('ponderacion').dirty">
                      <div class="red-text" *ngIf="formNuevaVariable.get('ponderacion').errors?.required">
                        Ponderacion Necesaria
                      </div>
                      <div class="red-text" *ngIf="formNuevaVariable.get('ponderacion').errors?.min">
                        Ponderacion minima 1
                      </div>
                      <!--                         <div class="red-text"
                          *ngIf="formNuevaVariable.get('ponderacion').errors?.max">
                          Ponderacion maxima 100
                        </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="left evidencia">
                  <div class="enLinea2">
                    <div (click)="cargar()" class="btnAzul-1">
                      Requiere evidencia
                    </div>
                  </div>
                  <br />
                  <div class=" enLinea2 switch">
                    <label>
                      No
                      <input (change)="evidecia = !evidecia" type="checkbox" formControlName="requiereEvidencia" />
                      <span class="lever"></span>
                      Sí
                    </label>
                  </div>
                </div>
                <div *ngIf="evidecia" class="enLinea3 archivos">
                  <div class="file-field input-field ">
                    <div class="btn renglon btnimagen">
                      <i class="material-icons icono2">add_photo_alternate</i>
                      <input (change)="onChange($event)" type="file" multiple />
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate renglon" type="text" placeholder="Upload one or more files" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="evidecia" class="">
            <swiper [config]="config">
              <div *ngFor="let imagen of archivos; let i = index">
                <img [src]="imagen.base64" (click)="removeImage(imagen)" />
              </div>
            </swiper>
          </div>
          <div class="scroll">
            <div class="">
              <div class=" btn">
                <div class="text left">
                  <h6>Sucursales</h6>
                </div>
                <div class="right">
                  <i (click)="cambiarMostrarSucursales()" *ngIf="!mostrarSucursales"
                    class="material-icons iconos links ">expand_more</i>
                  <i (click)="cambiarMostrarSucursales()" *ngIf="mostrarSucursales"
                    class="material-icons iconos links">expand_less</i>
                </div>
              </div>
              <div *ngIf="mostrarSucursales">
                <div class="btn btnSel right">
                  <label class="left center  label">
                    <input class="checkbox right " type="checkbox" [checked]="selecTodasSucursales"
                      (click)="seleccionarTodasSucursales()" />
                    <span class="white-text left"> Seleccionar todas</span>
                  </label>
                </div>
                <br />
                <cdk-virtual-scroll-viewport itemSize="10" class="list-container cajaZonas">
                  <div class="">
                  <app-loading *ngIf="cargandoSucursales"></app-loading>
                  <div class="alinearSucursales" *cdkVirtualFor="let sucursal of listSucursales let i = index; let conteo = count">
                    <label class="white-text ">
                      <input class="checkbox " type="checkbox" [checked]="sucursal.selected"
                        (change)="seleccionarSucursal(sucursal)" />
                      <span> {{ sucursal.nombreSucursal }}</span>
                    </label>
                   </div>
                  </div>
                </cdk-virtual-scroll-viewport>
             
              </div>
            </div>
          </div>

          <div class="">
            <div class="btn botonNo" (click)="cancelarVariable()">
              <h6>Cancelar</h6>
            </div>
            <div class="btn botonSi" (click)="sendVariable()">
              <h6>Guardar</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--======================================================================-->
<!--=====================ALERTA DES-SELECCION DE ZONA=====================-->
<!--======================================================================-->
<div id="modalDeselecZona" class="modal">
  <div class="modal-content">
    <h4>¿Desea Continuar?</h4>
    <p>
      Al momento de deseleccionar una zona tambien las sucursales pertenecientes
      a esta se eliminaran de las variables
    </p>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-small" style="display: inline-block;
      margin-right: 5px;" (click)="
        cancelarDeseleccionSubZona(
          subZonaDeseleccionada,
          idCheckBoxDeseleccionado
        )
      ">Cancelar</a>
    <a class="waves-effect waves-green btn-small"
      (click)="eliminarRelacionSursalesVariable(subZonaDeseleccionada)">Aceptar</a>
  </div>
</div>
<!--======================================================================-->
<!--=====================ALERTA DES-SELECCION DE TODAS LAS ZONAS==========-->
<!--======================================================================-->
<div id="modalDeselecTodasZona" class="modal">
  <div class="modal-content">
    <h4>¿Desea Continuar?</h4>
    <p>
      Al momento de deseleccionar todas las zonas tambien las sucursales pertenecientes
      a estas se eliminaran de las variables
    </p>
  </div>
  <div class="modal-footer">

    <a class="modal-close waves-effect waves-green btn-small" style="display: inline-block;
      margin-right: 5px;" (click)="this.checkTodasZonas.nativeElement.checked = true;">Cancelar</a>

    <a class="waves-effect waves-green btn-small" (click)="eliminarRelacionSursalesVariable(undefined,true)">Aceptar</a>
  </div>
</div>

<!--======================================================================-->
<!--=====================ALERTA ENVIANDO AUDITORIA========================-->
<!--======================================================================-->
<div id="modalEnviandoAuditoria" class="modal">
  <div class="modal-content">
    <h4>Enviando Auditoria</h4>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>

<!--======================================================================-->
<!--=====================ALERTA CARGANDO AUDITORIA========================-->
<!--======================================================================-->
<div id="modalCargandoAuditoria" class="modal">
  <div class="modal-content">
    <h4>Cargando Auditoria</h4>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>

<!--======================================================================-->
<!--=====================ALERTA BORRADOR DE AUDITORIA=====================-->
<!--======================================================================-->
<div id="modalBorrador" class="modal">
  <div class="modal-content center-align">
    <h4>Existe una Auditoria en Borrador</h4>
    <h5>¿Deseas Reanudarla?</h5>


    <div class="container">
      <div class="row">
        <div class="col s12 ">
          <br>
        </div>
      </div>
      <div class="row">

        <div class="col s12 ">

          <button class="btn col s5 btn-large  green darken-1" (click)="cargarBorrador()">
            Sí
          </button>
          <!-- <div class="col s2"> </div> -->
          <button class="btn col s5 offset-s2 btn-large red darken-1" (click)="eliminarBorrador()">
            No
          </button>

        </div>
      </div>

    </div>
  </div>