
.pantallaCompleta{
  z-index: 1;
  display:absolute;
  position:relative ;
}
.btn{
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #e8eaf6;
  padding: 1px;
  padding-top: 0px;
  margin-bottom: 2px;
  max-height: 95px;
  text-transform: none;
}

.botonSi{
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 15px;
  margin-top: 15px;
  width: 35%;
}
.botonNo{
  height: 40px;
  color: aliceblue;
  border: solid 0px;
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  margin-top: 15px;
  background: red;
  width: 35%;
}

.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 40%;
  height: 30%;
  width: 60%;
  margin: 0% 0 0 -20%;
}

.cajaBordeGris{
  background: #e8eaf6;
  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 0px;
  margin-bottom: 15%;
  min-width: 460px;

}
.cajaOpcion{
  width: 100%;
  text-align: right;
  margin-top: -8px;
  padding-right: 10px;

}
.cajaAgregar{
  cursor: pointer;
  color: green;
  text-align: center;
  display:inline-block;
    margin-left:auto;
    margin-right:auto;

}
.nombre{
  width: 50%;
  margin-bottom: -10px;
  margin-left:25%;

}
.selects{
  position: relative;
  padding: 0px 0px 0px 0px;
  margin-top: 10px;
  width: 40%;
  height: 40px;
  margin-bottom: 0px;
  margin-left:30%;

}
.bloqueado{
  top: 0px;
  margin-top: 0px;
  display: absolute;
  position:fixed;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}
.contenedorZonas{
  max-height: 86px;
  min-height: 38px;
  align-items: initial;
  overflow: auto;
}
.textoAzul{
  color: #5c6bc0;
 
}

.label{
  margin-top: -2px;
}
.btnSubZona{
  display: inline-block;
  width: 250px;
  height: 35px;
  background: #e8eaf6;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 10px 0px 0px 5px;
  padding-top: 0px;
  margin: 2px 2px 5px 2px;
  max-height: 35px;
  text-transform: capitalize;
  white-space: nowrap;
}
.btnZona{
  display: inline-block;
  width: 180px;
  height: 35px;
  background: #e8eaf6;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 10px 0px 0px 5px;
  padding-top: 0px;
  margin: 2px 2px 5px 2px;
  max-height: 35px;
  text-transform: capitalize;
}
.btnSel{
  
  width: 180px;
  height: 33px;
  background: #a0a6ca;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 0px 0px 0px 5px;
  margin: 1px 0px 0px 0px;
  max-height: 30px;
  text-transform: capitalize;
}

.cajaZonas{
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  min-height: 80px;
  max-height: 400px;
  padding: 1px 1px 0px 1px;
  border: solid 1px #000;
  
}
.cajaVariables{
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  height: 250px;
  padding: 1px 1px 1px 1px;
  border: solid 1px #000;
}
.contenedorVariables{
  height: 208px;
  align-items: initial;
  overflow: auto;

}
.enLinea{
  display: inline;
  margin-top: -3px;
}
.textoAzul2{
  color: #5c6bc0;
  padding-top:0px; 
  margin-top: -3px;
  width: 150px;
 height: 25px;
 margin-left: 15px;
 
}
::-webkit-scrollbar {
      width: 10px;

}
::-webkit-scrollbar-track {
      background-color: #9fa8da;
      border-radius: 5px;

} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      background-color:#5c6bc0;

      border-radius: 5px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      background-color: #5c6bc0;
      height: 0px;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.renglon{
  padding-left:10px; 
  text-align: start;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 2px;
    max-height: 25px;
    text-transform: none;
    cursor: auto;
    padding-left:10px;
}
input[type="number"]{
  margin-bottom: 0px;
  margin-top: 0px;
  height: 30px;
  text-align: center;
}
.cajaTexto2{
  margin-top: 0px;
  border: solid 1px #5c6bc0;
  max-height: 100px;
  min-height: 100px;
  overflow: auto;
}

.enLinea3{
  margin: 10px 5px 0px 5px;
  display: inline-flex;
}
.def-1{
  width: 20%;
}
.textoDef-1{
  width: 60%;
}
.pon-1{
  width: 15%;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
.enLinea-1{
  margin: 10px 5px 0px 5px;
  display: inline-table;
}
.btnAzul-1{
  border-radius:  2px;
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #c5cae9;
  padding: 1px;
  padding-top: 0px;
  max-height: 95px;
  text-transform: none;
  cursor: auto;
}
.btnBlanco-1{
  text-align: center;
  border-radius:  2px;
  width: 50px;
  background: #c5cae9;
  border: solid 1px #5c6bc0;
  color: #5c6bc0;
  padding: 1px;
  padding-top: 0px;
  max-height: 95px;
  text-transform: none;
  cursor: auto;
}

.ponderacionBlanco-1{
  border-top-left-radius:0px; 
  border-top-right-radius:0px; 
  text-align: center;
  padding-left: 0px;
}
.ponderacionAzul-1{
  border-bottom-left-radius:0px; 
  border-bottom-right-radius:0px; 
}
.evidencia-1{
  width: 200px;
}
.enLinea2{
  display: inline-flex;
  margin-top: 10px;
}
.icono{
  font-size: 16px;
  margin:3px 5px 0px 5px;
}
.btnAzul2{
  border-radius:  2px;
  width: 100%;
  background: #5c6bc0;
  border: solid 1px #5c6bc0;
  color: #c5cae9;
  padding-left: 5px;
  padding-top: 0px;
  margin-right: 10px;
  max-height: 95px;
  text-transform: none;
  cursor: pointer;
}


textarea[type="text"]{
  margin:0px 0px 0px 0px;

}
.caja{
  height: 280px;
  padding-top: 10px;
  border: solid 1px #000;
}

.contenedorsucursales{
  max-height: 86px;
  min-height: 38px;
  align-items: initial;
  overflow: auto;
}
.btnSucursal{
  display: inline-block;
  width: 180px;
  height: 35px;
  background: #e8eaf6;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 10px 0px 0px 5px;
  padding-top: 0px;
  margin: 2px 2px 5px 2px;
  max-height: 35px;
  text-transform: capitalize;
}
.btnSel{
  
  width: 180px;
  height: 33px;
  background: #a0a6ca;
  border: solid 1px #5c6bc0;
  text-decoration-color:  #5c6bc0;
  padding: 0px 0px 0px 5px;
  margin: 1px 0px 0px 0px;
  max-height: 30px;
  text-transform: capitalize;
}

.cajaSucursales{
  background: #9297b6;
  margin-top: 10px;
  width: 100%;
  min-height: 80px;
  max-height: 128px;
  padding: 1px 1px 0px 1px;
  border: solid 1px #000;
}

.cajaImagenes{
  background: #e8eaf6;
  margin-top: -60px;
  border: solid 5px #e8eaf6;
  width: 50%;
  height: 120px;
  margin-left: 25%;
}
.carousel{
  width: 100%;
  height: 120px;
  padding: 0px 0px 0px 0px; 
}
.carousel-item{
  max-height: 110px;;
}
img{

    max-height: 110px;
    max-width: 160px;;
  
}
.btnimagen{
     
  text-align: center;
    width: 30px;
    background: #e8eaf6;
    border: solid 1px #5c6bc0;
    color: #5c6bc0;
    padding: 5px 0px 0px 0px;
    margin-bottom: 2px;
    max-height: 25px;
    text-transform: none;
    cursor: auto;
    padding-left:0px; 
  }
  
  .icono2{
    margin-top: 0px;
    max-height: 24px;
    padding-top: 0px;
    line-height: 24px;
    font-size: 24px;
    line-height: 0rem;

  }
  .file-field .btn, .file-field .btn-large, .file-field .btn-small {
    float: left;
    height: 3rem;
    line-height: 2rem;
}
.archivos{
  width: 60%
}
.textoDef-2{
  width: 60%;
}
.alinearSucursales{
  width: 100%;
  text-align: left;
  padding-left: 10px; 
}