<ul #sideNav id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background" style="background:blue;"></div>
            <a href="#!"><img class="circle" src="./assets/img/mark_roga.png" /></a>
            <a href="#!"><span class="white-text name">{{ userName }}</span></a>
            <a href="#!"><span class="white-text email"></span></a>
        </div>
    </li>
    <div *ngIf="isAdmin" class="">
        <li>
            <a class="link" (click)="mostrarPantalla('areas')"><i class="material-icons">extension</i>Áreas</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('directivos')"><i
          class="material-icons">supervisor_account</i>Directivos</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('subadministradores')"><i
          class="material-icons">supervised_user_circles</i>SubAdministradores</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('zonas')"><i class="material-icons">location_on</i>Zonas</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('reportes')"><i class="material-icons">description</i>Reportes</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
    </div>
    <div *ngIf="isSubAdmin" class="">
        <li>
            <a class="link" (click)="mostrarPantalla('auditores')"><i class="material-icons ">how_to_reg</i>Auditores</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('crearAuditoria')"><i class="material-icons ">add_box</i> Crear
        Auditorias</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('asignacionAuditorias')"><i
          class="material-icons ">directions_walk</i>Auditorías</a>
        </li>
        <li>
            <a class="link" (click)="mostrarPantalla('auditoriasPeriodo')"><i class="material-icons ">storage</i>Auditorias
        del periodo</a>
        </li>

        <li>
            <div class="divider"></div>
        </li>
    </div>

    <li><a class="subheader">Otros</a></li>
    <li>
        <a *ngIf="isAdmin" class="link" (click)="mostrarPantalla('config')"><i
        class="material-icons">settings</i>Configuración</a>
    </li>
    <li>
        <a (click)="closeSession()" href="#!" class="sidenav-close"><i class="material-icons">exit_to_app</i>Cerrar
      sesión</a>
    </li>
    <li>
        <a>Versión 2.0.0</a>
    </li>
</ul>



<nav class="indigo lighten-2">

    <div *ngIf="sideNavVisibleButton()">
        <a data-target="slide-out" style="cursor: pointer" class=" left brand-logo sidenav-trigger show-on-large ">
            <i class="  material-icons">menu</i>
        </a>
    </div>
    <div class="nav-wrapper">

        <ul id="nav-mobile" class="right ">
            <li>{{userName}} <i class=" left material-icons">account_circle</i></li>
            <li><a (click)="closeSession()">Cerrar Sesíon</a></li>
        </ul>

    </div>
</nav>