<div class="pantallaCompleta">
    <div class="bloqueado">
      <div class="centroPantalla">
        <div class="cajaBordeGris">

          <label class="flow-text">Seleccionar formato a descargar</label>
          <div class="container">
            <hr>
            <div>
              <i class="material-icons icono-pdf">picture_as_pd
                <h6>Cancelar</h6>
              </i>
              <div class="btn botonSi">
                <h6>Eliminar</h6>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>