<div class="fondo-negro" *ngIf="openModal">
    <div class="modal show " tabindex="-1" role="dialog" style="display: inline-block">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Documentos Empleo Cliente</h5>
                    <button (click)="closeModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row  ">
                            <div class="col-md-5 offset-3">
                                <br>
                                <div appNgDropFiles [useFormControls]="true" [archivos]="listArchivos" [ngClass]="{'file-over': estaSobreDrop}" (archivoNuevo)="onDropArchivoNuevo($event)" (mouseSobre)="onDrag($event)" class="well drop-zone">
                                    <h4>Arrastre aquí los archivos</h4>
                                    <img src="assets/drop-images.png">
                                </div>
                                <div class="custom-file" style="z-index: 0">
                                    <input (change)="selectImage($event)" type="file" class="custom-file-input" id="customFileLang" placeholder="Seleccionar Archivo" lang="en">
                                    <label class="custom-file-label" for="customFileLang"></label>
                                </div>
                            </div>
                        </div>


                        <form [formGroup]="form">
                            <div class="col-md-12 ">
                                <div class="table-responsive">
                                    <table class="table  table-hover ">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Vista</th>
                                                <th>Nombre Archivo</th>
                                                <th>Comprobante Ingreso</th>
                                                <!--             <th>Progreso</th>
                         -->
                                                <th>Eliminar</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="selecTipoComprobante">

                                            <tr *ngFor="let archivo of listArchivos let i = index">
                                                <td (click)="openPreView(archivo)" class="manita">
                                                    <img [src]=" archivo.base64" width="50px" height="50px">
                                                </td>
                                                <td>{{archivo.nombreArchivo}}</td>
                                                <td>

                                                    <select #selcTipo [formControlName]="i" class="form-control" (change)="archivo.idTipoComprobanteIngreso= selcTipo.value">
                                                        <option  value="-1">--Seleccionar--</option>
                                                        <option *ngFor="let documento of listTiposComprobantesIngresos"
                                                            [value]="documento.id_tipo_comprobante_ingreso">
                                                            {{documento.tipo_comprobante_ingreso}}</option>
                                                    </select>
                                                </td>
                   <!--                              <td>{{archivo.archivo.size / 1024 / 1024 | number:'.2-2'}} MB</td> -->

                                                <td><i class="material-icons text-center" (click)="onClickEliminarDocumento(archivo)" style="font-size: 30px; text-align: center; color: red;cursor: pointer;">
                                                        delete_outline
                                                    </i></td>


                                            </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </form>

                        <div class="col-md-3 offset-9">
                            <div class="form-row">
                                <div class="form-group col-md-1.5">
                                    <button type="button" (click)="onClickLimpiar()" class="btn btn-outline-danger btn-sm">Limpiar</button>

                                </div>
                                <div class="form-group col-md-1.5">
                                    <button type="button" (click)="setDocumentos()" class="btn btn-outline-success btn-sm">Guardar</button>

                                </div>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-prew [archivo]="archivoSeleccionado" (close)="preView=false" [show]="preView"></app-modal-prew>

<app-modal-guardar [openModal]="openModalConfirm" [dataInput]="dataInputModalConfirm" [esNuevaSolcitud]="false" (dataGuardar)="onConfirmModal($event)"></app-modal-guardar>