
.cajaBordeGris{
  background: #e8eaf6 ;
  border:solid 5px #e8eaf6;
  border-radius:15px;
  box-shadow: 8px 8px 10px 0px #818181;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10%;
  min-width: 300px;
}

.bloqueado{
  z-index: 1;
  display: absolute;
  position:fixed;
  top: 0px;
  width: 100%;
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}

.botonSi{
  background: green;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 50%
}
.botonNo{
  border-top-right-radius:  0px;
  border-bottom-right-radius: 0px;
  background: red;

  width: 50%;
}
.enLinea{
  display: inline-block;
}
.inputs{
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 0px;
}


.rangos{
  padding: 0px;
  width:30%;
}

.mensaje{
  width:60%;
}
.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 17%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: 0% 0 0 -25%;
}
.centroPantallaMnus{

  text-align: center;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 40%;
  height: 45%;
  max-height: 90%;
  width: 70%;
  margin: -15% 0 0 -25%;
}
.cajaOpcion{
  width: 100%;
  text-align: right;
  margin-top: -8px;
  padding-right: 10px;
    box-shadow:0px 0px 0px 0px  #e8eaf6;

}
.cajaAgregar{
  cursor: pointer;
  color: green;
  text-align: center;
  display:inline-block;
    margin-left:auto;
    margin-right:auto;
    box-shadow:0px 0px 0px 0px  #e8eaf6;

}
