<div *ngIf="mostrarAgregar" class="pantallaCompleta">
  <div class="bloqueado">
    <div *ngIf="mostrarConfirmar" class="pantallaCompleta">
      <div class="bloqueado">
        <div class="centroPantalla">
          <div class="cajaBordeGris">
            <label class="flow-text">¿Desea Guardar el rango?</label>

            <div class="container">
              <div class="row">
                <div
                  (click)="mostrarConfirmar = false"
                  class="waves-effect waves-light  btn botonNo"
                >
                  <h6>Cancelar</h6>
                </div>
                <div
                  (click)="
                    mostrarConfirmar = false;
                    mostrarAgregar = false;
                    setNuevoRango(minVal.value, maxVal.value, mensaje.value)
                  "
                  class="waves-effect waves-light  btn botonSi"
                >
                  <h6>Guardar</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <form [formGroup]="formNuevoRango" (ngSubmit)="alertConfirmar()">
          <label class="flow-text">Agregar un rango</label>
          <div class="">
            <div class="container">
              <hr />
            </div>

            <div class="">
              <div class="">
                <div class="enLinea">
                  <div class=" enLinea inputs">
                    <div class=" input-field ">
                      <input
                        #minVal
                        formControlName="minValue"
                      
                        class=" validate "
                        type="number"
                        id="min"
                        min="0"
                        max="100"
                      />
                      <label class="etiqueta" for="min">min</label>
                    </div>
                  </div>
                  <div class="enLinea inputs">
                    <div class="input-field ">
                      <input
                        #maxVal
                        formControlName="maxValue"
                        class=" validate "
                        type="number"
                        id="max"
                        min="0"
                        max="100"
                      />
                      <label class="" for="max">max</label>
                    </div>
                  </div>
                  <div class="red-text" *ngIf="rangoNoAceptado()">
                    Rango Invalido
                  </div>
                </div>
                <div class=" mensaje enLinea inputs">
                  <div class="input-field">
                    <input
                      #mensaje
                      formControlName="mensaje"
                      class=" validate "
                      type="text"
                      id="mensaje"
                    />
                    <label class="" for="mensaje">Mensaje</label>
                  </div>
                  <div
                    class="red-text"
                    *ngIf="formNuevoRango.get('mensaje').dirty && formNuevoRango.get('mensaje').errors?.required"
                  >
                    Mensaje Obligatorio
                  </div>
                  <div
                    class="red-text"
                    *ngIf="formNuevoRango.get('mensaje').errors?.minlength"
                  >
                  Mensaje Demasiado Corto
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <button (click)="mostrarAgregar = false" class="btn  botonNo">
                <h6>Cancelar</h6>
              </button>
              <button type="submit" class="btn  botonSi">
                <h6>Guardar</h6>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="pantallaCompleta">
  <div class="centroPantalla">
    <div class="cajaBordeGris">
      <div class="cajaOpcion ">
        <div (click)="alertAgrergarRango()" class="cajaAgregar">
            <i class="material-icons ">add_circle </i>
        </div>
      </div>
      <label class="flow-text">Matriz de Calificaciones</label>
      <div class="container">
        <hr />

      </div>
      <div *ngFor="let rang of listRangos">
        <app-rango [rango]="rang"></app-rango>
      </div>
    </div>
  </div>
</div>
