<div class="centroPantalla">

  <div class="">

    <div class="cajaBordeGris">

      <i style="padding-right: 10px; " class="right green-text material-icons cPointer"
        (click)="getListaAsiganaciones(true)">
        refresh
      </i>

      <label class="flow-text ">Auditorias de Periodo</label>
      <hr />
      <div class="titulos">
        <div class="textoID">
          ID
        </div>
        <div class="textosTitulosNombre">
          Nombre Auditoria
        </div>
        <div class="textosTitulosAuditor">
          Auditor
        </div>
        <div class="textosTitulos">
          Sucursal
        </div>
        <div class="textosTitulos">
          Estado
        </div>
        <div class="textosTitulos">
          Fecha
        </div>
        <div class="textosTitulos">
          Calificación
        </div>
        <div class="textosTitulosCuadro">
          <div class=" input-field combo">
            <select #refFiltro (change)="filtroAuditorias($event.target.value)" class="browser-default"
              style="background: #5c6bc0">
              <option value="Todas">Todas</option>
              <option value="Reasignada">Reasignada</option>
              <option value="Asignada">Asignada</option>
              <option value="En proceso">En proceso</option>
              <option selected="selected" value="Pendiente">Pendiente</option>
              <option value="Aprobada">Aprobada</option>
              <option value="Rechazada">Rechazada</option>
            </select>

          </div>
        </div>
      </div>
      <!--items-->
      <!--   <app-loading *ngIf="cargandoAuditorias"></app-loading>
      <cdk-virtual-scroll-viewport itemSize="50" class="list-container">
        <app-auditoper-item *cdkVirtualFor="let auditoria of listAuditoriasFiltradas; let i = index; let conteo =count"
          [auditoria]="auditoria" (acutualizarListaAsignaciones)="getListaAsiganaciones(false)">
        </app-auditoper-item>
      </cdk-virtual-scroll-viewport> -->

      <app-loading *ngIf="cargandoAuditorias"></app-loading>

          <app-auditoper-item *ngFor="let auditoria of listAuditoriasFiltradas" [auditoria]="auditoria"
        (acutualizarListaAsignaciones)="getListaAsiganaciones(false)">
      </app-auditoper-item>

    </div>
  </div>
</div>

