<h3>
    Datos Personales del Aval

</h3>



<form class="col-md-12 ">


    <!--     was-validated
 -->
    <div class="form-group  ">
        <label>Nombre Cliente</label>
        <input type="text" class="form-control" placeholder="Nombre" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Apellido Paterno</label>
            <input type="text" class="form-control" placeholder="Apellido Paterno">
        </div>
        <div class="form-group col-md-6">
            <label>Apellido Materno</label>
            <input type="text" class="form-control" placeholder="Apellido Materno">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Fecha de Nacimiento</label>
            <input type="date" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label>RFC</label>
            <input type="text" class="form-control" placeholder="RFC">
        </div>
    </div>
    <div class="form-row ">
        <div class="form-group col-md-6">
            <label>Estado Civil</label>
            <select class="form-control">
        <option selected>--Seleccionar Edo.Civil--</option>
        <option *ngFor="let edoCivil of listTiposEdoCivil" [value]="edoCivil.id_tipo_estado_civil">
          {{edoCivil.tipo_estado_civil}}</option>
      </select>
        </div>

        <div class="col-md-6">
            <div class="form-group" style="margin-top: 7% !important">
                <label for="customRadioInline1"> Genero: </label>

                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">F</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline2" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">M</label>
                </div>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Teléfono Celular</label>
            <input type="tel" class="form-control" placeholder="Celular">
        </div>
        <div class="form-group col-md-6">
            <label>Teléfono Casa </label>
            <input type="tel" class="form-control" placeholder="Casa">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label> ¿Cuenta con un empleo?</label>
                <br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customControlValidation2" name="radio-stacked">
                    <label class="custom-control-label" for="customControlValidation2">Sí</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input" id="customControlValidation3" name="radio-stacked">
                    <label class="custom-control-label" for="customControlValidation3">No</label>
                    <div class="invalid-feedback">More example invalid feedback text</div>
                </div>

            </div>
        </div>

    </div>





    <div class="col-md-4 offset-8" style="margin-top: -10px; margin-left:72%">
        <div class="form-row">
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-danger btn-lg">Limpiar</button>

            </div>
            <div class="form-group col-md-1.5">
                <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>

            </div>
        </div>
    </div>
</form>