<h3>
    Datos Empleo Conyuge Cliente

</h3>

<form>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Tipo de Empleo</label>
            <select id="inputState" class="form-control">
        <option selected>--Selecciona Tipo Empleo--</option>
        <option *ngFor="let empleo of listEmpleos" [value]="empleo.id_tipo_empleo">{{empleo.tipo_empleo}}</option>
      </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Empresa</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Empresa" aria-label="Search">

        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Empleo/Profesion</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Empleo/Profesion" aria-label="Search">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="inputState">Puesto</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Puesto">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Ingreso Mensual</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Empresa" aria-label="Search">

        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Teléfono</label>
            <input class="form-control mr-sm-2" type="text" placeholder="Empleo/Profesion" aria-label="Search">
        </div>
    </div>

    <div class="form-row">

        <div class="form-group col-md-3">
            <label for="inputState">Antiguedad en el Empleo</label>
            <input type="number" class="form-control" id="inputAddress" placeholder="Años">
        </div>
        <div class="form-group col-md-3">

            <label for="inputState"> &nbsp;</label>

<<<<<<< HEAD
            <input type="number" class="form-control" id="inputAddress" placeholder="Meses">
        </div>

        <div class="form-group col-md-3 text-center" style="margin-top: 0%">
            <i class="material-icons " style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
            <br>
            <label for="exampleFormControlFile1">Agregar Documentos Empleo</label>
=======
      <input type="number" class="form-control" id="inputAddress" placeholder="Meses">
    </div>
<<<<<<< HEAD
=======

>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
    <div class="form-group col-md-3 text-center" style="margin-top: 0%">
      <i class="material-icons " style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
      <br>
<<<<<<< HEAD
      <label for="exampleFormControlFile1">Agregar Otro empleo</label>
     
        <button style="margin-top: -38%" type="button" class="btn offset-11  btn-outline-success btn-lg">Guardar</button>
  
=======
      <label for="exampleFormControlFile1">Agregar Documentos Empleo</label>
>>>>>>> e5cb9a681068a325156607c2675d582767817245

        </div>
        <div class="form-group col-md-3 text-center" style="margin-top: 0%">
            <i class="material-icons" (click)="openModaldDomicilioEmpleo=true" style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
            <br>
            <label for="exampleFormControlFile1">Agregar Domicilio Empleo</label>

        </div>
    </div>

    <div class="form-row">


    </div>
    <div class="row  align-items-end">
        <div class="col-md-3 offset-9">
            <div class="form-row">
                <div class="form-group col-md-1.5">
                    <button type="button" class="btn btn-outline-danger btn-lg">Limpiar</button>

                </div>
                <div class="form-group col-md-1.5">
                    <button type="button" class="btn btn-outline-success btn-lg">Guardar</button>

                </div>
            </div>
        </div>
<<<<<<< HEAD
=======
      </div>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
>>>>>>> e5cb9a681068a325156607c2675d582767817245
    </div>
</form>

<app-modal-domicilio-empleo-conyuge [openModal]="openModaldDomicilioEmpleo" (dataDomicilioEmpleo)="respDataModalEmpleoConyuge($event)">
</app-modal-domicilio-empleo-conyuge>



<!-- Flexbox container for aligning the toasts -->
<<<<<<< HEAD
<!-- <div class="fondo-negro">
=======
<<<<<<< HEAD
<!--<div class="fondo-negro">
=======
<div class="fondo-negro">
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
>>>>>>> e5cb9a681068a325156607c2675d582767817245
  <div class="toast show" style="position: absolute; top: 0; right: 0;">
    <div class="toast-header">
      <img src="..." class="rounded mr-2" alt="...">
      <strong class="mr-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
<<<<<<< HEAD
</div> -->
=======
<<<<<<< HEAD
</div>-->
=======
</div>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
>>>>>>> e5cb9a681068a325156607c2675d582767817245
