<div class="centroPantalla ">
  <div class="cajaBordeGrisd">
    <div style="text-align: center; font-size:25px; color: blue ">
      <b>Agregar domicilio</b>
      <hr>
    </div>

    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Estado: </label>
        <div class="input-field inline">
          <select (change)="getCiudades($event.target.value)" class="browser-default" style="background: #eeeeee;height:30px">
            <option value="1">Seleccionar Estado</option>
            <option *ngFor="let estados of listEstados" [value]="estados.estado" >{{estados.nombre_estado}}</option>
          </select>
        </div>
      </div>

      <div class="col s6 ">
        <label style="color: black; font-size:20px">Ciudad:</label>
        <div class="input-field inline">
          <select (change)="getColonias($event.target.value)" class="browser-default" style="background: #eeeeee;height:30px">
            <option value="1">Seleccionar Ciudad</option>
            <option *ngFor="let ciudad of listCiudades"  [value]="ciudad.municipio">{{ciudad.nombre_municipio}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row left-align">

      <div class="col s6 ">
        <label style="color: black; font-size:20px">Colonia: </label>
        <div class="input-field inline">

    
            <input type="text" placeholder="Colonias" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto" >
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let colonia of filteredOptions | async" [value]="colonia.nombre.trim()" [value]="colonia"  (onkeyup)="showCp(colonia)" (onSelectionChange)="showCp(colonia)" >
                {{colonia.nombre}}
              </mat-option>
            </mat-autocomplete>
        </div>

      <div class="col s3 ">
        <div class="input-field inline up">
          <label style="color: black; font-size:20px">C.P.</label>
        </div>
      </div>
      <div class="col s3">
        <div class="input-field inline margin">

          <label style="font-size:17px">{{cp}}</label>

        </div>
      </div>
    </div>

    <div class="row left-align">
      <div class="col s6 ">
        <label style="color: black; font-size:20px">Calle:</label>
        <div class="input-field inline validate" style="width: 255px;">
          <input>
        </div>
      </div>

      <div class="col s6 ">
        <label style="color: black; font-size:20px">No. Exterior:</label>
        <div class="input-field inline validate" style="width: 115px;">
          <input>
        </div>
      </div>
    </div>


   



    <div class="row left-align">
      <div class="col s12 ">
        <label style="color: black; font-size:20px">Referencias:</label>
        <div class="input-field inline validate" style="width: 755px;">
          <input>
        </div>
      </div>



    </div>

    <div class="btn center-align down" (click)="mostrarGuardar=true" style="background: blue; width: 300px">Guardar</div>
  </div>


<div *ngIf="mostrarGuardar" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <b class="flow-text">¿Desea guardar el domicilio del empleo
          ?</b>
        <div class="container">
          <hr>
          <div class="row">
            <div class="col s6">
              <div (click)="mostrarGuardar= false;" class="btn botonNo" style="background: red; width: 200px">
                <h6>No</h6>
              </div>
            </div>
            <div class="col s6">
              <a class="btn botonSi" style="background: green; width: 200px"
                href="http://localhost:4200/#/agregar">Si</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div *ngIf="mostrarGuardarDocumentos" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantalla">
      <div class="cajaBordeGris">
        <b class="flow-text">¿Desea guardar este documento?</b>
        <div class="container">
          <hr>
          <div class="row">
            <div class="col s6">
              <div (click)="mostrarGuardarDocumentos= false;" class="btn botonNo" style="background: red; width: 200px">
                <h6>No</h6>
              </div>
            </div>
            <div class="col s6">
              <a class="btn botonSi" style="background: green; width: 200px"
              (click)="mostrarGuardarDocumentos= false; mostrarTipoDocumento=false">Si</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  </div>
