<div class="centroPantalla ">
  <div class="cajaBordeGrisd">
    <div class="row left-align ">
      <div class="flow-text">

        <div class="col s6">
          <label style="color: blue; font-size:20px">No. Solicitud:</label>
          <label class="flow-text2" style=" font-size:20px">2021</label>
        </div>

        <div class="col s6">
          <label style="color: blue; font-size:20px">Fecha de registro: </label>
          <label class="flow-text2" style=" font-size:20px">{{fechcaRegistro}}</label>
        </div>


      </div>

      <div class="row left-align">
        <div class=" input-field inline col s6 ">
          <label style="color: blue; font-size:20px">Tipo cliente: </label>
          <div class="input-field inline margen ">
            <select class="browser-default" style="background: #eeeeee;height:30px">
              <option value="1">Seleccione el tipo cliente</option>
              <option *ngFor="let tipoCliente of listTiposCliente">{{tipoCliente.tipo_cliente}}</option>
            </select>
          </div>
        </div>

        <div class=" input-field inline col s6">
          <input type="text" class="validate">
          <label style="color: blue; font-size:20px">Clasificación:</label>

        </div>
      </div>
      <hr class="hr">
    </div>
    <form [formGroup]= "formularioCliente" (ngSubmit)="enviarInfoCliente()" [noValidate]="false"  >
      <div class="row left-align">
        <div class="input-field col s8 ">
          <input formControlName="textNombreCliente" type="text" class="validate" required >
          <label style="color: black">Nombre del cliente:</label>
        </div>
        <div class="center-align ">
          <b class="center-align" style="color: blue;font-size: 15px">CAPTURAR INE</b>
        </div>
      </div>

      <div class="row left-align up ">
        <div class=" col s8 left">
          <div class="input-field col s4 ">
            <input formControlName="textApellidoPaterno" type="text" class="validate" required>
            <label style="color: black">Apellido Paterno:</label>
          </div>

          <div class="input-field col s4 ">
            <input  formControlName="textApellidoMaterno"type="text" class="validate" required>
            <label style="color: black">Apellido Materno:</label>
          </div>
        </div>

        <div class="  col s4 center-align frente ">
          <b style=" color: black; font-size:15px">Frente</b>
          <img class="materialboxed" src="assets/img/fren.png">
        </div>

      </div>


      <div class="row left-align up">
        <div class="input-field col s4 ">
          <label style="color: black">Fecha de nacimiento</label>
        </div>
      </div>


      <div class="row left-align ec">

        <div class="input-field  col s4  ">
          <input  formControlName="textFechaNacimiento" #datePicker type="date" class="datepicker-modal " required/>
        </div>

        <div class="input-field col s4 ">
          <input formControlName="textRFC" type="text" class="validate" required>
          <label style="color: black">RFC: </label>
        </div>
      </div>

      <div class="row left-align up">
        <div class="col s8">
          <div class="col s4 ">
            <div class="input-field inline left ">

              <select  class="browser-default" #selectEsdoCivil (change)="selectEstadoCivil(selectEsdoCivil.value)"  style="background: #eeeeee;height:30px">
                <option value="0">Seleccione estado civil</option>
                <option *ngFor="let edoCivil of listEstadoCivil"  [value]="edoCivil.id_tipo_estado_civil">{{edoCivil.tipo_estado_civil}} </option>
              </select>
            </div>
          </div>

          <div class="col s4 upd ">
            <label style="color: black; font-size:20px">Genero: </label>
            <div class="input-field inline">
              <p>
                <label>
                  <input name="group1" type="radio" checked />
                  <span>F</span>
                </label>
                <label>
                  <input name="group1" type="radio" checked />
                  <span>M</span>
                </label>
              </p>
            </div>
          </div>
        </div>

        <div class="col s4 center-align reverso">
          <b style=" color: black; font-size:15px">Reverso</b>
          <img class="materialboxed" src="assets/img/rever.png">
        </div>

      </div>

      <div class="row left-align">
        <div class="input-field col s8 up">
          <input formControlName="textTelefonoCelular" type="text" class="validate">
          <label style="color: black">Teléfono Celular: </label>
        </div>
      </div>

      <div class="row left-align">
        <div class="input-field col s8 up">
          <input formControlName="textTelefonoCasa"type="text" class="validate">
          <label style="color: black">Teléfono Casa: </label>
        </div>


        <div class="input-field col s4 center-align up">
          <button  type="submit" class="btn" style="background: blue; width: 200px">Siguiente </button>
        </div>
      </div>
    </form>


    </div>
  </div>

 
 <div *ngIf="mostrarConyuge" class="pantallaCompleta">
  <div class="bloqueado">
    <div class="centroPantallaf">
      <div class="cajaBordeGris">
        <b class="flow-text">Datos del conyuge del cliente</b>
          <hr>
          <div class="row left-align">
            <div class="input-field col s8 ">
              <input formControlName="textNombreCliente" type="text" class="validate" required >
              <label style="color: black">Nombre del cliente:</label>
            </div>
            <div class="center-align ">
              <b class="center-align" style="color: blue;font-size: 15px">CAPTURAR INE</b>
            </div>
          </div>
    
          <div class="row left-align up ">
            <div class=" col s8 left">
              <div class="input-field col s4 ">
                <input formControlName="textApellidoPaterno" type="text" class="validate" required>
                <label style="color: black">Apellido Paterno:</label>
              </div>
    
              <div class="input-field col s4 ">
                <input  formControlName="textApellidoMaterno"type="text" class="validate" required>
                <label style="color: black">Apellido Materno:</label>
              </div>
            </div>
    
            <div class="  col s4 center-align frente ">
              <b style=" color: black; font-size:15px">Frente</b>
              <img class="materialboxed" src="assets/img/fren.png">
            </div>
    
          </div>
    
    
          <div class="row left-align up">
            <div class="input-field col s4 ">
              <label style="color: black">Fecha de nacimiento</label>
            </div>
          </div>
    
      
            <div class="row left-align ec">
      
              <div class="input-field  col s4  ">
                <input  formControlName="textFechaNacimiento" #datePicker type="date" class="datepicker-modal " required/>
              </div>
      
              <div class="input-field col s4 ">
                <input formControlName="textRFC" type="text" class="validate" required>
                <label style="color: black">RFC: </label>
              </div>
            </div>
      
            <div class="row left-align up">
              <div class="col s8">
                  <label style="color: black; font-size:20px">Genero: </label>
                  <div class="input-field inline">
                    <p>
                      <label>
                        <input name="group1" type="radio" checked />
                        <span>F</span>
                      </label>
                      <label>
                        <input name="group1" type="radio" checked />
                        <span>M</span>
                      </label>
                    </p>
                  </div>
              </div>
            </div>

            <div class="row left-align up">
              <div class="col s8">
                  <label style="color: black; font-size:20px">¿Cuenta con un empleo? </label>
                  <div class="input-field inline">
                    <p>
                      <label>
                        <input name="group1" type="radio" checked />
                        <span>F</span>
                      </label>
                      <label>
                        <input name="group1" type="radio" checked />
                        <span>M</span>
                      </label>
                    </p>
                  </div>
              </div>
            </div>

      
              <div class="col s4 center-align reverso">
                <b style=" color: black; font-size:15px">Reverso</b>
                <img class="materialboxed" src="assets/img/rever.png">
              </div>
      
            </div>
      
            <div class="row left-align">
              <div class="input-field col s8 up">
                <input formControlName="textTelefonoCelular" type="text" class="validate">
                <label style="color: black">Teléfono Celular: </label>
              </div>
            </div>
      
          <div class="container">
          <div class="row center-align">

            <div class="col s6">
              <div (click)="mostrarConyuge= false;" class="btn botonNo" style="background: red; width: 300px">
                <h6>Cancelar</h6>
              </div>
            </div>

            <div class="col s6">
                <div (click)="mostrarGuardarCasa= true;" class="btn botonNo" style="background: green; width: 300px">
                    <h6>Guardar</h6>
            </div>

          </div>
        </div>
        </div>




      </div>
    </div>
</div>



