.bloqueado{
  top: 0%;
  left: 0%;
  position:fixed;
  width: 100%;
 
  background: rgba(100,100, 100, 0.5);
  min-height: 100%;
  overflow: auto;
}

.centroPantalla{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 40%;
  height: 30%;
  width: 70%;
  margin: -15% 0 0 -25%;
}
.centroPantallaf{
  text-align: center;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 40%;
  height: 50%;
  width: 80%;
  margin: -15% 0 0 -25%;
}
  .centroPantallaMnus{
  
    text-align: center;
    margin: auto;
    position: absolute;
    top: 40%;
    left: 40%;
    height: 45%;
    max-height: 90%;
    width: 70%;
    margin: -15% 0 0 -25%;
  }
  .links{
    cursor: pointer;
  }
  

  .cajaBordeGrisd{
  
    border:solid 5px #e8eaf6;
    border-radius:15px;
    box-shadow: 8px 8px 10px 0px #818181;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10%;
    min-width:1000px;
  
  }
  .cajaBordeGris{
    background: #e8eaf6 ;
    border:solid 5px #e8eaf6;
    border-radius:15px;
  }
  .cajaBordeGrisf{
    background: #e8eaf6 ;
    border:solid 5px #e8eaf6;
    border-radius:15px;
    height: 50%;
    width: 80%;
  }
  .flow-text{
    padding-top: -60px !important;
  }
  .flow-text2{
    margin-left: 5px
  }
  .down{
margin-top: 30px;
border-radius:15px;

  }
 .hr {
    background-color: Blue;
    height: 2px;
    border: 0;
   
    }
  .up{
    margin-top: -20px;
  }
  .upd{
    margin-top: -10px;
  }
  .frente{
    margin-top: -50px;
  }
  .reverso{
    margin-top: -90px;
  }.ec{
    margin-top: 3px
  }
  .left{
    margin-left: -10px
  }.rigth{
    margin-left: 200px;
  }.margen{
    margin-left: 120px
  }
  .abajo{
    margin-top: 13px;
  }
  
  
  /* label color */
   .input-field label{
     color: gray;
   }
   .input-field i{
     color: gray;
   }
  
    /* label focus color */
    .input-field input[type=password]:focus + label {
      color: blue;
    }
    .input-field input[type=text]:focus + label {
      color: blue;
    }
    /* label underline focus color */
    .input-field input[type=text]:focus {
      border-bottom: 1px solid blue;
      box-shadow: 0 1px 0 0 gray;
  }
  /* label underline focus color */
  .input-field input[type=password]:focus {
    border-bottom: 1px solid blue;
    box-shadow: 0 1px 0 0 gray;
  }
  /* icon prefix focus color */
    .input-field .prefix.active {
      color: blue;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid gray;
    box-shadow: 0 0px 0 0 blue;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 0 0 blue;
  }
  /* valid color */
  .input-field input[type=password].valid {
    border-bottom: 1px solid gray;
    box-shadow: 0 0px 0 0 gray;
  }
  /* invalid color */
  .input-field input[type=password].invalid {
    border-bottom: 1px solid gray;
    box-shadow: 0 0px 0 0 blue;
  }
  