<!-- Modal Structure -->
<div #modal id="modal1" class="modal">
  <div class="modal-content">
    <h6 class="flow-text">¿Desea Aprobar esta Auditoria?</h6>
  </div>
  <div class="modal-footer">

    <a (click)="onDenyClick()" class="btn btn-flat" style="color: red">Cerrar</a>
    <a (click)="onConfrimClick()" class="btn btn-flat" style="color: green">Aprobar</a>
  </div>
</div>