<h3>
  Datos Empleo del Cliente

</h3>

<form>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Tipo de Empleo</label>
      <select id="inputState" class="form-control">
        <option selected>--Seleccionar Tipo Empleo--</option>
        <option *ngFor="let empleo of listEmpleos" [value]="empleo.id_tipo_empleo">{{empleo.tipo_empleo}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Empresa</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empresa" aria-label="Search">

    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Empleo/Profesion</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Empleo/Profesion" aria-label="Search">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputState">Puesto</label>
      <input class="form-control mr-sm-2" type="text" placeholder="Puesto">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Ingreso Mensual</label>
      <input class="form-control mr-sm-2" type="text" placeholder="0.0">

    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Teléfono</label>
      <input class="form-control mr-sm-2" type="tel" placeholder="Teléfono" aria-label="Search">
    </div>
  </div>

  <div class="form-row">

    <div class="form-group col-md-3">
      <label for="inputState">Antiguedad en el Empleo</label>
      <input type="number" class="form-control" id="inputAddress" placeholder="Años">
    </div>
    <div class="form-group col-md-3">

      <label for="inputState"> &nbsp;</label>

      <input type="number" class="form-control" id="inputAddress" placeholder="Meses">
    </div>

    <div class="form-group col-md-3 text-center" style="margin-top: 0%">
      <i class="material-icons " style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
      <br>
<<<<<<< HEAD
      <label for="exampleFormControlFile1">Agregar Otro empleo</label>
     
        <button style="margin-top: -38%" type="button" class="btn offset-11  btn-outline-success btn-lg">Guardar</button>
  
    </div>
   
    
  </div>


  

</form>

=======
      <label for="exampleFormControlFile1">Agregar Documentos Empleo</label>

    </div>
    <div class="form-group col-md-3 text-center" style="margin-top: 0%">
      <i class="material-icons " (click)="openModaldDomicilioEmpleo=true"
        style="font-size: 48px !important; color: blue;cursor: pointer;">
        add_circle
      </i>
      <br>
      <label for="exampleFormControlFile1">Agregar Domicilio Empleo</label>

    </div>
  </div>


  <div class="col-md-3 offset-9">
    <div class="form-row">
      <button type="button" class="btn  btn-outline-danger btn-lg custom-control-inline"
        data-dismiss="modal">Limpiar</button>
      <button type="button" class="btn  btn-outline-success btn-lg">Guardar</button>
    </div>

  </div>

</form>

<app-modal-domicilio-empleo [openModal]="openModaldDomicilioEmpleo"
  (dataDomicilioEmpleo)="resposeDataDomiclioEmpleo($event)"></app-modal-domicilio-empleo>
>>>>>>> 4e21c2dcb6d974a010f5ae6a0d9a461c79ff3ba4
