<div class="">
  <div class=" btn">
    <div class="right">
      <i (click)="cambiarMostrar();" *ngIf="!mostrar"class="material-icons iconos links ">expand_more</i>
      <i (click)="cambiarMostrar();" *ngIf="mostrar"class="material-icons iconos links">expand_less</i>
    </div>
    <div class="left">
      <h6>{{area.nombreArea}}</h6>
    </div>
  </div>
  <div *ngIf="mostrar" class="cajaBordeAzul">
    <div class="row">
      <div class="col s6">
        <p class="textoAzul">Disponibles</p>
      </div>
      <div class="col s6">
        <p class="textoAzul">Asignados</p>
      </div>

    </div>
    <div class="row">

    
      <div class=" cajaBordeAzulChica col s6">
        <ul *ngFor="let directivo of listDirectivosSinArea;">
          <li (click)="asignarDirectivo(directivo)" class="btn links">
          {{directivo.nombre}}
          </li>
        </ul>


      </div>
      <div class=" cajaBordeAzulChica col s6 ">
          <ul *ngFor="let directivo of listDirectivosArea;">
            <li (click)="desAsignarDirectivo(directivo.idDirectivoArea)" class="btn links">
            {{directivo.nombre}}
            </li>
  
          </ul>
        </div>
    </div>



  </div>

</div>
