<h3>
  Datos Empleo del Aval
</h3>

<form>
  <div class="form-row">
      <div *ngIf="tipoEmpleo" class="form-group col-md-4">
          <label for="inputState">Tipo de Empleo</label>

          <select #selectTipoEmpleo (change)="onSelectTipoEmpleo(selectTipoEmpleo.value)" id="inputState" class="form-control">

              <option selected>--Seleccionar Tipo Empleo--</option>

              <option *ngFor="let empleo of listEmpleos" [value]="empleo.id_tipo_empleo">{{empleo.tipo_empleo}}
              </option>

          </select>

      </div>
      <div *ngIf="tipoIngreso" class="form-group col-md-4">
          <label for="inputState">Tipo de Ingreso</label>
          <select #selectTipoIngreso id="inputState2" class="form-control">
              <option selected>--Selecciona Tipo Ingreso--</option>
              <option *ngFor="let ingreso of listOtrosIngresos" [value]="ingreso.id_tipo_ingreso">
                  {{ingreso.tipo_ingreso}}
              </option>
          </select>
      </div>

      <div *ngIf="empresa" class="form-group col-md-4">

          <label for="inputState">Empresa</label>

          <input #edtEmpresa class="form-control mr-sm-2" type="text" >
      </div>

      <div *ngIf="tipoEmpleoInformal" class="form-group col-md-4">

        <label for="inputState">Tipo de Empleo Informal*</label>

        <select #selecTipoEmpleoInformal (change)="onSelectTipoEmpleoInformal(selecTipoEmpleoInformal.value)"
            id="inputState2" class="form-control">
            <option [value]="-1" selected>--Seleccionar Tipo Empleo--</option>
            <option *ngFor="let informal of listEmpleoInformal" [value]="informal.id_tipo_empleo_informal">
                {{informal.tipo_empleo_informal}}</option>
        </select>
    </div>

      <div *ngIf="empleo" class="form-group col-md-4">

          <label for="inputState">Empleo/Profesión</label>

          <input #edtEmpleo class="form-control mr-sm-2" type="text"  aria-label="Search">

      </div>
      <div *ngIf="otros" class="form-group col-md-4">
        <label for="inputState">Nombre del empleo*</label>
        <input #edtOtros class="form-control mr-sm-2" type="text" aria-label="Search">
    </div>

    <div *ngIf="empresa2" class="form-group col-md-4">
        <label for="inputState">Empresa*</label>
        <input #edtEmpresa2 class="form-control mr-sm-2" type="text" aria-label="Search">
    </div>

  </div>

  <div class="form-row">

      <div *ngIf="puesto" class="form-group col-md-4">

          <label for="inputState">Puesto</label>

          <input #edtPuesto class="form-control mr-sm-2" type="text" >

      </div>

      <div class="form-group col-md-4">

          <label for="inputState">Ingreso Mensual</label>

          <input #edtIngresoMensual class="form-control mr-sm-2" type="number" [value]="0">



      </div>

      <div *ngIf="telefono" class="form-group col-md-4">

          <label for="inputState">Teléfono</label>

          <input #edtTelefono class="form-control mr-sm-2 phone"  type="number" maxlength="10" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" aria-label="Search">

      </div>

  </div>



  <div class="form-row">
      <div class="form-group col-md-3">
          <label for="inputState">Antigüedad en el Empleo</label>
          <input #edtAnos type="number" class="form-control" id="inputAddress" [value]="0">
          <label style="margin-left: 3%">Años</label>
      </div>

      <div class="form-group col-md-3">
          <label for="inputState"> &nbsp;</label>
          <input #edtMeses type="number" class="form-control" id="inputAddress" [value]="0" >
          <label style="margin-left: 1%">Meses</label>
      </div>
      </div>
      <hr style="border-color: black">
      <div class="form-row">
          <div class="form-group col-md-12">
            <label for="inputState" style="color: black,bold">Contacto Empleo</label>
        </div>
      </div>
      <div class="form-row">
              <div class="form-group col-md-4">
              <label style="margin-left: 0%">Nombre</label>
              <input #edtNombre  class="form-control" id="inputAddress" >
          </div>
  
          <div class="form-group col-md-4">
              <label for="inputState"> &nbsp;</label>
              <label style="margin-left: 1%">Apellido Paterno</label>
              <input #edtApellidoP class="form-control" id="inputAddress" >
          </div>
          <div class="form-group col-md-4">
              <label style="margin-left: 0%">Apellido Materno</label>
              <input #edtApellidoM class="form-control" id="inputAddress" >
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6 " style="margin-top: 0%">
            <label>Género: </label>
            <div class="custom-control custom-radio custom-control-inline" style="margin-left: 2%" >
                <input #genero type="radio" [checked]="generoF" id="customRadioInline1" value="F" class="custom-control-input" (click)="onClickCambiaGenero(false)">
                <label class="custom-control-label" for="customRadioInline1">F</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input #genero value="M" type="radio" [checked]="generoM" id="customRadioInline2" class="custom-control-input" (click)="onClickCambiaGenero(true)">
                <label class="custom-control-label" for="customRadioInline2">M</label>
            </div>
        </div>
      </div>
  
      
  
        
      <div class="form-row">
  
          <div class="form-group col-md-2 text-right offset-8" style="margin-top: 3%">
              <button type="button" (click)="onClickOtroEmpleo()" class="btn btn-outline-danger btn-l manita">Limpiar</button>
  
          </div>
          <div class="form-group col-md-2 text-center " style="margin-top: 3%">
  
              <button (click)="onSaveClick()" type="button" class="btn  btn-outline-success btn-l manita">Guardar</button>
          </div>
      </div>
      <hr style="border-color: black">




      <div class="form-row">

          <div class=" form-group col-md 12">

              <h5>Lista de empleos</h5>
              <table class="table">
                  <thead>
                      <tr>
                          <th scope="col">Tipo Empleo</th>
                          <th scope="col">Empresa</th>
                          <th scope="col">Puesto</th>
                          <th scope="col">Ingreso</th>
                          <th scope="col"></th>
                          <th scope="col"></th>
                          <th scope="col"></th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let infoEmpleo of listEmpleosConyuge">
                          <td>{{getTipoNombreEmpleo(infoEmpleo.empleo)}}</td>
                          <td>{{infoEmpleo.empleo.nombreEmpresa}}</td>
                          <td>{{infoEmpleo.empleo.puesto}}</td>
                          <td>{{infoEmpleo.empleo.ingresoMensual}}</td>

                          <td><i (click)="onClickAgregarDocumentos(infoEmpleo)" class=" manita material-icons " data-toggle="tooltip" data-placement="top" title="Agregar documentos del empleo" style="color:blue">add_circle</i></td>
                          <td><i (click)="onClickDomicilioEmpleo(infoEmpleo)" class=" manita material-icons" data-toggle="tooltip" data-placement="top" title="Agregar Domicilio del empleo" style="color: blue">add_location</i></td>
                          <td><i (click)="onClickEditarEmpelo(infoEmpleo)" class="manita material-icons" style="color: green">edit</i></td>
                          <td><i (click)="onClickEliminarEmpleo(infoEmpleo)" class="manita material-icons" style="color: red"> delete</i></td>

                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  
</form>


<!--<app-modal-domicilio-empleo-conyuge [openModal]="openModaldDomicilioEmpleo" [dataInput]="{idEmpleo:empleoSeleccionado?.empleo.idEmpleo,domicilioEmpleo:empleoSeleccionado?.domicilioEmpleo}" (dataDomicilioEmpleo)="respDataModalEmpleoConyuge($event)">
</app-modal-domicilio-empleo-conyuge>
-->
<app-modal-documentos-empleo-conyuge [openModal]="openModaldDocumentosEmpleo" [empleoSeleccionado]="empleoSeleccionado?.empleo" (dataDocumentosEmpleo)="resposeDataDocumentosEmpleo($event)">
</app-modal-documentos-empleo-conyuge>


<app-modal-guardar [openModal]="openModalConfirm" [dataInput]="dataInputModalConfirm" [esNuevaSolcitud]="false" (dataGuardar)='onConfirmModal($event)'>
</app-modal-guardar>
<app-modal-guardar [openModal]="openModalGuardar" [dataInput]="dataInput" (dataGuardar)="responseDataGuardar($event)">
</app-modal-guardar>