<div class="fondo-negro" *ngIf="openModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" style="display: inline-block" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Datos Contacto de Empleo del Conyuge</h5>
                    <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button> -->
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputPassword4">Nombre</label>
                                <input #edtNombre type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="inputAddress">Apellido Paterno</label>
                                <input #edtApellidoP type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">Apellido Materno</label>
                                <input #edtApellidoM type="text" class="form-control">
                            </div>
                        </div>

                        <div class="form-group custom-control-inline">
                            <label class="custom-control-inline">Genero: </label>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input #radioF (click)="onClickGenero(radioF.value)" class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="F">
                                <label class="custom-control-label" for="inlineRadio1">F</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input #radioM (click)="onClickGenero(radioM.value)" class="custom-control-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="M">
                                <label class="custom-control-label" for="inlineRadio2">M</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeModal(false,-1)">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="setContactoEmpleoCliente()">Guardar</button>
                </div>
            </div>
        </div>
    </div>

</div>